/* -------------------------------------------------------------------
colors
-------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/* line 18, ../sass/_colors.scss */
.clr-body {
  color: #555555;
}

/* line 19, ../sass/_colors.scss */
.clr-body1 {
  color: #7b7b7b;
}

/* line 20, ../sass/_colors.scss */
.clr-body2 {
  color: #c8c8c8;
}

/* line 21, ../sass/_colors.scss */
.clr-body3 {
  color: #d4d4d4;
}

/* line 22, ../sass/_colors.scss */
.clr-body4 {
  color: #e1e1e1;
}

/* line 23, ../sass/_colors.scss */
.clr-body5 {
  color: #eeeeee;
}

/* line 24, ../sass/_colors.scss */
.clr-body-bg {
  background-color: #555555;
}

/* line 25, ../sass/_colors.scss */
.clr-body1-bg {
  background-color: #7b7b7b;
}

/* line 26, ../sass/_colors.scss */
.clr-body2-bg {
  background-color: #c8c8c8;
}

/* line 27, ../sass/_colors.scss */
.clr-body3-bg {
  background-color: #d4d4d4;
}

/* line 28, ../sass/_colors.scss */
.clr-body4-bg {
  background-color: #e1e1e1;
}

/* line 29, ../sass/_colors.scss */
.clr-body5-bg {
  background-color: #eeeeee;
}

/*--- color groups ---*/
/*reds*/
/* line 37, ../sass/_colors.scss */
.clr-neg1 {
  color: #ffcccc;
}

/* line 38, ../sass/_colors.scss */
.clr-neg2 {
  color: red;
}

/* line 39, ../sass/_colors.scss */
.clr-neg3 {
  color: #b30000;
}

/* line 40, ../sass/_colors.scss */
.clr-neg1-bg {
  background-color: #ffcccc;
}

/* line 41, ../sass/_colors.scss */
.clr-neg2-bg {
  background-color: red;
}

/* line 42, ../sass/_colors.scss */
.clr-neg3-bg {
  background-color: #b30000;
}

/*greens*/
/* line 48, ../sass/_colors.scss */
.clr-pos1 {
  color: #b1e8c1;
}

/* line 49, ../sass/_colors.scss */
.clr-pos2 {
  color: #4fca74;
}

/* line 50, ../sass/_colors.scss */
.clr-pos3 {
  color: #1e6232;
}

/* line 51, ../sass/_colors.scss */
.clr-pos1-bg {
  background-color: #b1e8c1;
}

/* line 52, ../sass/_colors.scss */
.clr-pos2-bg {
  background-color: #4fca74;
}

/* line 53, ../sass/_colors.scss */
.clr-pos3-bg {
  background-color: #1e6232;
}

/*yellows*/
/* line 59, ../sass/_colors.scss */
.clr-alert1 {
  color: #fff5cd;
}

/* line 60, ../sass/_colors.scss */
.clr-alert2 {
  color: #ffe167;
}

/* line 61, ../sass/_colors.scss */
.clr-alert3 {
  color: #9a7c00;
}

/* line 62, ../sass/_colors.scss */
.clr-alert1-bg {
  background-color: #fff5cd;
}

/* line 63, ../sass/_colors.scss */
.clr-alert2-bg {
  background-color: #ffe167;
}

/* line 64, ../sass/_colors.scss */
.clr-alert3-bg {
  background-color: #9a7c00;
}

/*pinks*/
/* line 70, ../sass/_colors.scss */
.clr-loud1 {
  color: #eec4dd;
}

/* line 71, ../sass/_colors.scss */
.clr-loud2 {
  color: #da7db3;
}

/* line 72, ../sass/_colors.scss */
.clr-loud3 {
  color: #a83075;
}

/* line 73, ../sass/_colors.scss */
.clr-loud1-bg {
  background-color: #eec4dd;
}

/* line 74, ../sass/_colors.scss */
.clr-loud2-bg {
  background-color: #da7db3;
}

/* line 75, ../sass/_colors.scss */
.clr-loud3-bg {
  background-color: #a83075;
}

/*blues*/
/* line 81, ../sass/_colors.scss */
.clr-cool1 {
  color: #8ddfff;
}

/* line 82, ../sass/_colors.scss */
.clr-cool2 {
  color: #00aef3;
}

/* line 83, ../sass/_colors.scss */
.clr-cool3 {
  color: #00658d;
}

/* line 84, ../sass/_colors.scss */
.clr-cool1-bg {
  background-color: #8ddfff;
}

/* line 85, ../sass/_colors.scss */
.clr-cool2-bg {
  background-color: #00aef3;
}

/* line 86, ../sass/_colors.scss */
.clr-cool3-bg {
  background-color: #00658d;
}

/*--- color groups ---*/
/*--- brands ---*/
/* line 99, ../sass/_colors.scss */
.clr-gigya {
  color: #1f5ba7;
}

/* line 100, ../sass/_colors.scss */
.clr-gigyal {
  color: #cae7f9;
}

/* line 101, ../sass/_colors.scss */
.clr-gigya-bg {
  background-color: #1f5ba7;
}

/* line 102, ../sass/_colors.scss */
.clr-gigyal-bg {
  background-color: #cae7f9;
}

/* line 107, ../sass/_colors.scss */
.clr-sc {
  color: #ff9112;
}

/* line 108, ../sass/_colors.scss */
.clr-scl {
  color: #fcc884;
}

/* line 109, ../sass/_colors.scss */
.clr-scd {
  color: salmon;
}

/* line 110, ../sass/_colors.scss */
.clr-sc-bg {
  background-color: #ff9112;
}

/* line 111, ../sass/_colors.scss */
.clr-scl-bg {
  background-color: #fcc884;
}

/* line 112, ../sass/_colors.scss */
.clr-scd-bg {
  background-color: salmon;
}

/* line 117, ../sass/_colors.scss */
.clr-moey {
  color: #00aef3;
}

/* line 118, ../sass/_colors.scss */
.clr-moeyl {
  color: #c0edff;
}

/* line 119, ../sass/_colors.scss */
.clr-moeyd {
  color: #0077a6;
}

/* line 120, ../sass/_colors.scss */
.clr-moey-bg {
  background-color: #00aef3;
}

/* line 121, ../sass/_colors.scss */
.clr-moeyl-bg {
  background-color: #c0edff;
}

/* line 122, ../sass/_colors.scss */
.clr-moeyd-bg {
  background-color: #0077a6;
}

/* line 126, ../sass/_colors.scss */
.clr-amnh {
  color: #0074bd;
}

/* line 127, ../sass/_colors.scss */
.clr-amnhl {
  color: #7ebfe9;
}

/* line 128, ../sass/_colors.scss */
.clr-amnh-bg {
  background-color: #0074bd;
}

/* line 129, ../sass/_colors.scss */
.clr-amnhl-bg {
  background-color: #7ebfe9;
}

/* line 134, ../sass/_colors.scss */
.clr-mr {
  color: #ffb541;
}

/* line 135, ../sass/_colors.scss */
.clr-mrl {
  color: #ffdda7;
}

/* line 136, ../sass/_colors.scss */
.clr-mrd {
  color: #da8500;
}

/* line 137, ../sass/_colors.scss */
.clr-mr-bg {
  background-color: #ffb541;
}

/* line 138, ../sass/_colors.scss */
.clr-mrl-bg {
  background-color: #ffdda7;
}

/* line 139, ../sass/_colors.scss */
.clr-mrd-bg {
  background-color: #da8500;
}

/* line 143, ../sass/_colors.scss */
.clr-nick {
  color: #ff7b00;
}

/* line 144, ../sass/_colors.scss */
.clr-nickl {
  color: #ffca99;
}

/* line 145, ../sass/_colors.scss */
.clr-nick-bg {
  background-color: #ff7b00;
}

/* line 146, ../sass/_colors.scss */
.clr-nickl-bg {
  background-color: #ffca99;
}

/* line 149, ../sass/_colors.scss */
.clr-ibml {
  color: #2677c8;
}

/* -------------------------------------------------------------------
colors
-------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/* line 18, ../sass/_colors.scss */
.clr-body {
  color: #555555;
}

/* line 19, ../sass/_colors.scss */
.clr-body1 {
  color: #7b7b7b;
}

/* line 20, ../sass/_colors.scss */
.clr-body2 {
  color: #c8c8c8;
}

/* line 21, ../sass/_colors.scss */
.clr-body3 {
  color: #d4d4d4;
}

/* line 22, ../sass/_colors.scss */
.clr-body4 {
  color: #e1e1e1;
}

/* line 23, ../sass/_colors.scss */
.clr-body5 {
  color: #eeeeee;
}

/* line 24, ../sass/_colors.scss */
.clr-body-bg {
  background-color: #555555;
}

/* line 25, ../sass/_colors.scss */
.clr-body1-bg {
  background-color: #7b7b7b;
}

/* line 26, ../sass/_colors.scss */
.clr-body2-bg {
  background-color: #c8c8c8;
}

/* line 27, ../sass/_colors.scss */
.clr-body3-bg {
  background-color: #d4d4d4;
}

/* line 28, ../sass/_colors.scss */
.clr-body4-bg {
  background-color: #e1e1e1;
}

/* line 29, ../sass/_colors.scss */
.clr-body5-bg {
  background-color: #eeeeee;
}

/*--- color groups ---*/
/*reds*/
/* line 37, ../sass/_colors.scss */
.clr-neg1 {
  color: #ffcccc;
}

/* line 38, ../sass/_colors.scss */
.clr-neg2 {
  color: red;
}

/* line 39, ../sass/_colors.scss */
.clr-neg3 {
  color: #b30000;
}

/* line 40, ../sass/_colors.scss */
.clr-neg1-bg {
  background-color: #ffcccc;
}

/* line 41, ../sass/_colors.scss */
.clr-neg2-bg {
  background-color: red;
}

/* line 42, ../sass/_colors.scss */
.clr-neg3-bg {
  background-color: #b30000;
}

/*greens*/
/* line 48, ../sass/_colors.scss */
.clr-pos1 {
  color: #b1e8c1;
}

/* line 49, ../sass/_colors.scss */
.clr-pos2 {
  color: #4fca74;
}

/* line 50, ../sass/_colors.scss */
.clr-pos3 {
  color: #1e6232;
}

/* line 51, ../sass/_colors.scss */
.clr-pos1-bg {
  background-color: #b1e8c1;
}

/* line 52, ../sass/_colors.scss */
.clr-pos2-bg {
  background-color: #4fca74;
}

/* line 53, ../sass/_colors.scss */
.clr-pos3-bg {
  background-color: #1e6232;
}

/*yellows*/
/* line 59, ../sass/_colors.scss */
.clr-alert1 {
  color: #fff5cd;
}

/* line 60, ../sass/_colors.scss */
.clr-alert2 {
  color: #ffe167;
}

/* line 61, ../sass/_colors.scss */
.clr-alert3 {
  color: #9a7c00;
}

/* line 62, ../sass/_colors.scss */
.clr-alert1-bg {
  background-color: #fff5cd;
}

/* line 63, ../sass/_colors.scss */
.clr-alert2-bg {
  background-color: #ffe167;
}

/* line 64, ../sass/_colors.scss */
.clr-alert3-bg {
  background-color: #9a7c00;
}

/*pinks*/
/* line 70, ../sass/_colors.scss */
.clr-loud1 {
  color: #eec4dd;
}

/* line 71, ../sass/_colors.scss */
.clr-loud2 {
  color: #da7db3;
}

/* line 72, ../sass/_colors.scss */
.clr-loud3 {
  color: #a83075;
}

/* line 73, ../sass/_colors.scss */
.clr-loud1-bg {
  background-color: #eec4dd;
}

/* line 74, ../sass/_colors.scss */
.clr-loud2-bg {
  background-color: #da7db3;
}

/* line 75, ../sass/_colors.scss */
.clr-loud3-bg {
  background-color: #a83075;
}

/*blues*/
/* line 81, ../sass/_colors.scss */
.clr-cool1 {
  color: #8ddfff;
}

/* line 82, ../sass/_colors.scss */
.clr-cool2 {
  color: #00aef3;
}

/* line 83, ../sass/_colors.scss */
.clr-cool3 {
  color: #00658d;
}

/* line 84, ../sass/_colors.scss */
.clr-cool1-bg {
  background-color: #8ddfff;
}

/* line 85, ../sass/_colors.scss */
.clr-cool2-bg {
  background-color: #00aef3;
}

/* line 86, ../sass/_colors.scss */
.clr-cool3-bg {
  background-color: #00658d;
}

/*--- color groups ---*/
/*--- brands ---*/
/* line 99, ../sass/_colors.scss */
.clr-gigya {
  color: #1f5ba7;
}

/* line 100, ../sass/_colors.scss */
.clr-gigyal {
  color: #cae7f9;
}

/* line 101, ../sass/_colors.scss */
.clr-gigya-bg {
  background-color: #1f5ba7;
}

/* line 102, ../sass/_colors.scss */
.clr-gigyal-bg {
  background-color: #cae7f9;
}

/* line 107, ../sass/_colors.scss */
.clr-sc {
  color: #ff9112;
}

/* line 108, ../sass/_colors.scss */
.clr-scl {
  color: #fcc884;
}

/* line 109, ../sass/_colors.scss */
.clr-scd {
  color: salmon;
}

/* line 110, ../sass/_colors.scss */
.clr-sc-bg {
  background-color: #ff9112;
}

/* line 111, ../sass/_colors.scss */
.clr-scl-bg {
  background-color: #fcc884;
}

/* line 112, ../sass/_colors.scss */
.clr-scd-bg {
  background-color: salmon;
}

/* line 117, ../sass/_colors.scss */
.clr-moey {
  color: #00aef3;
}

/* line 118, ../sass/_colors.scss */
.clr-moeyl {
  color: #c0edff;
}

/* line 119, ../sass/_colors.scss */
.clr-moeyd {
  color: #0077a6;
}

/* line 120, ../sass/_colors.scss */
.clr-moey-bg {
  background-color: #00aef3;
}

/* line 121, ../sass/_colors.scss */
.clr-moeyl-bg {
  background-color: #c0edff;
}

/* line 122, ../sass/_colors.scss */
.clr-moeyd-bg {
  background-color: #0077a6;
}

/* line 126, ../sass/_colors.scss */
.clr-amnh {
  color: #0074bd;
}

/* line 127, ../sass/_colors.scss */
.clr-amnhl {
  color: #7ebfe9;
}

/* line 128, ../sass/_colors.scss */
.clr-amnh-bg {
  background-color: #0074bd;
}

/* line 129, ../sass/_colors.scss */
.clr-amnhl-bg {
  background-color: #7ebfe9;
}

/* line 134, ../sass/_colors.scss */
.clr-mr {
  color: #ffb541;
}

/* line 135, ../sass/_colors.scss */
.clr-mrl {
  color: #ffdda7;
}

/* line 136, ../sass/_colors.scss */
.clr-mrd {
  color: #da8500;
}

/* line 137, ../sass/_colors.scss */
.clr-mr-bg {
  background-color: #ffb541;
}

/* line 138, ../sass/_colors.scss */
.clr-mrl-bg {
  background-color: #ffdda7;
}

/* line 139, ../sass/_colors.scss */
.clr-mrd-bg {
  background-color: #da8500;
}

/* line 143, ../sass/_colors.scss */
.clr-nick {
  color: #ff7b00;
}

/* line 144, ../sass/_colors.scss */
.clr-nickl {
  color: #ffca99;
}

/* line 145, ../sass/_colors.scss */
.clr-nick-bg {
  background-color: #ff7b00;
}

/* line 146, ../sass/_colors.scss */
.clr-nickl-bg {
  background-color: #ffca99;
}

/* line 149, ../sass/_colors.scss */
.clr-ibml {
  color: #2677c8;
}

/*------- custome ----------*/
/* ----------------------------------------------
sass mixins
-----------------------------------------------*/
/* ----------------------------------------------
colors
-----------------------------------------------*/
/*--- defaults colors ----*/
/* line 24, ../sass/cmi.scss */
.clr-lightest {
  color: white;
}

/* line 25, ../sass/cmi.scss */
.clr-darkest {
  color: #414141;
}

/* line 26, ../sass/cmi.scss */
.clr-cmibrand {
  color: #f4b90b;
}

/* line 27, ../sass/cmi.scss */
.clr-cmibrand {
  color: #f4b90b;
}

/* line 28, ../sass/cmi.scss */
.clr-bg-lightest {
  background-color: white;
}

/* line 29, ../sass/cmi.scss */
.clr-bg-darkest {
  background-color: #414141;
}

/* line 30, ../sass/cmi.scss */
.clr-bg-cmibrand {
  background-color: #f4b90b;
}

/*Backgrounds*/
/* line 37, ../sass/cmi.scss */
.clr-bg-dark {
  background-color: #535353;
}

/* line 38, ../sass/cmi.scss */
.clr-bg-darker {
  background-color: #2f2f2f;
}

/* line 39, ../sass/cmi.scss */
.clr-bg-light {
  background-color: #f3f3f3;
}

/* line 40, ../sass/cmi.scss */
.clr-bg-lighter {
  background-color: white;
}

/*body*/
/* line 49, ../sass/cmi.scss */
.clr-body1 {
  color: #f3f3f3;
}

/* line 50, ../sass/cmi.scss */
.clr-body2 {
  color: #535353;
}

/* line 51, ../sass/cmi.scss */
.clr-body3 {
  color: #2a2a2a;
}

/* line 52, ../sass/cmi.scss */
.clr-body4 {
  color: #303030;
}

/* line 53, ../sass/cmi.scss */
.clr-link {
  color: #b77e05;
}

/* line 54, ../sass/cmi.scss */
.clr-linkl {
  color: #f4b90b;
}

/* line 55, ../sass/cmi.scss */
.clr-bg-body1 {
  background-color: #f3f3f3;
}

/* line 56, ../sass/cmi.scss */
.clr-bg-body2 {
  background-color: #535353;
}

/* line 57, ../sass/cmi.scss */
.clr-bg-body3 {
  background-color: #2a2a2a;
}

/* line 58, ../sass/cmi.scss */
.clr-bg-body4 {
  background-color: #303030;
}

/* line 59, ../sass/cmi.scss */
.clr-bg-link {
  background-color: #b77e05;
}

/* line 60, ../sass/cmi.scss */
.clr-bg-linkl {
  background-color: #f4b90b;
}

/*Warm*/
/* line 68, ../sass/cmi.scss */
.clr-warm1 {
  color: #f4b90b;
}

/* line 69, ../sass/cmi.scss */
.clr-warm2 {
  color: #f09e11;
}

/* line 70, ../sass/cmi.scss */
.clr-warm3 {
  color: #e67f22;
}

/* line 71, ../sass/cmi.scss */
.clr-warm4 {
  color: #d05300;
}

/* line 72, ../sass/cmi.scss */
.clr-warm5 {
  color: #bf3930;
}

/* line 73, ../sass/cmi.scss */
.clr-bg-warm1 {
  background-color: #f4b90b;
}

/* line 74, ../sass/cmi.scss */
.clr-bg-warm2 {
  background-color: #f09e11;
}

/* line 75, ../sass/cmi.scss */
.clr-bg-warm3 {
  background-color: #e67f22;
}

/* line 76, ../sass/cmi.scss */
.clr-bg-warm4 {
  background-color: #d05300;
}

/* line 77, ../sass/cmi.scss */
.clr-bg-warm5 {
  background-color: #bf3930;
}

/*Cool*/
/* line 82, ../sass/cmi.scss */
.clr-warm1 {
  color: #25253a;
}

/* line 83, ../sass/cmi.scss */
.clr-warm2 {
  color: #0071bc;
}

/*positive/negative*/
/* line 90, ../sass/cmi.scss */
.clr-pos1 {
  color: #2ecc71;
}

/* line 91, ../sass/cmi.scss */
.clr-pos2 {
  color: #00a785;
}

/* line 92, ../sass/cmi.scss */
.clr-neg1 {
  color: #f4938b;
}

/* line 93, ../sass/cmi.scss */
.clr-neg2 {
  color: #e74c3c;
}

/* line 94, ../sass/cmi.scss */
.clr-bg-pos1 {
  background-color: #2ecc71;
}

/* line 95, ../sass/cmi.scss */
.clr-bg-pos2 {
  background-color: #00a785;
}

/* line 96, ../sass/cmi.scss */
.clr-bg-neg1 {
  background-color: #f4938b;
}

/* line 97, ../sass/cmi.scss */
.clr-bg-neg2 {
  background-color: #e74c3c;
}

/*spectrum*/
/* line 104, ../sass/cmi.scss */
.clr-yellow1 {
  color: #f4b90b;
}

/* line 105, ../sass/cmi.scss */
.clr-green1 {
  color: #2ecc71;
}

/* line 106, ../sass/cmi.scss */
.clr-aqua1 {
  color: #1abc9c;
}

/* line 107, ../sass/cmi.scss */
.clr-purple1 {
  color: #9b59b6;
}

/* line 108, ../sass/cmi.scss */
.clr-bg-yellow1 {
  background-color: #f4b90b;
}

/* line 109, ../sass/cmi.scss */
.clr-bg-green1 {
  background-color: #2ecc71;
}

/* line 110, ../sass/cmi.scss */
.clr-bg-aqua1 {
  background-color: #1abc9c;
}

/* line 111, ../sass/cmi.scss */
.clr-bg-purple1 {
  background-color: #9b59b6;
}

/* ----------------------------------------------
resets
-----------------------------------------------*/
/* line 125, ../sass/cmi.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-transform: none;
}

/* HTML5 display-role reset for older browsers */
/* line 135, ../sass/cmi.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 138, ../sass/cmi.scss */
html, body {
  line-height: 1;
  background-color: white;
}

/* line 142, ../sass/cmi.scss */
ol, ul {
  list-style: none;
}

/* line 145, ../sass/cmi.scss */
blockquote, q {
  quotes: none;
}

/* line 149, ../sass/cmi.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 153, ../sass/cmi.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------------
containers
-----------------------------------------------*/
/* line 161, ../sass/cmi.scss */
* {
  margin: 0;
  box-sizing: border-box;
}

/* line 165, ../sass/cmi.scss */
html, body {
  height: 100%;
  background-color: white;
}

/* line 169, ../sass/cmi.scss */
#wrapper {
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0;
  /* the bottom margin is the negative value of the footer's height */
  background-color: white;
}

/* ----------------------------------------------
text
-----------------------------------------------*/
/* line 182, ../sass/cmi.scss */
h1, h2, h3, h4, h5, h6, body, .megaheadline {
  font-family: 'Raleway','Open Sans',Arial,Helvetica,sans-serif;
  font-weight: 600;
  color: #414141;
  margin: 0 0 1% 0;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 700px) {
  /* line 182, ../sass/cmi.scss */
  h1, h2, h3, h4, h5, h6, body, .megaheadline {
    line-height: 1.25;
  }
}

/* line 192, ../sass/cmi.scss */
.megaheadline {
  color: #f4b90b;
  font-size: 75px;
  margin: 0 0 1% 0;
  line-height: 1;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#333')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#333')";
}
@media (max-width: 700px) {
  /* line 192, ../sass/cmi.scss */
  .megaheadline {
    font-size: 40px;
  }
}

/* line 200, ../sass/cmi.scss */
h1 {
  font-size: 36px;
  margin: 0 0 2.5% 0;
}
@media (max-width: 700px) {
  /* line 200, ../sass/cmi.scss */
  h1 {
    font-size: 30px;
  }
}

/* line 201, ../sass/cmi.scss */
h2 {
  font-size: 30px;
  margin: 0 0 2.2% 0;
}
@media (max-width: 700px) {
  /* line 201, ../sass/cmi.scss */
  h2 {
    font-size: 25px;
  }
}

/* line 202, ../sass/cmi.scss */
h3 {
  font-size: 24px;
  margin: 0 0 2.0% 0;
}
@media (max-width: 700px) {
  /* line 202, ../sass/cmi.scss */
  h3 {
    font-size: 20px;
  }
}

/* line 203, ../sass/cmi.scss */
h4 {
  font-size: 18px;
  margin: 0 0 1.2% 0;
}

/* line 204, ../sass/cmi.scss */
h5 {
  font-size: 14px;
  margin: 0 0 1.5% 0;
}

/* line 205, ../sass/cmi.scss */
h6 {
  font-size: 12px;
  margin: 0 0 1.5% 0;
  text-transform: uppercase;
}

/* line 207, ../sass/cmi.scss */
body, p {
  font-size: 14px;
  font-weight: normal;
}

/* line 212, ../sass/cmi.scss */
a, button, .fa {
  color: #b77e05;
}
/* line 214, ../sass/cmi.scss */
a:hover, button:hover, .fa:hover {
  color: #f4b90b;
}

/* line 219, ../sass/cmi.scss */
button, .fa {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

/* line 225, ../sass/cmi.scss */
.fa {
  font-size: 26px;
}

/* line 229, ../sass/cmi.scss */
button {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  line-height: 12px;
  height: 40px;
  margin: 0;
  padding: 0 1rem;
  border: none;
  color: white;
  background-color: #b77e05;
  border-radius: 4px;
  cursor: pointer;
}
/* line 243, ../sass/cmi.scss */
button:hover {
  color: white;
  background-color: #f4b90b;
}

/* line 249, ../sass/cmi.scss */
.box {
  min-height: 10px;
  background-color: #f3f3f3;
  outline: 1px solid #f3f3f3;
}

/* line 255, ../sass/cmi.scss */
header {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #2f2f2f;
  height: 96px;
}
/* line 262, ../sass/cmi.scss */
header .logobox {
  position: relative;
  display: inline-block;
  width: 15%;
  height: 90px;
  float: left;
}
/* line 269, ../sass/cmi.scss */
header .logobox img {
  position: relative;
  top: 50%;
  float: left;
  margin: 0 5%;
  transform: translate(0, -50%);
  width: 90%;
}
/* line 278, ../sass/cmi.scss */
header .menubox {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 96px;
}
@media (max-width: 800px) {
  /* line 278, ../sass/cmi.scss */
  header .menubox {
    width: 90%;
    padding: 0 1% 0 5%;
  }
}
/* line 288, ../sass/cmi.scss */
header .username {
  position: absolute;
  top: 50%;
  right: 115px;
  transform: translate(0, -50%);
}
@media (max-width: 800px) {
  /* line 288, ../sass/cmi.scss */
  header .username {
    left: 5%;
  }
}
/* line 297, ../sass/cmi.scss */
header .fa {
  position: relative;
  top: 50%;
  float: right;
  margin-left: 3%;
  transform: translate(0, -50%);
}
/* line 304, ../sass/cmi.scss */
header .selected {
  color: white;
}

/* line 308, ../sass/cmi.scss */
.footer {
  color: white;
  background-color: #2f2f2f;
  width: 100%;
}
/* line 312, ../sass/cmi.scss */
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6, .footer p, .footer body {
  color: white;
}

/* line 317, ../sass/cmi.scss */
.bblock {
  position: relative;
  top: -5px;
  background-color: #f3f3f3;
  padding: 4% 1% 1% 1%;
}

/*************/
/* AR VIEWER */
/*************/
/* line 328, ../sass/cmi.scss */
#arviewer {
  height: 1920px;
  width: 9600px;
}
/* line 331, ../sass/cmi.scss */
#arviewer img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 336, ../sass/cmi.scss */
#arviewer .arcallout {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 50px;
  height: 50px;
  background: #f4b90b;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 344, ../sass/cmi.scss */
#arviewer .arcallout h2 {
  position: absolute;
  margin: 0;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* line 353, ../sass/cmi.scss */
#arviewer .arcallout.ar1 {
  top: 68%;
  left: 1.2%;
}
/* line 354, ../sass/cmi.scss */
#arviewer .arcallout.ar2 {
  top: 67%;
  left: 5%;
}
/* line 355, ../sass/cmi.scss */
#arviewer .arcallout.ar3 {
  top: 69%;
  left: 11%;
}
/* line 356, ../sass/cmi.scss */
#arviewer .arcallout.ar4 {
  top: 50%;
  left: 89%;
}

/****************/
/*     Modal    */
/****************/
/* The Modal (backgrounds) */
/* line 365, ../sass/cmi.scss */
.cmi-modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 10, 0.8);
  -webkit-transition: opacity 300ms ease-in;
  -moz-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  pointer-events: none;
  overflow: scroll;
  z-index: 99999;
}
/* line 376, ../sass/cmi.scss */
.cmi-modalDialog ::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* line 382, ../sass/cmi.scss */
.cmi-modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

/* line 387, ../sass/cmi.scss */
.cmi-modalDialog > div {
  width: 90%;
  min-height: 80%;
  position: relative;
  margin: 5% auto;
  padding-bottom: 2%;
  border-radius: 1 solid #f4b90b;
  background: #0071bc;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 396, ../sass/cmi.scss */
.cmi-modalDialog > div .title {
  background-color: #f3f3f3;
}

/* line 402, ../sass/cmi.scss */
.ar-splash iframe {
  width: 100%;
  height: 730px;
}

/* line 409, ../sass/cmi.scss */
ul.ar-content h2, ul.ar-content h3 {
  padding: 1rem 1rem 0 1rem;
}
/* line 412, ../sass/cmi.scss */
ul.ar-content p {
  padding: 0 1rem 1rem 1rem;
}
/* line 415, ../sass/cmi.scss */
ul.ar-content li {
  width: 96%;
  height: 500px;
  margin: 2% 2% 0% 2%;
  background-color: #f3f3f3;
}
/* line 421, ../sass/cmi.scss */
ul.ar-content li.ar-video iframe {
  position: relative;
  display: inline-block;
  float: left;
  width: 60%;
  height: 100%;
}
/* line 428, ../sass/cmi.scss */
ul.ar-content li.ar-video .storyblock {
  position: relative;
  display: inline-block;
  width: 40%;
}

/* line 437, ../sass/cmi.scss */
.modalClose {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 35px;
  height: 35px;
  margin: 0;
  color: #f4938b;
  background: #e74c3c;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 447, ../sass/cmi.scss */
.modalClose:hover {
  color: #e74c3c;
  background: #f4938b;
}
/* line 451, ../sass/cmi.scss */
.modalClose.fa {
  padding-top: 4px;
  text-decoration: none;
  text-align: center;
}

/*************/
/* RFID PAGE */
/*************/
/* line 462, ../sass/cmi.scss */
#rfid-itembox li, #rfid-leftovers li {
  position: relative;
  display: inline-block;
  margin: 0 0 2% 0;
  width: 100%;
  height: 200px;
  background-color: #f3f3f3;
  overflow: hidden;
}
/* line 470, ../sass/cmi.scss */
#rfid-itembox li .textblock, #rfid-leftovers li .textblock {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
}
/* line 476, ../sass/cmi.scss */
#rfid-itembox li img, #rfid-leftovers li img {
  position: relative;
  display: inline-block;
  float: left;
  max-width: 50%;
}
/* line 482, ../sass/cmi.scss */
#rfid-itembox li h4, #rfid-itembox li p, #rfid-leftovers li h4, #rfid-leftovers li p {
  position: relative;
  display: inline-block;
  float: left;
  padding: .5rem 0 0 1rem;
  width: 50%;
}

/* line 493, ../sass/cmi.scss */
#rfid-leftovers li {
  width: 17.7%;
  margin-right: 2%;
  height: 312px;
  /*@include border-radius-all;*/
}
@media (max-width: 700px) {
  /* line 493, ../sass/cmi.scss */
  #rfid-leftovers li {
    width: 24%;
    margin-right: 0%;
    height: 175px;
  }
}
/* line 504, ../sass/cmi.scss */
#rfid-leftovers li img {
  display: block;
  float: left;
  max-width: 100%;
}
/* line 509, ../sass/cmi.scss */
#rfid-leftovers li h4, #rfid-leftovers li p {
  display: block;
  float: left;
  width: 100%;
}
@media (max-width: 700px) {
  /* line 509, ../sass/cmi.scss */
  #rfid-leftovers li h4, #rfid-leftovers li p {
    font-size: .8rem;
  }
}
