/* -------------------------------------------------------------------
colors
------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/*--- color groups ---*/
/*oranges*/
/*greens*/
/*reds*/
/*yellows*/
/*pinks*/
/*blues*/
/* light pink */
/*--- color groups ---*/
/* -------------------------------------------------------------------
colors
------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/*--- color groups ---*/
/*oranges*/
/*greens*/
/*reds*/
/*yellows*/
/*pinks*/
/*blues*/
/* light pink */
/*--- color groups ---*/
/*------- custome ---------*/
/* line 4, ../sass/main.scss */
* {
  margin: 0;
}

/* line 7, ../sass/main.scss */
html, body {
  height: 100%;
  background-color: white;
}

/* line 11, ../sass/main.scss */
#wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  margin: 0 auto -4rem;
  /* the bottom margin is the negative value of the footer's height */
  background-color: white;
  max-width: 1200px;
}

/*--------------------
text
--------------------*/
/* line 25, ../sass/main.scss */
.txt-hand {
  font-family: 'Nothing You Could Do', cursive;
}

/* line 26, ../sass/main.scss */
.txt-sketch {
  font-family: 'Cabin Sketch', cursive;
}

/* line 27, ../sass/main.scss */
.txt-code {
  font-family: 'Open Sans', sans-serif;
}

/* line 29, ../sass/main.scss */
h1, h2, h3 {
  text-align: center;
  clear: both;
  margin: 0 0 .5rem 0;
}

/* line 34, ../sass/main.scss */
h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

/* line 38, ../sass/main.scss */
h2 {
  font-size: 1.25rem;
}

/* line 41, ../sass/main.scss */
h3 {
  font-size: 1.25rem;
  display: block;
  text-align: left;
}

/* line 46, ../sass/main.scss */
p {
  margin-bottom: 1rem;
  line-height: 1.6rem;
  max-width: 500px;
}

/* line 51, ../sass/main.scss */
.fa {
  font-size: 2.5rem;
}

/* line 55, ../sass/main.scss */
a.linkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  opacity: 1;
}
/* line 61, ../sass/main.scss */
a.linkbox:hover {
  opacity: .5;
}

/*--------------------
containers
--------------------*/
/* line 69, ../sass/main.scss */
.bblock {
  width: 96%;
  padding: 2%;
  background-color: white;
}

/* line 75, ../sass/main.scss */
.gridbox {
  position: relative;
  display: inline-block;
  padding: 1%;
}
/* line 80, ../sass/main.scss */
.gridbox .halves li, .gridbox .thirds li, .gridbox .fourths li {
  display: inline-block;
  position: relative;
  float: left;
  margin: 0 1% 1% 0;
  background-color: #eee;
}
/* line 87, ../sass/main.scss */
.gridbox .halves li {
  display: inline-block;
  position: relative;
  width: 48.5%;
}
/* line 91, ../sass/main.scss */
.gridbox .halves li:nth-child(2n+2) {
  margin: 0 0 1% 0;
}
/* line 95, ../sass/main.scss */
.gridbox .thirds li {
  display: inline-block;
  position: relative;
  width: 32.66%;
}
/* line 99, ../sass/main.scss */
.gridbox .thirds li:nth-child(3n+3) {
  margin: 0 0 1% 0;
}
/* line 103, ../sass/main.scss */
.gridbox .fourths li {
  display: inline-block;
  position: relative;
  width: 24.25%;
}
/* line 107, ../sass/main.scss */
.gridbox .fourths li:nth-child(4n+4) {
  margin: 0 0 1% 0;
}

/*--------------------
header
--------------------*/
/* line 117, ../sass/main.scss */
header {
  position: relative;
  display: block;
  overflow: hidden;
  width: 96%;
  max-height: 300px;
  padding: 2%;
  background-color: white;
}
/* line 126, ../sass/main.scss */
header img.profile {
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 134, ../sass/main.scss */
header ul.nav {
  padding: 10%;
}
/* line 136, ../sass/main.scss */
header ul.nav h3 {
  color: #88deff;
}
/* line 139, ../sass/main.scss */
header ul.nav li, header ul.nav li a {
  color: white;
  display: block;
  clear: both;
}

/* line 147, ../sass/main.scss */
.contactbox {
  position: absolute;
  right: 2%;
}
/* line 150, ../sass/main.scss */
.contactbox a.fa {
  clear: right;
  margin-right: .5rem;
}

/*--------------------
home
--------------------*/
/* line 161, ../sass/main.scss */
.jobblocks {
  max-width: 1000px;
}
/* line 163, ../sass/main.scss */
.jobblocks li {
  position: relative;
  float: left;
  overflow: hidden;
  height: 300px;
  margin-bottom: 2%;
  background: #eee;
}
/* line 171, ../sass/main.scss */
.jobblocks li h1, .jobblocks li h2, .jobblocks li h3 {
  z-index: 4;
  text-align: left;
  margin-left: 1rem;
}
/* line 176, ../sass/main.scss */
.jobblocks li img.bg, .jobblocks li img.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* line 184, ../sass/main.scss */
.jobblocks li img.logo {
  z-index: 2;
  max-height: 100px;
  max-width: 90%;
}
/* line 189, ../sass/main.scss */
.jobblocks li img.bg, .jobblocks li .bg-nick {
  width: 100%;
  height: auto;
}
/* line 195, ../sass/main.scss */
.jobblocks .gigya img.logo {
  max-height: 70px;
}
/* line 199, ../sass/main.scss */
.jobblocks .gigya, .jobblocks .mediarecords {
  width: 32%;
  margin-right: 2%;
}
/* line 203, ../sass/main.scss */
.jobblocks .shuttercal, .jobblocks .nickelodeon {
  width: 66%;
}
/* line 206, ../sass/main.scss */
.jobblocks .moey, .jobblocks .amnh {
  width: 100%;
}

/* line 211, ../sass/main.scss */
.bg-nick {
  background: orange url(http://scottharris.info/media/images/nick-bg.jpg) no-repeat center/100%;
}

/* line 214, ../sass/main.scss */
.bg-amnh {
  background: lightblue url(http://scottharris.info/media/images/amnh-bg.jpg) no-repeat center/100%;
}

/*--------------------
footer
--------------------*/
/* line 223, ../sass/main.scss */
.footer, .push {
  height: 4rem;
  /* '.push' must be the same height as 'footer' */
}

/* line 226, ../sass/main.scss */
.footer {
  margin: 0 auto;
  background-color: #eee;
}
/* line 230, ../sass/main.scss */
.footer p {
  padding-top: 1rem;
  margin: 0 auto;
}

/*--------------------
space and place
--------------------*/
/* line 239, ../sass/main.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* line 240, ../sass/main.scss */
.clearfix {
  display: block;
}

/* line 241, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 242, ../sass/main.scss */
.cl {
  clear: left;
}

/* line 243, ../sass/main.scss */
.cr {
  clear: right;
}

/* line 244, ../sass/main.scss */
.outline {
  outline: 1px solid pink;
}

/* line 246, ../sass/main.scss */
.txtc {
  text-align: center;
}

/* line 247, ../sass/main.scss */
.txtl {
  text-align: left;
}

/* line 248, ../sass/main.scss */
.txtr {
  text-align: right;
}

/* line 250, ../sass/main.scss */
.fc {
  margin: 0 auto;
}

/* line 251, ../sass/main.scss */
.fl {
  float: left;
}

/* line 252, ../sass/main.scss */
.fr {
  float: right;
}

/* line 253, ../sass/main.scss */
.fv {
  vertical-align: middle;
}

/* line 254, ../sass/main.scss */
.fcc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

/* line 256, ../sass/main.scss */
.mit {
  margin: 1rem;
}

/* line 257, ../sass/main.scss */
.mt {
  margin-top: 1rem;
}

/* line 258, ../sass/main.scss */
.mb {
  margin-bottom: 1rem;
}

/* line 259, ../sass/main.scss */
.ml {
  margin-left: 1rem;
}

/* line 260, ../sass/main.scss */
.mr {
  margin-right: 1rem;
}

/* line 261, ../sass/main.scss */
.mw {
  margin: 0 1rem;
}

/* line 262, ../sass/main.scss */
.mh {
  margin: 1rem 0;
}

/* line 264, ../sass/main.scss */
.pit {
  padding: 1rem;
}

/* line 265, ../sass/main.scss */
.pt {
  padding-top: 1rem;
}

/* line 266, ../sass/main.scss */
.pb {
  padding-bottom: 1rem;
}

/* line 267, ../sass/main.scss */
.pl {
  padding-left: 1rem;
}

/* line 268, ../sass/main.scss */
.pr {
  padding-right: 1rem;
}

/* line 269, ../sass/main.scss */
.pw {
  padding: 0 1rem;
}

/* line 270, ../sass/main.scss */
.ph {
  padding: 1rem 0;
}

/*--------------------
project page (nick)
--------------------*/
/* line 275, ../sass/main.scss */
.projectheader {
  height: 300px;
  width: 100%;
  position: relative;
  resize: vertical;
  overflow: auto;
}
@media (max-width: 860px) {
  /* line 275, ../sass/main.scss */
  .projectheader {
    height: 230px;
  }
}
/* line 284, ../sass/main.scss */
.projectheader img {
  position: absolute;
  top: 50%;
  width: 80%;
  margin-left: 10%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  resize: both;
  overflow: auto;
}

/* line 296, ../sass/main.scss */
.projbox1 {
  width: 50%;
}
@media (max-width: 1000px) {
  /* line 296, ../sass/main.scss */
  .projbox1 {
    width: 40%;
  }
}
@media (max-width: 860px) {
  /* line 296, ../sass/main.scss */
  .projbox1 {
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
}
/* line 307, ../sass/main.scss */
.projbox1 h1 {
  float: left;
  width: 40%;
  padding: 10% 1%;
}
@media (max-width: 1100px) {
  /* line 307, ../sass/main.scss */
  .projbox1 h1 {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 94%;
    padding: 10% 3% 3% 3%;
  }
}
/* line 319, ../sass/main.scss */
.projbox1 p {
  float: right;
  width: 56%;
  padding: 10% 1% 1% 1%;
}
@media (max-width: 1100px) {
  /* line 319, ../sass/main.scss */
  .projbox1 p {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 94%;
    padding: 0 3% 1% 3%;
  }
}
/* line 331, ../sass/main.scss */
.projbox1 p + p {
  padding-top: 0;
}

/* line 336, ../sass/main.scss */
.nick-tv {
  position: absolute;
  top: 165px;
  right: 0px;
  width: 100%;
  max-width: 520px;
  float: right;
  z-index: 1;
}
@media (max-width: 860px) {
  /* line 336, ../sass/main.scss */
  .nick-tv {
    display: none;
  }
}
/* line 347, ../sass/main.scss */
.nick-tv img {
  pointer-events: none;
}

/* line 349, ../sass/main.scss */
.nick-vid {
  position: absolute;
  top: 230px;
  right: 140px;
  float: right;
  z-index: -2;
}

/* line 356, ../sass/main.scss */
.nick-vidfull {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 861px) {
  /* line 356, ../sass/main.scss */
  .nick-vidfull {
    display: none;
  }
}

/* line 364, ../sass/main.scss */
.nick-break {
  position: relative;
  display: block;
  border-top: 3px dashed orange;
  margin-top: 3%;
  width: 100%;
}

/* line 372, ../sass/main.scss */
.toolbox {
  position: relative;
  float: right;
  width: 40%;
}

/* line 378, ../sass/main.scss */
.software {
  float: right;
  margin: 0 1% 1% 0;
  padding-top: 22px;
  min-width: 100px;
  min-height: 78px;
  text-align: center;
  white-space: nowrap;
  color: white;
  background-color: #6f6f6f;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 388, ../sass/main.scss */
.software span, .software i {
  color: white;
  font-size: 2rem;
  display: block;
  clear: both;
}
/* line 394, ../sass/main.scss */
.software .fa {
  line-height: 2rem;
}
/* line 397, ../sass/main.scss */
.software.maya {
  background-color: #333;
}
/* line 398, ../sass/main.scss */
.software.psd {
  background-color: #3DC3FB;
}
/* line 399, ../sass/main.scss */
.software.ai {
  background-color: #FF731B;
}
/* line 400, ../sass/main.scss */
.software.ae {
  background-color: #CB9DFF;
}
