/* -------------------------------------------------------------------
colors
------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/*--- color groups ---*/
/*oranges*/
/*greens*/
/*reds*/
/*yellows*/
/*pinks*/
/*blues*/
/* light pink */
/*--- color groups ---*/
/* -------------------------------------------------------------------
colors
------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/*--- color groups ---*/
/*oranges*/
/*greens*/
/*reds*/
/*yellows*/
/*pinks*/
/*blues*/
/* light pink */
/*--- color groups ---*/
/*------- scott ---------*/
/* line 4, ../sass/main.scss */
* {
  margin: 0;
}

/* line 7, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/main.scss */
#wrapper {
  max-width: 1000px;
  background-color: #ccc;
  min-height: 100%;
  margin: 0 auto -4rem;
  /* the bottom margin is the negative value of the footer's height */
}

/*--------------------
text
--------------------*/
/* line 20, ../sass/main.scss */
.txt-hand {
  font-family: 'Nothing You Could Do', cursive;
}

/* line 21, ../sass/main.scss */
.txt-sketch {
  font-family: 'Cabin Sketch', cursive;
}

/* line 22, ../sass/main.scss */
.txt-code {
  font-family: 'Open Sans', sans-serif;
}

/* line 24, ../sass/main.scss */
h1, h2, h3 {
  color: white;
  text-align: center;
  clear: both;
}

/* line 29, ../sass/main.scss */
h1 {
  font-size: 2rem;
  margin: .25rem 0;
}

/* line 33, ../sass/main.scss */
h2 {
  font-size: 1.25rem;
  margin: .5rem 0;
}

/* line 37, ../sass/main.scss */
h3 {
  display: block;
  text-align: left;
  margin: 0 0 .5rem 0;
}

/*--------------------
containers
--------------------*/
/* line 49, ../sass/main.scss */
ul.halves li {
  display: inline-block;
  float: left;
  width: 49.5%;
  margin: 0 1% 1% 0;
  background-color: pink;
}
/* line 55, ../sass/main.scss */
ul.halves li:nth-child(2n+2) {
  margin: 0 0 1% 0;
}

/* line 61, ../sass/main.scss */
ul.thirds li {
  display: inline-block;
  float: left;
  width: 32.66%;
  margin: 0 1% 1% 0;
  background-color: pink;
}
/* line 67, ../sass/main.scss */
ul.thirds li:nth-child(3n+3) {
  margin: 0 0 1% 0;
}

/* line 73, ../sass/main.scss */
ul.fourths li {
  display: inline-block;
  float: left;
  width: 24.25%;
  margin: 0 1% 1% 0;
  background-color: pink;
}
/* line 79, ../sass/main.scss */
ul.fourths li:nth-child(4n+4) {
  margin: 0 0 1% 0;
}

/*--------------------
header
--------------------*/
/* line 88, ../sass/main.scss */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  max-width: 300px;
  background-color: #00acee;
  height: 100%;
}
/* line 97, ../sass/main.scss */
header ul.nav {
  padding: 10%;
}
/* line 99, ../sass/main.scss */
header ul.nav h3 {
  color: #88deff;
}
/* line 102, ../sass/main.scss */
header ul.nav li, header ul.nav li a {
  color: white;
  display: block;
  clear: both;
}

/*--------------------
section
--------------------*/
/*--------------------
footer
--------------------*/
/* line 118, ../sass/main.scss */
.footer, .push {
  height: 4rem;
  /* '.push' must be the same height as 'footer' */
}

/* line 121, ../sass/main.scss */
.footer {
  max-width: 1000px;
  margin: 0 auto;
  background-color: purple;
}
/* line 125, ../sass/main.scss */
.footer p {
  padding-top: 1.5rem;
  text-align: center;
}

/*--------------------
space and place
--------------------*/
/* line 134, ../sass/main.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* line 135, ../sass/main.scss */
.clearfix {
  display: block;
}

/* line 136, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 137, ../sass/main.scss */
.outline {
  outline: 1px solid pink;
}

/* line 139, ../sass/main.scss */
.txtc {
  text-align: center;
}

/* line 140, ../sass/main.scss */
.txtl {
  text-align: left;
}

/* line 141, ../sass/main.scss */
.txtr {
  text-align: right;
}

/* line 143, ../sass/main.scss */
.fc {
  margin: 0 auto;
}

/* line 144, ../sass/main.scss */
.fl {
  float: left;
}

/* line 145, ../sass/main.scss */
.fr {
  float: right;
}

/* line 146, ../sass/main.scss */
.fv {
  vertical-align: middle;
}

/* line 148, ../sass/main.scss */
.mit {
  margin: 1rem;
}

/* line 149, ../sass/main.scss */
.ml {
  margin-left: 1rem;
}

/* line 150, ../sass/main.scss */
.mr {
  margin-right: 1rem;
}

/* line 151, ../sass/main.scss */
.mw {
  margin: 0 1rem;
}

/* line 152, ../sass/main.scss */
.mh {
  margin: 1rem 0;
}

/* line 154, ../sass/main.scss */
.pit {
  padding: 1rem;
}

/* line 155, ../sass/main.scss */
.pl {
  padding-left: 1rem;
}

/* line 156, ../sass/main.scss */
.pr {
  padding-right: 1rem;
}

/* line 157, ../sass/main.scss */
.pw {
  padding: 0 1rem;
}

/* line 158, ../sass/main.scss */
.ph {
  padding: 1rem 0;
}
