/* -------------------------------------------------------------------
colors
------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/*--- color groups ---*/
/*oranges*/
/*greens*/
/*reds*/
/*yellows*/
/*pinks*/
/*blues*/
/* light pink */
/*--- color groups ---*/
/* -------------------------------------------------------------------
colors
------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/*--- color groups ---*/
/*oranges*/
/*greens*/
/*reds*/
/*yellows*/
/*pinks*/
/*blues*/
/* light pink */
/*--- color groups ---*/
/*------- scott ---------*/
/* line 4, ../sass/main.scss */
* {
  margin: 0;
}

/* line 7, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/main.scss */
#wrapper {
  min-height: 100%;
  margin: 0 auto -4rem;
  /* the bottom margin is the negative value of the footer's height */
  background-color: white;
}

/*--------------------
text
--------------------*/
/* line 21, ../sass/main.scss */
.txt-hand {
  font-family: 'Nothing You Could Do', cursive;
}

/* line 22, ../sass/main.scss */
.txt-sketch {
  font-family: 'Cabin Sketch', cursive;
}

/* line 23, ../sass/main.scss */
.txt-code {
  font-family: 'Open Sans', sans-serif;
}

/* line 25, ../sass/main.scss */
h1, h2, h3 {
  text-align: center;
  clear: both;
}

/* line 29, ../sass/main.scss */
h1 {
  font-size: 2rem;
  margin: .25rem 0;
}

/* line 33, ../sass/main.scss */
h2 {
  font-size: 1.25rem;
  margin: .5rem 0;
}

/* line 37, ../sass/main.scss */
h3 {
  display: block;
  text-align: left;
  margin: 0 0 .5rem 0;
}

/* line 42, ../sass/main.scss */
p {
  margin-bottom: 1rem;
}

/* line 45, ../sass/main.scss */
.fa {
  font-size: 2.5rem;
}

/*--------------------
containers
--------------------*/
/* line 53, ../sass/main.scss */
ul.halves li {
  display: inline-block;
  float: left;
  width: 49.5%;
  margin: 0 1% 1% 0;
  background-color: pink;
}
/* line 59, ../sass/main.scss */
ul.halves li:nth-child(2n+2) {
  margin: 0 0 1% 0;
}

/* line 65, ../sass/main.scss */
ul.thirds li {
  display: inline-block;
  float: left;
  width: 32.66%;
  margin: 0 1% 1% 0;
  background-color: pink;
}
/* line 71, ../sass/main.scss */
ul.thirds li:nth-child(3n+3) {
  margin: 0 0 1% 0;
}

/* line 77, ../sass/main.scss */
ul.fourths li {
  display: inline-block;
  float: left;
  width: 24.25%;
  margin: 0 1% 1% 0;
  background-color: pink;
}
/* line 83, ../sass/main.scss */
ul.fourths li:nth-child(4n+4) {
  margin: 0 0 1% 0;
}

/*--------------------
header
--------------------*/
/* line 93, ../sass/main.scss */
header {
  position: relative;
  display: block;
  overflow: hidden;
  width: 96%;
  max-height: 300px;
  padding: 2%;
  background-color: white;
}
/* line 102, ../sass/main.scss */
header img {
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 110, ../sass/main.scss */
header ul.nav {
  padding: 10%;
}
/* line 112, ../sass/main.scss */
header ul.nav h3 {
  color: #88deff;
}
/* line 115, ../sass/main.scss */
header ul.nav li, header ul.nav li a {
  color: white;
  display: block;
  clear: both;
}

/* line 123, ../sass/main.scss */
.contactbox {
  position: absolute;
  right: 2%;
}
/* line 126, ../sass/main.scss */
.contactbox a.fa {
  clear: right;
  margin-right: .5rem;
}

/*--------------------
sections
--------------------*/
/* line 134, ../sass/main.scss */
section {
  position: relative;
  display: inline-block;
  width: 75%;
}

/* line 140, ../sass/main.scss */
.jobblocks {
  max-width: 1000px;
}
/* line 142, ../sass/main.scss */
.jobblocks li {
  position: relative;
  float: left;
  overflow: hidden;
  height: 300px;
  margin-bottom: 2%;
  background: #eee;
}
/* line 150, ../sass/main.scss */
.jobblocks li h1, .jobblocks li h2, .jobblocks li h3 {
  z-index: 4;
  text-align: left;
  margin-left: 1rem;
}
/* line 155, ../sass/main.scss */
.jobblocks li img.bg, .jobblocks li img.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* line 163, ../sass/main.scss */
.jobblocks li img.logo {
  z-index: 2;
  max-height: 100px;
  max-width: 100%;
}
/* line 168, ../sass/main.scss */
.jobblocks li img.bg {
  z-index: 1;
  width: 100%;
  height: auto;
  opacity: .12;
}
/* line 176, ../sass/main.scss */
.jobblocks .gigya img.logo {
  max-height: 70px;
}
/* line 180, ../sass/main.scss */
.jobblocks .gigya, .jobblocks .mediarecords {
  width: 32%;
  margin-right: 2%;
}
/* line 184, ../sass/main.scss */
.jobblocks .shuttercal, .jobblocks .nickelodeon {
  width: 66%;
}
/* line 187, ../sass/main.scss */
.jobblocks .moey, .jobblocks .amnh {
  width: 100%;
}

/*--------------------
footer
--------------------*/
/* line 196, ../sass/main.scss */
.footer, .push {
  height: 4rem;
  /* '.push' must be the same height as 'footer' */
}

/* line 199, ../sass/main.scss */
.footer {
  margin: 0 auto;
  background-color: white;
}
/* line 202, ../sass/main.scss */
.footer p {
  padding-top: 1.5rem;
  text-align: center;
}

/*--------------------
space and place
--------------------*/
/* line 211, ../sass/main.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* line 212, ../sass/main.scss */
.clearfix {
  display: block;
}

/* line 213, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 214, ../sass/main.scss */
.cl {
  clear: left;
}

/* line 215, ../sass/main.scss */
.cr {
  clear: right;
}

/* line 216, ../sass/main.scss */
.outline {
  outline: 1px solid pink;
}

/* line 218, ../sass/main.scss */
.txtc {
  text-align: center;
}

/* line 219, ../sass/main.scss */
.txtl {
  text-align: left;
}

/* line 220, ../sass/main.scss */
.txtr {
  text-align: right;
}

/* line 222, ../sass/main.scss */
.fc {
  margin: 0 auto;
}

/* line 223, ../sass/main.scss */
.fcc {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 224, ../sass/main.scss */
.fl {
  float: left;
}

/* line 225, ../sass/main.scss */
.fr {
  float: right;
}

/* line 226, ../sass/main.scss */
.fv {
  vertical-align: middle;
}

/* line 228, ../sass/main.scss */
.mit {
  margin: 1rem;
}

/* line 229, ../sass/main.scss */
.mt {
  margin-top: 1rem;
}

/* line 230, ../sass/main.scss */
.mb {
  margin-bottom: 1rem;
}

/* line 231, ../sass/main.scss */
.ml {
  margin-left: 1rem;
}

/* line 232, ../sass/main.scss */
.mr {
  margin-right: 1rem;
}

/* line 233, ../sass/main.scss */
.mw {
  margin: 0 1rem;
}

/* line 234, ../sass/main.scss */
.mh {
  margin: 1rem 0;
}

/* line 236, ../sass/main.scss */
.pit {
  padding: 1rem;
}

/* line 237, ../sass/main.scss */
.pt {
  padding-top: 1rem;
}

/* line 238, ../sass/main.scss */
.pb {
  padding-bottom: 1rem;
}

/* line 239, ../sass/main.scss */
.pl {
  padding-left: 1rem;
}

/* line 240, ../sass/main.scss */
.pr {
  padding-right: 1rem;
}

/* line 241, ../sass/main.scss */
.pw {
  padding: 0 1rem;
}

/* line 242, ../sass/main.scss */
.ph {
  padding: 1rem 0;
}
