/* -------------------------------------------------------------------
colors
------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/* line 17, ../sass/_colors.scss */
.clr-body {
  color: #555555;
}

/* line 18, ../sass/_colors.scss */
.clr-body1 {
  color: #7b7b7b;
}

/* line 19, ../sass/_colors.scss */
.clr-body2 {
  color: #c8c8c8;
}

/* line 20, ../sass/_colors.scss */
.clr-body3 {
  color: #d4d4d4;
}

/* line 21, ../sass/_colors.scss */
.clr-body4 {
  color: #e1e1e1;
}

/* line 22, ../sass/_colors.scss */
.clr-body5 {
  color: #eeeeee;
}

/* line 23, ../sass/_colors.scss */
.clr-body-bg {
  background-color: #555555;
}

/* line 24, ../sass/_colors.scss */
.clr-body1-bg {
  background-color: #7b7b7b;
}

/* line 25, ../sass/_colors.scss */
.clr-body2-bg {
  background-color: #c8c8c8;
}

/* line 26, ../sass/_colors.scss */
.clr-body3-bg {
  background-color: #d4d4d4;
}

/* line 27, ../sass/_colors.scss */
.clr-body4-bg {
  background-color: #e1e1e1;
}

/* line 28, ../sass/_colors.scss */
.clr-body5-bg {
  background-color: #eeeeee;
}

/*--- color groups ---*/
/*reds*/
/* line 36, ../sass/_colors.scss */
.clr-neg1 {
  color: #ffcccc;
}

/* line 37, ../sass/_colors.scss */
.clr-neg2 {
  color: red;
}

/* line 38, ../sass/_colors.scss */
.clr-neg3 {
  color: #b30000;
}

/* line 39, ../sass/_colors.scss */
.clr-neg1-bg {
  background-color: #ffcccc;
}

/* line 40, ../sass/_colors.scss */
.clr-neg2-bg {
  background-color: red;
}

/* line 41, ../sass/_colors.scss */
.clr-neg3-bg {
  background-color: #b30000;
}

/*greens*/
/* line 47, ../sass/_colors.scss */
.clr-pos1 {
  color: #b1e8c1;
}

/* line 48, ../sass/_colors.scss */
.clr-pos2 {
  color: #4fca74;
}

/* line 49, ../sass/_colors.scss */
.clr-pos3 {
  color: #1e6232;
}

/* line 50, ../sass/_colors.scss */
.clr-pos1-bg {
  background-color: #b1e8c1;
}

/* line 51, ../sass/_colors.scss */
.clr-pos2-bg {
  background-color: #4fca74;
}

/* line 52, ../sass/_colors.scss */
.clr-pos3-bg {
  background-color: #1e6232;
}

/*yellows*/
/* line 58, ../sass/_colors.scss */
.clr-alert1 {
  color: #fff5cd;
}

/* line 59, ../sass/_colors.scss */
.clr-alert2 {
  color: #ffe167;
}

/* line 60, ../sass/_colors.scss */
.clr-alert3 {
  color: #9a7c00;
}

/* line 61, ../sass/_colors.scss */
.clr-alert1-bg {
  background-color: #fff5cd;
}

/* line 62, ../sass/_colors.scss */
.clr-alert2-bg {
  background-color: #ffe167;
}

/* line 63, ../sass/_colors.scss */
.clr-alert3-bg {
  background-color: #9a7c00;
}

/*pinks*/
/* line 69, ../sass/_colors.scss */
.clr-loud1 {
  color: #eec4dd;
}

/* line 70, ../sass/_colors.scss */
.clr-loud2 {
  color: #da7db3;
}

/* line 71, ../sass/_colors.scss */
.clr-loud3 {
  color: #a83075;
}

/* line 72, ../sass/_colors.scss */
.clr-loud1-bg {
  background-color: #eec4dd;
}

/* line 73, ../sass/_colors.scss */
.clr-loud2-bg {
  background-color: #da7db3;
}

/* line 74, ../sass/_colors.scss */
.clr-loud3-bg {
  background-color: #a83075;
}

/*blues*/
/* line 80, ../sass/_colors.scss */
.clr-cool1 {
  color: #8ddfff;
}

/* line 81, ../sass/_colors.scss */
.clr-cool2 {
  color: #00aef3;
}

/* line 82, ../sass/_colors.scss */
.clr-cool3 {
  color: #00658d;
}

/* line 83, ../sass/_colors.scss */
.clr-cool1-bg {
  background-color: #8ddfff;
}

/* line 84, ../sass/_colors.scss */
.clr-cool2-bg {
  background-color: #00aef3;
}

/* line 85, ../sass/_colors.scss */
.clr-cool3-bg {
  background-color: #00658d;
}

/*--- color groups ---*/
/*--- brands ---*/
/* line 97, ../sass/_colors.scss */
.clr-gigya {
  color: #1f5ba7;
}

/* line 98, ../sass/_colors.scss */
.clr-gigyal {
  color: #eeeeff;
}

/* line 99, ../sass/_colors.scss */
.clr-gigya-bg {
  background-color: #1f5ba7;
}

/* line 100, ../sass/_colors.scss */
.clr-gigyal-bg {
  background-color: #eeeeff;
}

/* line 105, ../sass/_colors.scss */
.clr-sc {
  color: #ff9112;
}

/* line 106, ../sass/_colors.scss */
.clr-scl {
  color: #fcc884;
}

/* line 107, ../sass/_colors.scss */
.clr-scd {
  color: salmon;
}

/* line 108, ../sass/_colors.scss */
.clr-sc-bg {
  background-color: #ff9112;
}

/* line 109, ../sass/_colors.scss */
.clr-scl-bg {
  background-color: #fcc884;
}

/* line 110, ../sass/_colors.scss */
.clr-scd-bg {
  background-color: salmon;
}

/* line 115, ../sass/_colors.scss */
.clr-moey {
  color: #00aef3;
}

/* line 116, ../sass/_colors.scss */
.clr-moeyl {
  color: #c0edff;
}

/* line 117, ../sass/_colors.scss */
.clr-moeyd {
  color: #0077a6;
}

/* line 118, ../sass/_colors.scss */
.clr-moey-bg {
  background-color: #00aef3;
}

/* line 119, ../sass/_colors.scss */
.clr-moeyl-bg {
  background-color: #c0edff;
}

/* line 120, ../sass/_colors.scss */
.clr-moeyd-bg {
  background-color: #0077a6;
}

/* line 124, ../sass/_colors.scss */
.clr-amnh {
  color: #0074bd;
}

/* line 125, ../sass/_colors.scss */
.clr-amnhl {
  color: #7ebfe9;
}

/* line 126, ../sass/_colors.scss */
.clr-amnh-bg {
  background-color: #0074bd;
}

/* line 127, ../sass/_colors.scss */
.clr-amnhl-bg {
  background-color: #7ebfe9;
}

/* line 132, ../sass/_colors.scss */
.clr-mr {
  color: #ffb541;
}

/* line 133, ../sass/_colors.scss */
.clr-mrl {
  color: #ffdda7;
}

/* line 134, ../sass/_colors.scss */
.clr-mrd {
  color: #da8500;
}

/* line 135, ../sass/_colors.scss */
.clr-mr-bg {
  background-color: #ffb541;
}

/* line 136, ../sass/_colors.scss */
.clr-mrl-bg {
  background-color: #ffdda7;
}

/* line 137, ../sass/_colors.scss */
.clr-mrd-bg {
  background-color: #da8500;
}

/* line 141, ../sass/_colors.scss */
.clr-nick {
  color: #ff7b00;
}

/* line 142, ../sass/_colors.scss */
.clr-nickl {
  color: #ffca99;
}

/* line 143, ../sass/_colors.scss */
.clr-nick-bg {
  background-color: #ff7b00;
}

/* line 144, ../sass/_colors.scss */
.clr-nickl-bg {
  background-color: #ffca99;
}

/* -------------------------------------------------------------------
colors
------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/* line 17, ../sass/_colors.scss */
.clr-body {
  color: #555555;
}

/* line 18, ../sass/_colors.scss */
.clr-body1 {
  color: #7b7b7b;
}

/* line 19, ../sass/_colors.scss */
.clr-body2 {
  color: #c8c8c8;
}

/* line 20, ../sass/_colors.scss */
.clr-body3 {
  color: #d4d4d4;
}

/* line 21, ../sass/_colors.scss */
.clr-body4 {
  color: #e1e1e1;
}

/* line 22, ../sass/_colors.scss */
.clr-body5 {
  color: #eeeeee;
}

/* line 23, ../sass/_colors.scss */
.clr-body-bg {
  background-color: #555555;
}

/* line 24, ../sass/_colors.scss */
.clr-body1-bg {
  background-color: #7b7b7b;
}

/* line 25, ../sass/_colors.scss */
.clr-body2-bg {
  background-color: #c8c8c8;
}

/* line 26, ../sass/_colors.scss */
.clr-body3-bg {
  background-color: #d4d4d4;
}

/* line 27, ../sass/_colors.scss */
.clr-body4-bg {
  background-color: #e1e1e1;
}

/* line 28, ../sass/_colors.scss */
.clr-body5-bg {
  background-color: #eeeeee;
}

/*--- color groups ---*/
/*reds*/
/* line 36, ../sass/_colors.scss */
.clr-neg1 {
  color: #ffcccc;
}

/* line 37, ../sass/_colors.scss */
.clr-neg2 {
  color: red;
}

/* line 38, ../sass/_colors.scss */
.clr-neg3 {
  color: #b30000;
}

/* line 39, ../sass/_colors.scss */
.clr-neg1-bg {
  background-color: #ffcccc;
}

/* line 40, ../sass/_colors.scss */
.clr-neg2-bg {
  background-color: red;
}

/* line 41, ../sass/_colors.scss */
.clr-neg3-bg {
  background-color: #b30000;
}

/*greens*/
/* line 47, ../sass/_colors.scss */
.clr-pos1 {
  color: #b1e8c1;
}

/* line 48, ../sass/_colors.scss */
.clr-pos2 {
  color: #4fca74;
}

/* line 49, ../sass/_colors.scss */
.clr-pos3 {
  color: #1e6232;
}

/* line 50, ../sass/_colors.scss */
.clr-pos1-bg {
  background-color: #b1e8c1;
}

/* line 51, ../sass/_colors.scss */
.clr-pos2-bg {
  background-color: #4fca74;
}

/* line 52, ../sass/_colors.scss */
.clr-pos3-bg {
  background-color: #1e6232;
}

/*yellows*/
/* line 58, ../sass/_colors.scss */
.clr-alert1 {
  color: #fff5cd;
}

/* line 59, ../sass/_colors.scss */
.clr-alert2 {
  color: #ffe167;
}

/* line 60, ../sass/_colors.scss */
.clr-alert3 {
  color: #9a7c00;
}

/* line 61, ../sass/_colors.scss */
.clr-alert1-bg {
  background-color: #fff5cd;
}

/* line 62, ../sass/_colors.scss */
.clr-alert2-bg {
  background-color: #ffe167;
}

/* line 63, ../sass/_colors.scss */
.clr-alert3-bg {
  background-color: #9a7c00;
}

/*pinks*/
/* line 69, ../sass/_colors.scss */
.clr-loud1 {
  color: #eec4dd;
}

/* line 70, ../sass/_colors.scss */
.clr-loud2 {
  color: #da7db3;
}

/* line 71, ../sass/_colors.scss */
.clr-loud3 {
  color: #a83075;
}

/* line 72, ../sass/_colors.scss */
.clr-loud1-bg {
  background-color: #eec4dd;
}

/* line 73, ../sass/_colors.scss */
.clr-loud2-bg {
  background-color: #da7db3;
}

/* line 74, ../sass/_colors.scss */
.clr-loud3-bg {
  background-color: #a83075;
}

/*blues*/
/* line 80, ../sass/_colors.scss */
.clr-cool1 {
  color: #8ddfff;
}

/* line 81, ../sass/_colors.scss */
.clr-cool2 {
  color: #00aef3;
}

/* line 82, ../sass/_colors.scss */
.clr-cool3 {
  color: #00658d;
}

/* line 83, ../sass/_colors.scss */
.clr-cool1-bg {
  background-color: #8ddfff;
}

/* line 84, ../sass/_colors.scss */
.clr-cool2-bg {
  background-color: #00aef3;
}

/* line 85, ../sass/_colors.scss */
.clr-cool3-bg {
  background-color: #00658d;
}

/*--- color groups ---*/
/*--- brands ---*/
/* line 97, ../sass/_colors.scss */
.clr-gigya {
  color: #1f5ba7;
}

/* line 98, ../sass/_colors.scss */
.clr-gigyal {
  color: #eeeeff;
}

/* line 99, ../sass/_colors.scss */
.clr-gigya-bg {
  background-color: #1f5ba7;
}

/* line 100, ../sass/_colors.scss */
.clr-gigyal-bg {
  background-color: #eeeeff;
}

/* line 105, ../sass/_colors.scss */
.clr-sc {
  color: #ff9112;
}

/* line 106, ../sass/_colors.scss */
.clr-scl {
  color: #fcc884;
}

/* line 107, ../sass/_colors.scss */
.clr-scd {
  color: salmon;
}

/* line 108, ../sass/_colors.scss */
.clr-sc-bg {
  background-color: #ff9112;
}

/* line 109, ../sass/_colors.scss */
.clr-scl-bg {
  background-color: #fcc884;
}

/* line 110, ../sass/_colors.scss */
.clr-scd-bg {
  background-color: salmon;
}

/* line 115, ../sass/_colors.scss */
.clr-moey {
  color: #00aef3;
}

/* line 116, ../sass/_colors.scss */
.clr-moeyl {
  color: #c0edff;
}

/* line 117, ../sass/_colors.scss */
.clr-moeyd {
  color: #0077a6;
}

/* line 118, ../sass/_colors.scss */
.clr-moey-bg {
  background-color: #00aef3;
}

/* line 119, ../sass/_colors.scss */
.clr-moeyl-bg {
  background-color: #c0edff;
}

/* line 120, ../sass/_colors.scss */
.clr-moeyd-bg {
  background-color: #0077a6;
}

/* line 124, ../sass/_colors.scss */
.clr-amnh {
  color: #0074bd;
}

/* line 125, ../sass/_colors.scss */
.clr-amnhl {
  color: #7ebfe9;
}

/* line 126, ../sass/_colors.scss */
.clr-amnh-bg {
  background-color: #0074bd;
}

/* line 127, ../sass/_colors.scss */
.clr-amnhl-bg {
  background-color: #7ebfe9;
}

/* line 132, ../sass/_colors.scss */
.clr-mr {
  color: #ffb541;
}

/* line 133, ../sass/_colors.scss */
.clr-mrl {
  color: #ffdda7;
}

/* line 134, ../sass/_colors.scss */
.clr-mrd {
  color: #da8500;
}

/* line 135, ../sass/_colors.scss */
.clr-mr-bg {
  background-color: #ffb541;
}

/* line 136, ../sass/_colors.scss */
.clr-mrl-bg {
  background-color: #ffdda7;
}

/* line 137, ../sass/_colors.scss */
.clr-mrd-bg {
  background-color: #da8500;
}

/* line 141, ../sass/_colors.scss */
.clr-nick {
  color: #ff7b00;
}

/* line 142, ../sass/_colors.scss */
.clr-nickl {
  color: #ffca99;
}

/* line 143, ../sass/_colors.scss */
.clr-nick-bg {
  background-color: #ff7b00;
}

/* line 144, ../sass/_colors.scss */
.clr-nickl-bg {
  background-color: #ffca99;
}

/*------- custome ---------*/
/* line 4, ../sass/pvd.scss */
.clr-lily {
  color: #f3b91e;
}

/* line 5, ../sass/pvd.scss */
.clr-lilyl {
  color: #ffecca;
}

/* line 6, ../sass/pvd.scss */
.clr-simon {
  color: #00aeef;
}

/* line 7, ../sass/pvd.scss */
.clr-simonl {
  color: #a4def9;
}

/* line 8, ../sass/pvd.scss */
.clr-joanne {
  color: #e9af7f;
}

/* line 9, ../sass/pvd.scss */
.clr-joanne {
  color: #e9af7f;
}

/* line 10, ../sass/pvd.scss */
.clr-manuel {
  color: #c3bc85;
}

/* line 11, ../sass/pvd.scss */
.clr-manuell {
  color: #c3bc85;
}

/* line 12, ../sass/pvd.scss */
.clr-hannah {
  color: #92445a;
}

/* line 13, ../sass/pvd.scss */
.clr-hannahl {
  color: #92445a;
}

/* line 15, ../sass/pvd.scss */
h2, h3 {
  font-size: 1.15rem;
  line-height: 1.45rem;
}

/* line 20, ../sass/pvd.scss */
.maxwidth {
  width: 100% !important;
}

/* line 24, ../sass/pvd.scss */
#proj-section h3 {
  display: inline-block;
  margin-bottom: 0;
}

/* line 29, ../sass/pvd.scss */
.persona-nav {
  z-index: 2;
  position: absolute;
  background-color: #E6E7E8;
  width: 8%;
  min-width: 50px;
  height: 100%;
}
/* line 36, ../sass/pvd.scss */
.persona-nav li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
  padding-left: 5%;
  height: 16%;
}
/* line 44, ../sass/pvd.scss */
.persona-nav li a.fa {
  padding-top: 1rem;
  height: 1rem;
}

/* line 51, ../sass/pvd.scss */
.time-nav {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 92.1%;
  height: 5%;
  background-color: white;
}
/* line 60, ../sass/pvd.scss */
.time-nav li {
  display: inline-block;
  text-align: center;
  color: #00AEEF;
  width: 16.6%;
  height: 35px;
  float: left;
  line-height: 35px;
}
/* line 69, ../sass/pvd.scss */
.time-nav.lily li {
  width: 6.66%;
}
/* line 72, ../sass/pvd.scss */
.time-nav.simon li {
  width: 8.33%;
}

/* line 77, ../sass/pvd.scss */
.visited {
  background-color: #00AEEF;
}

/* line 81, ../sass/pvd.scss */
.profilebox {
  position: relative;
  display: inline-block;
  float: right;
  width: 92%;
  min-height: 100%;
  background-color: white;
}
/* line 89, ../sass/pvd.scss */
.profilebox h1, .profilebox h2 {
  color: white;
}
@media (min-width: 650px) {
  /* line 93, ../sass/pvd.scss */
  .profilebox.joanne {
    background-color: #e9af7f;
  }
  /* line 94, ../sass/pvd.scss */
  .profilebox.manuel {
    background-color: #c3bc85;
  }
  /* line 95, ../sass/pvd.scss */
  .profilebox.simon {
    background-color: #00aeef;
  }
  /* line 96, ../sass/pvd.scss */
  .profilebox.lily {
    background-color: #f3b91e;
  }
  /* line 97, ../sass/pvd.scss */
  .profilebox.hannah {
    background-color: #92445a;
  }
}

/* line 101, ../sass/pvd.scss */
.chapterbox {
  position: relative;
  display: inline-block;
  float: right;
  width: 92%;
  min-height: 100%;
  background-color: #ffffff;
}
/* line 109, ../sass/pvd.scss */
.chapterbox .chapter-bg {
  position: fixed;
  top: 0;
}
/* line 113, ../sass/pvd.scss */
.chapterbox .fa-align-justify {
  position: fixed;
  left: 1rem;
  top: 1rem;
}
/* line 118, ../sass/pvd.scss */
.chapterbox .fa-volume-up {
  position: fixed;
  left: 5rem;
  top: 1rem;
}

/* line 125, ../sass/pvd.scss */
.proj-menu {
  position: fixed;
  top: 43%;
  right: 0;
  width: 100%;
}
/* line 131, ../sass/pvd.scss */
.proj-menu .fa {
  position: relative;
  float: right;
  margin: 1rem 1rem 1rem 0;
}

/* line 138, ../sass/pvd.scss */
.profile-image {
  position: relative;
  display: inline-block;
  float: left;
  padding: 2% 5%;
  width: 40%;
}

/* line 145, ../sass/pvd.scss */
.profile-text {
  position: relative;
  display: inline-block;
  float: left;
  width: 50%;
  padding: 3% 5%;
  color: white;
}
/* line 152, ../sass/pvd.scss */
.profile-text h3 {
  margin-bottom: 0;
}
/* line 155, ../sass/pvd.scss */
.profile-text h1, .profile-text h2, .profile-text h3, .profile-text p {
  clear: none;
  padding: 0;
  color: white;
}
@media (max-width: 650px) {
  /* line 155, ../sass/pvd.scss */
  .profile-text h1, .profile-text h2, .profile-text h3, .profile-text p {
    color: #555555;
  }
}
@media (max-width: 650px) {
  /* line 145, ../sass/pvd.scss */
  .profile-text {
    float: right;
    width: 100%;
    padding: 2% 10%;
  }
  /* line 169, ../sass/pvd.scss */
  .profile-text h1 {
    font-size: 1.15rem;
  }
  /* line 170, ../sass/pvd.scss */
  .profile-text h2 {
    font-size: .75rem;
    font-weight: normal;
  }
  /* line 171, ../sass/pvd.scss */
  .profile-text h2, .profile-text h3 {
    font-size: 1rem;
  }
}

/* line 175, ../sass/pvd.scss */
.test-pic {
  float: right;
  width: 25%;
  padding: 4%;
}
@media (max-width: 600px) {
  /* line 175, ../sass/pvd.scss */
  .test-pic {
    width: 100%;
  }
}

/* line 185, ../sass/pvd.scss */
.fc {
  position: absolute;
  top: 40%;
  left: 40%;
}

/* line 191, ../sass/pvd.scss */
.chapter-text {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2.5%;
  padding: 1% 1% 0 1%;
  z-index: 999;
  background-color: white;
}
/* line 199, ../sass/pvd.scss */
.chapter-text p {
  color: black;
}

/* line 205, ../sass/pvd.scss */
#lily .profilebox .fa {
  color: #ffecca;
}
/* line 206, ../sass/pvd.scss */
#lily .fa {
  color: #f3b91e;
}
/* line 207, ../sass/pvd.scss */
#lily .chapter-text {
  background-color: #f3b91e;
}

/* line 210, ../sass/pvd.scss */
#simon .profilebox .fa {
  color: #a4def9;
}
/* line 211, ../sass/pvd.scss */
#simon .fa {
  color: #00aeef;
}
/* line 212, ../sass/pvd.scss */
#simon .chapter-text {
  background-color: #a4def9;
}

/* line 216, ../sass/pvd.scss */
ul.circlemenu li {
  display: inline-block;
  float: left;
  width: 20%;
  margin-top: 1rem;
}
/* line 221, ../sass/pvd.scss */
ul.circlemenu li .full {
  width: 100%;
}
/* line 224, ../sass/pvd.scss */
ul.circlemenu li .half {
  width: 50%;
}
/* line 227, ../sass/pvd.scss */
ul.circlemenu li .forth {
  width: 25%;
}

/* line 233, ../sass/pvd.scss */
.circle {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: #a4def9;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
}
/* line 243, ../sass/pvd.scss */
.circle.joanne {
  background: #e9af7f url(../images/pvd/pvd_icon-joanne.png) no-repeat center/100%;
}
/* line 244, ../sass/pvd.scss */
.circle.manuel {
  background: #c3bc85 url(../images/pvd/pvd_icon-manuel.png) no-repeat center/100%;
}
/* line 245, ../sass/pvd.scss */
.circle.simon {
  background: #00aeef url(../images/pvd/pvd_icon-simon.png) no-repeat center/100%;
}
/* line 246, ../sass/pvd.scss */
.circle.lily {
  background: #f3b91e url(../images/pvd/pvd_icon-lily.png) no-repeat center/100%;
}
/* line 247, ../sass/pvd.scss */
.circle.hannah {
  background: #92445a url(../images/pvd/pvd_icon-hannah.png) no-repeat center/100%;
}
/* line 249, ../sass/pvd.scss */
.circle.joanne h2 {
  background-color: #e9af7f;
}
/* line 250, ../sass/pvd.scss */
.circle.manuel h2 {
  background-color: #c3bc85;
}
/* line 251, ../sass/pvd.scss */
.circle.simon h2 {
  background-color: #00aeef;
}
/* line 252, ../sass/pvd.scss */
.circle.lily h2 {
  background-color: #f3b91e;
}
/* line 253, ../sass/pvd.scss */
.circle.hannah h2 {
  background-color: #92445a;
}
/* line 255, ../sass/pvd.scss */
.circle h2 {
  position: relative;
  top: 78%;
  padding: 4%;
  color: white;
}
