/* -------------------------------------------------------------------
colors
-------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/* line 18, ../sass/_colors.scss */
.clr-body {
  color: #555555;
}

/* line 19, ../sass/_colors.scss */
.clr-body1 {
  color: #7b7b7b;
}

/* line 20, ../sass/_colors.scss */
.clr-body2 {
  color: #c8c8c8;
}

/* line 21, ../sass/_colors.scss */
.clr-body3 {
  color: #d4d4d4;
}

/* line 22, ../sass/_colors.scss */
.clr-body4 {
  color: #e1e1e1;
}

/* line 23, ../sass/_colors.scss */
.clr-body5 {
  color: #eeeeee;
}

/* line 24, ../sass/_colors.scss */
.clr-body-bg {
  background-color: #555555;
}

/* line 25, ../sass/_colors.scss */
.clr-body1-bg {
  background-color: #7b7b7b;
}

/* line 26, ../sass/_colors.scss */
.clr-body2-bg {
  background-color: #c8c8c8;
}

/* line 27, ../sass/_colors.scss */
.clr-body3-bg {
  background-color: #d4d4d4;
}

/* line 28, ../sass/_colors.scss */
.clr-body4-bg {
  background-color: #e1e1e1;
}

/* line 29, ../sass/_colors.scss */
.clr-body5-bg {
  background-color: #eeeeee;
}

/*--- color groups ---*/
/*reds*/
/* line 37, ../sass/_colors.scss */
.clr-neg1 {
  color: #ffcccc;
}

/* line 38, ../sass/_colors.scss */
.clr-neg2 {
  color: red;
}

/* line 39, ../sass/_colors.scss */
.clr-neg3 {
  color: #b30000;
}

/* line 40, ../sass/_colors.scss */
.clr-neg1-bg {
  background-color: #ffcccc;
}

/* line 41, ../sass/_colors.scss */
.clr-neg2-bg {
  background-color: red;
}

/* line 42, ../sass/_colors.scss */
.clr-neg3-bg {
  background-color: #b30000;
}

/*greens*/
/* line 48, ../sass/_colors.scss */
.clr-pos1 {
  color: #b1e8c1;
}

/* line 49, ../sass/_colors.scss */
.clr-pos2 {
  color: #4fca74;
}

/* line 50, ../sass/_colors.scss */
.clr-pos3 {
  color: #1e6232;
}

/* line 51, ../sass/_colors.scss */
.clr-pos1-bg {
  background-color: #b1e8c1;
}

/* line 52, ../sass/_colors.scss */
.clr-pos2-bg {
  background-color: #4fca74;
}

/* line 53, ../sass/_colors.scss */
.clr-pos3-bg {
  background-color: #1e6232;
}

/*yellows*/
/* line 59, ../sass/_colors.scss */
.clr-alert1 {
  color: #fff5cd;
}

/* line 60, ../sass/_colors.scss */
.clr-alert2 {
  color: #ffe167;
}

/* line 61, ../sass/_colors.scss */
.clr-alert3 {
  color: #9a7c00;
}

/* line 62, ../sass/_colors.scss */
.clr-alert1-bg {
  background-color: #fff5cd;
}

/* line 63, ../sass/_colors.scss */
.clr-alert2-bg {
  background-color: #ffe167;
}

/* line 64, ../sass/_colors.scss */
.clr-alert3-bg {
  background-color: #9a7c00;
}

/*pinks*/
/* line 70, ../sass/_colors.scss */
.clr-loud1 {
  color: #eec4dd;
}

/* line 71, ../sass/_colors.scss */
.clr-loud2 {
  color: #da7db3;
}

/* line 72, ../sass/_colors.scss */
.clr-loud3 {
  color: #a83075;
}

/* line 73, ../sass/_colors.scss */
.clr-loud1-bg {
  background-color: #eec4dd;
}

/* line 74, ../sass/_colors.scss */
.clr-loud2-bg {
  background-color: #da7db3;
}

/* line 75, ../sass/_colors.scss */
.clr-loud3-bg {
  background-color: #a83075;
}

/*blues*/
/* line 81, ../sass/_colors.scss */
.clr-cool1 {
  color: #8ddfff;
}

/* line 82, ../sass/_colors.scss */
.clr-cool2 {
  color: #00aef3;
}

/* line 83, ../sass/_colors.scss */
.clr-cool3 {
  color: #00658d;
}

/* line 84, ../sass/_colors.scss */
.clr-cool1-bg {
  background-color: #8ddfff;
}

/* line 85, ../sass/_colors.scss */
.clr-cool2-bg {
  background-color: #00aef3;
}

/* line 86, ../sass/_colors.scss */
.clr-cool3-bg {
  background-color: #00658d;
}

/*--- color groups ---*/
/*--- brands ---*/
/* line 99, ../sass/_colors.scss */
.clr-gigya {
  color: #1f5ba7;
}

/* line 100, ../sass/_colors.scss */
.clr-gigyal {
  color: #cae7f9;
}

/* line 101, ../sass/_colors.scss */
.clr-gigya-bg {
  background-color: #1f5ba7;
}

/* line 102, ../sass/_colors.scss */
.clr-gigyal-bg {
  background-color: #cae7f9;
}

/* line 107, ../sass/_colors.scss */
.clr-sc {
  color: #ff9112;
}

/* line 108, ../sass/_colors.scss */
.clr-scl {
  color: #fcc884;
}

/* line 109, ../sass/_colors.scss */
.clr-scd {
  color: salmon;
}

/* line 110, ../sass/_colors.scss */
.clr-sc-bg {
  background-color: #ff9112;
}

/* line 111, ../sass/_colors.scss */
.clr-scl-bg {
  background-color: #fcc884;
}

/* line 112, ../sass/_colors.scss */
.clr-scd-bg {
  background-color: salmon;
}

/* line 117, ../sass/_colors.scss */
.clr-moey {
  color: #00aef3;
}

/* line 118, ../sass/_colors.scss */
.clr-moeyl {
  color: #c0edff;
}

/* line 119, ../sass/_colors.scss */
.clr-moeyd {
  color: #0077a6;
}

/* line 120, ../sass/_colors.scss */
.clr-moey-bg {
  background-color: #00aef3;
}

/* line 121, ../sass/_colors.scss */
.clr-moeyl-bg {
  background-color: #c0edff;
}

/* line 122, ../sass/_colors.scss */
.clr-moeyd-bg {
  background-color: #0077a6;
}

/* line 126, ../sass/_colors.scss */
.clr-amnh {
  color: #0074bd;
}

/* line 127, ../sass/_colors.scss */
.clr-amnhl {
  color: #7ebfe9;
}

/* line 128, ../sass/_colors.scss */
.clr-amnh-bg {
  background-color: #0074bd;
}

/* line 129, ../sass/_colors.scss */
.clr-amnhl-bg {
  background-color: #7ebfe9;
}

/* line 134, ../sass/_colors.scss */
.clr-mr {
  color: #ffb541;
}

/* line 135, ../sass/_colors.scss */
.clr-mrl {
  color: #ffdda7;
}

/* line 136, ../sass/_colors.scss */
.clr-mrd {
  color: #da8500;
}

/* line 137, ../sass/_colors.scss */
.clr-mr-bg {
  background-color: #ffb541;
}

/* line 138, ../sass/_colors.scss */
.clr-mrl-bg {
  background-color: #ffdda7;
}

/* line 139, ../sass/_colors.scss */
.clr-mrd-bg {
  background-color: #da8500;
}

/* line 143, ../sass/_colors.scss */
.clr-nick {
  color: #ff7b00;
}

/* line 144, ../sass/_colors.scss */
.clr-nickl {
  color: #ffca99;
}

/* line 145, ../sass/_colors.scss */
.clr-nick-bg {
  background-color: #ff7b00;
}

/* line 146, ../sass/_colors.scss */
.clr-nickl-bg {
  background-color: #ffca99;
}

/* line 149, ../sass/_colors.scss */
.clr-ibml {
  color: #2677c8;
}

/* -------------------------------------------------------------------
colors
-------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/* line 18, ../sass/_colors.scss */
.clr-body {
  color: #555555;
}

/* line 19, ../sass/_colors.scss */
.clr-body1 {
  color: #7b7b7b;
}

/* line 20, ../sass/_colors.scss */
.clr-body2 {
  color: #c8c8c8;
}

/* line 21, ../sass/_colors.scss */
.clr-body3 {
  color: #d4d4d4;
}

/* line 22, ../sass/_colors.scss */
.clr-body4 {
  color: #e1e1e1;
}

/* line 23, ../sass/_colors.scss */
.clr-body5 {
  color: #eeeeee;
}

/* line 24, ../sass/_colors.scss */
.clr-body-bg {
  background-color: #555555;
}

/* line 25, ../sass/_colors.scss */
.clr-body1-bg {
  background-color: #7b7b7b;
}

/* line 26, ../sass/_colors.scss */
.clr-body2-bg {
  background-color: #c8c8c8;
}

/* line 27, ../sass/_colors.scss */
.clr-body3-bg {
  background-color: #d4d4d4;
}

/* line 28, ../sass/_colors.scss */
.clr-body4-bg {
  background-color: #e1e1e1;
}

/* line 29, ../sass/_colors.scss */
.clr-body5-bg {
  background-color: #eeeeee;
}

/*--- color groups ---*/
/*reds*/
/* line 37, ../sass/_colors.scss */
.clr-neg1 {
  color: #ffcccc;
}

/* line 38, ../sass/_colors.scss */
.clr-neg2 {
  color: red;
}

/* line 39, ../sass/_colors.scss */
.clr-neg3 {
  color: #b30000;
}

/* line 40, ../sass/_colors.scss */
.clr-neg1-bg {
  background-color: #ffcccc;
}

/* line 41, ../sass/_colors.scss */
.clr-neg2-bg {
  background-color: red;
}

/* line 42, ../sass/_colors.scss */
.clr-neg3-bg {
  background-color: #b30000;
}

/*greens*/
/* line 48, ../sass/_colors.scss */
.clr-pos1 {
  color: #b1e8c1;
}

/* line 49, ../sass/_colors.scss */
.clr-pos2 {
  color: #4fca74;
}

/* line 50, ../sass/_colors.scss */
.clr-pos3 {
  color: #1e6232;
}

/* line 51, ../sass/_colors.scss */
.clr-pos1-bg {
  background-color: #b1e8c1;
}

/* line 52, ../sass/_colors.scss */
.clr-pos2-bg {
  background-color: #4fca74;
}

/* line 53, ../sass/_colors.scss */
.clr-pos3-bg {
  background-color: #1e6232;
}

/*yellows*/
/* line 59, ../sass/_colors.scss */
.clr-alert1 {
  color: #fff5cd;
}

/* line 60, ../sass/_colors.scss */
.clr-alert2 {
  color: #ffe167;
}

/* line 61, ../sass/_colors.scss */
.clr-alert3 {
  color: #9a7c00;
}

/* line 62, ../sass/_colors.scss */
.clr-alert1-bg {
  background-color: #fff5cd;
}

/* line 63, ../sass/_colors.scss */
.clr-alert2-bg {
  background-color: #ffe167;
}

/* line 64, ../sass/_colors.scss */
.clr-alert3-bg {
  background-color: #9a7c00;
}

/*pinks*/
/* line 70, ../sass/_colors.scss */
.clr-loud1 {
  color: #eec4dd;
}

/* line 71, ../sass/_colors.scss */
.clr-loud2 {
  color: #da7db3;
}

/* line 72, ../sass/_colors.scss */
.clr-loud3 {
  color: #a83075;
}

/* line 73, ../sass/_colors.scss */
.clr-loud1-bg {
  background-color: #eec4dd;
}

/* line 74, ../sass/_colors.scss */
.clr-loud2-bg {
  background-color: #da7db3;
}

/* line 75, ../sass/_colors.scss */
.clr-loud3-bg {
  background-color: #a83075;
}

/*blues*/
/* line 81, ../sass/_colors.scss */
.clr-cool1 {
  color: #8ddfff;
}

/* line 82, ../sass/_colors.scss */
.clr-cool2 {
  color: #00aef3;
}

/* line 83, ../sass/_colors.scss */
.clr-cool3 {
  color: #00658d;
}

/* line 84, ../sass/_colors.scss */
.clr-cool1-bg {
  background-color: #8ddfff;
}

/* line 85, ../sass/_colors.scss */
.clr-cool2-bg {
  background-color: #00aef3;
}

/* line 86, ../sass/_colors.scss */
.clr-cool3-bg {
  background-color: #00658d;
}

/*--- color groups ---*/
/*--- brands ---*/
/* line 99, ../sass/_colors.scss */
.clr-gigya {
  color: #1f5ba7;
}

/* line 100, ../sass/_colors.scss */
.clr-gigyal {
  color: #cae7f9;
}

/* line 101, ../sass/_colors.scss */
.clr-gigya-bg {
  background-color: #1f5ba7;
}

/* line 102, ../sass/_colors.scss */
.clr-gigyal-bg {
  background-color: #cae7f9;
}

/* line 107, ../sass/_colors.scss */
.clr-sc {
  color: #ff9112;
}

/* line 108, ../sass/_colors.scss */
.clr-scl {
  color: #fcc884;
}

/* line 109, ../sass/_colors.scss */
.clr-scd {
  color: salmon;
}

/* line 110, ../sass/_colors.scss */
.clr-sc-bg {
  background-color: #ff9112;
}

/* line 111, ../sass/_colors.scss */
.clr-scl-bg {
  background-color: #fcc884;
}

/* line 112, ../sass/_colors.scss */
.clr-scd-bg {
  background-color: salmon;
}

/* line 117, ../sass/_colors.scss */
.clr-moey {
  color: #00aef3;
}

/* line 118, ../sass/_colors.scss */
.clr-moeyl {
  color: #c0edff;
}

/* line 119, ../sass/_colors.scss */
.clr-moeyd {
  color: #0077a6;
}

/* line 120, ../sass/_colors.scss */
.clr-moey-bg {
  background-color: #00aef3;
}

/* line 121, ../sass/_colors.scss */
.clr-moeyl-bg {
  background-color: #c0edff;
}

/* line 122, ../sass/_colors.scss */
.clr-moeyd-bg {
  background-color: #0077a6;
}

/* line 126, ../sass/_colors.scss */
.clr-amnh {
  color: #0074bd;
}

/* line 127, ../sass/_colors.scss */
.clr-amnhl {
  color: #7ebfe9;
}

/* line 128, ../sass/_colors.scss */
.clr-amnh-bg {
  background-color: #0074bd;
}

/* line 129, ../sass/_colors.scss */
.clr-amnhl-bg {
  background-color: #7ebfe9;
}

/* line 134, ../sass/_colors.scss */
.clr-mr {
  color: #ffb541;
}

/* line 135, ../sass/_colors.scss */
.clr-mrl {
  color: #ffdda7;
}

/* line 136, ../sass/_colors.scss */
.clr-mrd {
  color: #da8500;
}

/* line 137, ../sass/_colors.scss */
.clr-mr-bg {
  background-color: #ffb541;
}

/* line 138, ../sass/_colors.scss */
.clr-mrl-bg {
  background-color: #ffdda7;
}

/* line 139, ../sass/_colors.scss */
.clr-mrd-bg {
  background-color: #da8500;
}

/* line 143, ../sass/_colors.scss */
.clr-nick {
  color: #ff7b00;
}

/* line 144, ../sass/_colors.scss */
.clr-nickl {
  color: #ffca99;
}

/* line 145, ../sass/_colors.scss */
.clr-nick-bg {
  background-color: #ff7b00;
}

/* line 146, ../sass/_colors.scss */
.clr-nickl-bg {
  background-color: #ffca99;
}

/* line 149, ../sass/_colors.scss */
.clr-ibml {
  color: #2677c8;
}

/*------- custome ----------*/
/* ----------------------------------------------
resets
-----------------------------------------------*/
/* line 19, ../sass/teva.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-transform: none;
}

/* HTML5 display-role reset for older browsers */
/* line 30, ../sass/teva.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/teva.scss */
body {
  line-height: 1;
}

/* line 36, ../sass/teva.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/teva.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../sass/teva.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/teva.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------------
colors
-----------------------------------------------*/
/*--- defaults colors ----*/
/* line 58, ../sass/teva.scss */
.clr-lightest {
  color: white;
}

/* line 59, ../sass/teva.scss */
.clr-darkest {
  color: black;
}

/* line 60, ../sass/teva.scss */
.clr-tevagreen {
  color: #00a785;
}

/* line 61, ../sass/teva.scss */
.clr-bg-lightest {
  background-color: white;
}

/* line 62, ../sass/teva.scss */
.clr-bg-darkest {
  background-color: black;
}

/* line 63, ../sass/teva.scss */
.clr-bg-tevagreen {
  background-color: #00a785;
}

/*Backgrounds*/
/* line 70, ../sass/teva.scss */
.clr-bg-dark {
  background-color: #34495e;
}

/* line 71, ../sass/teva.scss */
.clr-bg-darker {
  background-color: #2d3e50;
}

/* line 72, ../sass/teva.scss */
.clr-bg-light {
  background-color: #f0f4f5;
}

/* line 73, ../sass/teva.scss */
.clr-bg-lighter {
  background-color: white;
}

/*body*/
/* line 82, ../sass/teva.scss */
.clr-body1 {
  color: #bdc3c8;
}

/* line 83, ../sass/teva.scss */
.clr-body2 {
  color: #9a9a9a;
}

/* line 84, ../sass/teva.scss */
.clr-body3 {
  color: #676767;
}

/* line 85, ../sass/teva.scss */
.clr-body4 {
  color: #3d3d3d;
}

/* line 86, ../sass/teva.scss */
.clr-link {
  color: #3498db;
}

/* line 87, ../sass/teva.scss */
.clr-linkl {
  color: #d7eaf7;
}

/* line 88, ../sass/teva.scss */
.clr-bg-body1 {
  background-color: #bdc3c8;
}

/* line 89, ../sass/teva.scss */
.clr-bg-body2 {
  background-color: #9a9a9a;
}

/* line 90, ../sass/teva.scss */
.clr-bg-body3 {
  background-color: #676767;
}

/* line 91, ../sass/teva.scss */
.clr-bg-body4 {
  background-color: #3d3d3d;
}

/* line 92, ../sass/teva.scss */
.clr-bg-link {
  background-color: #3498db;
}

/* line 93, ../sass/teva.scss */
.clr-bg-linkl {
  background-color: #d7eaf7;
}

/*Warm*/
/* line 101, ../sass/teva.scss */
.clr-warm1 {
  color: #eec417;
}

/* line 102, ../sass/teva.scss */
.clr-warm2 {
  color: #f09e11;
}

/* line 103, ../sass/teva.scss */
.clr-warm3 {
  color: #e67f22;
}

/* line 104, ../sass/teva.scss */
.clr-warm4 {
  color: #d05300;
}

/* line 105, ../sass/teva.scss */
.clr-warm5 {
  color: #bf3930;
}

/* line 106, ../sass/teva.scss */
.clr-bg-warm1 {
  background-color: #eec417;
}

/* line 107, ../sass/teva.scss */
.clr-bg-warm2 {
  background-color: #f09e11;
}

/* line 108, ../sass/teva.scss */
.clr-bg-warm3 {
  background-color: #e67f22;
}

/* line 109, ../sass/teva.scss */
.clr-bg-warm4 {
  background-color: #d05300;
}

/* line 110, ../sass/teva.scss */
.clr-bg-warm5 {
  background-color: #bf3930;
}

/*positive/negative*/
/* line 117, ../sass/teva.scss */
.clr-pos1 {
  color: #2ecc71;
}

/* line 118, ../sass/teva.scss */
.clr-pos2 {
  color: #00a785;
}

/* line 119, ../sass/teva.scss */
.clr-neg1 {
  color: #f4938b;
}

/* line 120, ../sass/teva.scss */
.clr-neg2 {
  color: #e74c3c;
}

/* line 121, ../sass/teva.scss */
.clr-bg-pos1 {
  background-color: #2ecc71;
}

/* line 122, ../sass/teva.scss */
.clr-bg-pos2 {
  background-color: #00a785;
}

/* line 123, ../sass/teva.scss */
.clr-bg-neg1 {
  background-color: #f4938b;
}

/* line 124, ../sass/teva.scss */
.clr-bg-neg2 {
  background-color: #e74c3c;
}

/*spectrum*/
/* line 131, ../sass/teva.scss */
.clr-yellow1 {
  color: #f1c40f;
}

/* line 132, ../sass/teva.scss */
.clr-green1 {
  color: #2ecc71;
}

/* line 133, ../sass/teva.scss */
.clr-aqua1 {
  color: #1abc9c;
}

/* line 134, ../sass/teva.scss */
.clr-purple1 {
  color: #9b59b6;
}

/* line 135, ../sass/teva.scss */
.clr-bg-yellow1 {
  background-color: #f1c40f;
}

/* line 136, ../sass/teva.scss */
.clr-bg-green1 {
  background-color: #2ecc71;
}

/* line 137, ../sass/teva.scss */
.clr-bg-aqua1 {
  background-color: #1abc9c;
}

/* line 138, ../sass/teva.scss */
.clr-bg-purple1 {
  background-color: #9b59b6;
}

/* ----------------------------------------------
containers
-----------------------------------------------*/
/* line 143, ../sass/teva.scss */
* {
  margin: 0;
  box-sizing: border-box;
}

/* line 147, ../sass/teva.scss */
html, body {
  line-height: 1.6rem;
  height: 100%;
  background-color: #eeeeee;
}

/* line 152, ../sass/teva.scss */
#wrapper {
  max-width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0;
  /* the bottom margin is the negative value of the footer's height */
  background-color: #eeeeee;
}

/* ----------------------------------------------
text
-----------------------------------------------*/
/* line 163, ../sass/teva.scss */
body {
  font-size: 12px;
}

/* line 165, ../sass/teva.scss */
body, h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: "ProximaNova-Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  color: #3d3d3d;
}

/* line 171, ../sass/teva.scss */
h1 {
  font-size: 24px;
  font-weight: lighter;
}

/* line 175, ../sass/teva.scss */
h2 {
  font-size: 18px;
  color: #676767;
  font-weight: lighter;
}

/* line 180, ../sass/teva.scss */
h3 {
  font-size: 16px;
  color: #9a9a9a;
  font-weight: lighter;
}

/* line 185, ../sass/teva.scss */
h4 {
  font-size: 12.75px;
  font-weight: normal;
}

/* line 191, ../sass/teva.scss */
h6, a, button {
  font-size: 12px;
  color: #3498db;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
/* line 197, ../sass/teva.scss */
h6:hover, a:hover, button:hover {
  color: #3498db;
}

/* line 202, ../sass/teva.scss */
p {
  font-size: 12px;
}

/* line 206, ../sass/teva.scss */
.fa {
  font-size: 26px;
  color: #3498db;
}

/* line 212, ../sass/teva.scss */
button {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  line-height: 12px;
  height: 40px;
  margin: 0;
  padding: 0 1rem;
  border: none;
  color: white;
  background-color: #3498db;
  border-radius: 4px;
  cursor: pointer;
}
/* line 226, ../sass/teva.scss */
button:hover {
  color: white;
}

/* line 231, ../sass/teva.scss */
.box {
  min-height: 10px;
  background-color: #f0f4f5;
  outline: 1px solid #bdc3c8;
}

/* line 237, ../sass/teva.scss */
header {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #2d3e50;
  height: 70px;
}
/* line 244, ../sass/teva.scss */
header .logobox {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 70px;
  float: left;
}
/* line 251, ../sass/teva.scss */
header .logobox img {
  position: relative;
  top: 50%;
  float: left;
  margin: 0 5%;
  transform: translate(0, -50%);
  width: 90%;
  max-width: 70px;
}
/* line 261, ../sass/teva.scss */
header .menubox {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 70px;
}
@media (max-width: 800px) {
  /* line 261, ../sass/teva.scss */
  header .menubox {
    width: 90%;
    padding: 0 1% 0 5%;
  }
}
/* line 271, ../sass/teva.scss */
header .username {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: white;
}
@media (max-width: 800px) {
  /* line 271, ../sass/teva.scss */
  header .username {
    left: 5%;
  }
}
/* line 281, ../sass/teva.scss */
header .fa {
  position: relative;
  top: 50%;
  float: right;
  margin-left: 3%;
  transform: translate(0, -50%);
}
/* line 287, ../sass/teva.scss */
header .fa:hover {
  color: #d7eaf7;
}
/* line 291, ../sass/teva.scss */
header .selected {
  color: white;
}

/* line 296, ../sass/teva.scss */
.dose {
  width: 12px;
  height: 12px;
  background-color: #3498db;
  border-radius: 50% 50%;
}

/* line 302, ../sass/teva.scss */
.taken {
  background-color: #3498db;
}

/* line 303, ../sass/teva.scss */
.missed {
  background-color: #bdc3c8;
}

/* line 304, ../sass/teva.scss */
.invalid {
  background-color: black;
}

/* line 305, ../sass/teva.scss */
.morning {
  background-color: #eec417;
}

/* line 306, ../sass/teva.scss */
.noon {
  background-color: #f09e11;
}

/* line 307, ../sass/teva.scss */
.evening {
  background-color: #d05300;
}

/* line 308, ../sass/teva.scss */
.night {
  background-color: #34495e;
}

/* line 309, ../sass/teva.scss */
.coached {
  background-color: #2ecc71;
}

/* line 311, ../sass/teva.scss */
.listcontainer {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 600px;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  /* line 311, ../sass/teva.scss */
  .listcontainer {
    width: 98%;
  }
}
/* line 323, ../sass/teva.scss */
.listcontainer .listheader {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  background-color: #34495e;
  color: white;
}
/* line 331, ../sass/teva.scss */
.listcontainer .listheader p {
  color: white;
}
/* line 335, ../sass/teva.scss */
.listcontainer .siteheader {
  position: relative;
  display: block;
  height: 30px;
  padding: 0 1rem;
  background-color: #2d3e50;
}
/* line 341, ../sass/teva.scss */
.listcontainer .siteheader h2 {
  color: white;
  clear: none;
}
/* line 346, ../sass/teva.scss */
.listcontainer .listitem {
  position: relative;
  display: block;
  height: 30px;
  padding: 0 1rem;
  margin: 0 1px;
  top: -1px;
  background-color: #f0f4f5;
  outline: 1px solid #bdc3c8;
}
/* line 355, ../sass/teva.scss */
.listcontainer .listitem:nth-child(even) {
  background-color: white;
}
/* line 358, ../sass/teva.scss */
.listcontainer .listitem .fa {
  color: #bdc3c8;
  float: left;
}
/* line 362, ../sass/teva.scss */
.listcontainer .listitem:hover, .listcontainer .listitem.selected {
  background-color: #d7eaf7;
  outline: 1px solid #3498db;
  z-index: 2;
}
/* line 366, ../sass/teva.scss */
.listcontainer .listitem:hover .fa, .listcontainer .listitem.selected .fa {
  color: #3498db;
}
/* line 371, ../sass/teva.scss */
.listcontainer .patientprofile {
  position: relative;
  display: block;
  top: -1rem;
}
/* line 375, ../sass/teva.scss */
.listcontainer .patientprofile .contactbar {
  padding-top: 2rem;
  width: 100%;
}
/* line 379, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack {
  position: relative;
  display: inline-block;
  float: left;
  clear: none;
  width: 66%;
}
/* line 386, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox {
  width: 100%;
  margin-bottom: 1rem;
}
/* line 389, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .datebar {
  display: inline-block;
  width: 100%;
  height: 72px;
}
/* line 393, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .datebar button {
  float: right;
}
/* line 396, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .datebar h1, .listcontainer .patientprofile .leftstack .calbox .datebar .fa {
  float: left;
  clear: none;
  padding-right: .5rem;
}
/* line 402, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .weekbar {
  position: relative;
  display: block;
  top: 9px;
}
/* line 406, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .weekbar li {
  float: left;
  position: relative;
  width: 14.285%;
  text-align: center;
}
/* line 413, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .monthbox {
  position: relative;
  display: inline-block;
  width: 100%;
  top: 9px;
}
/* line 420, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox {
  position: relative;
  width: 14.285%;
  min-height: 88px;
  float: left;
  background-color: #f0f4f5;
  outline: 1px solid #bdc3c8;
}
/* line 427, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox:hover {
  background-color: #d7eaf7;
  outline: 1px solid #3498db;
  z-index: 2;
}
/* line 432, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox h1 {
  position: relative;
  top: 1rem;
  color: #e74c3c;
  text-align: center;
}
/* line 438, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox h6 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .25rem;
}
/* line 444, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox .dayfeeling {
  position: relative;
  top: 1rem;
  height: 5px;
  width: 100%;
  background-color: #eec417;
}
/* line 451, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox .d2 {
  background-color: #f09e11;
}
/* line 452, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox .d3 {
  background-color: #e67f22;
}
/* line 453, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox .d4 {
  background-color: #d05300;
}
/* line 454, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox .d5 {
  background-color: #bf3930;
}
/* line 455, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox .doses {
  position: relative;
  display: inline-block;
  top: 1rem;
  width: 100%;
  padding-top: 5px;
}
/* line 461, ../sass/teva.scss */
.listcontainer .patientprofile .leftstack .calbox .daybox .doses .dose {
  width: 12px;
  height: 12px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50% 50%;
}
/* line 472, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack {
  position: relative;
  display: inline-block;
  float: right;
  clear: right;
  width: 32.5%;
}
/* line 478, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .maintbox, .listcontainer .patientprofile .rightstack .rescuebox, .listcontainer .patientprofile .rightstack .coachbox {
  padding: 1rem;
  margin-bottom: 1rem;
}
/* line 481, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .maintbox h1, .listcontainer .patientprofile .rightstack .rescuebox h1, .listcontainer .patientprofile .rightstack .coachbox h1 {
  padding-bottom: .33rem;
}
/* line 484, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .maintbox h2, .listcontainer .patientprofile .rightstack .rescuebox h2, .listcontainer .patientprofile .rightstack .coachbox h2 {
  padding-top: 1rem;
}
/* line 487, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .maintbox h4, .listcontainer .patientprofile .rightstack .rescuebox h4, .listcontainer .patientprofile .rightstack .coachbox h4 {
  position: relative;
  display: inline-block;
  clear: none;
  padding: 0 .5rem;
  top: -3px;
}
/* line 494, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .maintbox .medstats, .listcontainer .patientprofile .rightstack .rescuebox .medstats, .listcontainer .patientprofile .rightstack .coachbox .medstats {
  position: relative;
  display: inline-block;
  float: right;
  padding-top: 1rem;
  width: 100px;
}
/* line 500, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .maintbox .medstats .dose, .listcontainer .patientprofile .rightstack .rescuebox .medstats .dose, .listcontainer .patientprofile .rightstack .coachbox .medstats .dose {
  position: relative;
  display: inline-block;
}
/* line 504, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .maintbox .medstats li h4, .listcontainer .patientprofile .rightstack .rescuebox .medstats li h4, .listcontainer .patientprofile .rightstack .coachbox .medstats li h4 {
  top: -1px;
}
/* line 507, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .maintbox .medstats span, .listcontainer .patientprofile .rightstack .rescuebox .medstats span, .listcontainer .patientprofile .rightstack .coachbox .medstats span {
  padding: 0 .33rem;
  color: black;
}
/* line 512, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .maintbox .fa-moon-o, .listcontainer .patientprofile .rightstack .rescuebox .fa-moon-o, .listcontainer .patientprofile .rightstack .coachbox .fa-moon-o {
  color: #34495e;
}
/* line 513, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .maintbox .fa-sun-o, .listcontainer .patientprofile .rightstack .rescuebox .fa-sun-o, .listcontainer .patientprofile .rightstack .coachbox .fa-sun-o {
  color: #eec417;
}
/* line 515, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .rescuebox .fa {
  color: #e74c3c;
}
/* line 516, ../sass/teva.scss */
.listcontainer .patientprofile .rightstack .coachbox .fa {
  color: #2ecc71;
}
