/* -------------------------------------------------------------------
colors
-------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/* line 18, ../sass/_colors.scss */
.clr-body {
  color: #555555;
}

/* line 19, ../sass/_colors.scss */
.clr-body1 {
  color: #7b7b7b;
}

/* line 20, ../sass/_colors.scss */
.clr-body2 {
  color: #c8c8c8;
}

/* line 21, ../sass/_colors.scss */
.clr-body3 {
  color: #d4d4d4;
}

/* line 22, ../sass/_colors.scss */
.clr-body4 {
  color: #e1e1e1;
}

/* line 23, ../sass/_colors.scss */
.clr-body5 {
  color: #eeeeee;
}

/* line 24, ../sass/_colors.scss */
.clr-body-bg {
  background-color: #555555;
}

/* line 25, ../sass/_colors.scss */
.clr-body1-bg {
  background-color: #7b7b7b;
}

/* line 26, ../sass/_colors.scss */
.clr-body2-bg {
  background-color: #c8c8c8;
}

/* line 27, ../sass/_colors.scss */
.clr-body3-bg {
  background-color: #d4d4d4;
}

/* line 28, ../sass/_colors.scss */
.clr-body4-bg {
  background-color: #e1e1e1;
}

/* line 29, ../sass/_colors.scss */
.clr-body5-bg {
  background-color: #eeeeee;
}

/*--- color groups ---*/
/*reds*/
/* line 37, ../sass/_colors.scss */
.clr-neg1 {
  color: #ffcccc;
}

/* line 38, ../sass/_colors.scss */
.clr-neg2 {
  color: red;
}

/* line 39, ../sass/_colors.scss */
.clr-neg3 {
  color: #b30000;
}

/* line 40, ../sass/_colors.scss */
.clr-neg1-bg {
  background-color: #ffcccc;
}

/* line 41, ../sass/_colors.scss */
.clr-neg2-bg {
  background-color: red;
}

/* line 42, ../sass/_colors.scss */
.clr-neg3-bg {
  background-color: #b30000;
}

/*greens*/
/* line 48, ../sass/_colors.scss */
.clr-pos1 {
  color: #b1e8c1;
}

/* line 49, ../sass/_colors.scss */
.clr-pos2 {
  color: #4fca74;
}

/* line 50, ../sass/_colors.scss */
.clr-pos3 {
  color: #1e6232;
}

/* line 51, ../sass/_colors.scss */
.clr-pos1-bg {
  background-color: #b1e8c1;
}

/* line 52, ../sass/_colors.scss */
.clr-pos2-bg {
  background-color: #4fca74;
}

/* line 53, ../sass/_colors.scss */
.clr-pos3-bg {
  background-color: #1e6232;
}

/*yellows*/
/* line 59, ../sass/_colors.scss */
.clr-alert1 {
  color: #fff5cd;
}

/* line 60, ../sass/_colors.scss */
.clr-alert2 {
  color: #ffe167;
}

/* line 61, ../sass/_colors.scss */
.clr-alert3 {
  color: #9a7c00;
}

/* line 62, ../sass/_colors.scss */
.clr-alert1-bg {
  background-color: #fff5cd;
}

/* line 63, ../sass/_colors.scss */
.clr-alert2-bg {
  background-color: #ffe167;
}

/* line 64, ../sass/_colors.scss */
.clr-alert3-bg {
  background-color: #9a7c00;
}

/*pinks*/
/* line 70, ../sass/_colors.scss */
.clr-loud1 {
  color: #eec4dd;
}

/* line 71, ../sass/_colors.scss */
.clr-loud2 {
  color: #da7db3;
}

/* line 72, ../sass/_colors.scss */
.clr-loud3 {
  color: #a83075;
}

/* line 73, ../sass/_colors.scss */
.clr-loud1-bg {
  background-color: #eec4dd;
}

/* line 74, ../sass/_colors.scss */
.clr-loud2-bg {
  background-color: #da7db3;
}

/* line 75, ../sass/_colors.scss */
.clr-loud3-bg {
  background-color: #a83075;
}

/*blues*/
/* line 81, ../sass/_colors.scss */
.clr-cool1 {
  color: #8ddfff;
}

/* line 82, ../sass/_colors.scss */
.clr-cool2 {
  color: #00aef3;
}

/* line 83, ../sass/_colors.scss */
.clr-cool3 {
  color: #00658d;
}

/* line 84, ../sass/_colors.scss */
.clr-cool1-bg {
  background-color: #8ddfff;
}

/* line 85, ../sass/_colors.scss */
.clr-cool2-bg {
  background-color: #00aef3;
}

/* line 86, ../sass/_colors.scss */
.clr-cool3-bg {
  background-color: #00658d;
}

/*--- color groups ---*/
/*--- brands ---*/
/* line 99, ../sass/_colors.scss */
.clr-tri {
  color: #d61920;
}

/* line 100, ../sass/_colors.scss */
.clr-tril {
  color: #7b0e12;
}

/* line 101, ../sass/_colors.scss */
.clr-tri-bg {
  background-color: #d61920;
}

/* line 102, ../sass/_colors.scss */
.clr-tril-bg {
  background-color: #7b0e12;
}

/* line 107, ../sass/_colors.scss */
.clr-xperiel {
  color: #d61920;
}

/* line 108, ../sass/_colors.scss */
.clr-xperiell {
  color: #cae7f9;
}

/* line 109, ../sass/_colors.scss */
.clr-xperiel-bg {
  background-color: #d61920;
}

/* line 110, ../sass/_colors.scss */
.clr-xperiell-bg {
  background-color: #cae7f9;
}

/* line 115, ../sass/_colors.scss */
.clr-gigya {
  color: #1f5ba7;
}

/* line 116, ../sass/_colors.scss */
.clr-gigyal {
  color: #cae7f9;
}

/* line 117, ../sass/_colors.scss */
.clr-gigya-bg {
  background-color: #1f5ba7;
}

/* line 118, ../sass/_colors.scss */
.clr-gigyal-bg {
  background-color: #cae7f9;
}

/* line 123, ../sass/_colors.scss */
.clr-sc {
  color: #ff9112;
}

/* line 124, ../sass/_colors.scss */
.clr-scl {
  color: #fcc884;
}

/* line 125, ../sass/_colors.scss */
.clr-scd {
  color: salmon;
}

/* line 126, ../sass/_colors.scss */
.clr-sc-bg {
  background-color: #ff9112;
}

/* line 127, ../sass/_colors.scss */
.clr-scl-bg {
  background-color: #fcc884;
}

/* line 128, ../sass/_colors.scss */
.clr-scd-bg {
  background-color: salmon;
}

/* line 133, ../sass/_colors.scss */
.clr-moey {
  color: #00aef3;
}

/* line 134, ../sass/_colors.scss */
.clr-moeyl {
  color: #c0edff;
}

/* line 135, ../sass/_colors.scss */
.clr-moeyd {
  color: #0077a6;
}

/* line 136, ../sass/_colors.scss */
.clr-moey-bg {
  background-color: #00aef3;
}

/* line 137, ../sass/_colors.scss */
.clr-moeyl-bg {
  background-color: #c0edff;
}

/* line 138, ../sass/_colors.scss */
.clr-moeyd-bg {
  background-color: #0077a6;
}

/* line 142, ../sass/_colors.scss */
.clr-amnh {
  color: #0074bd;
}

/* line 143, ../sass/_colors.scss */
.clr-amnhl {
  color: #7ebfe9;
}

/* line 144, ../sass/_colors.scss */
.clr-amnh-bg {
  background-color: #0074bd;
}

/* line 145, ../sass/_colors.scss */
.clr-amnhl-bg {
  background-color: #7ebfe9;
}

/* line 150, ../sass/_colors.scss */
.clr-mr {
  color: #ffb541;
}

/* line 151, ../sass/_colors.scss */
.clr-mrl {
  color: #ffdda7;
}

/* line 152, ../sass/_colors.scss */
.clr-mrd {
  color: #da8500;
}

/* line 153, ../sass/_colors.scss */
.clr-mr-bg {
  background-color: #ffb541;
}

/* line 154, ../sass/_colors.scss */
.clr-mrl-bg {
  background-color: #ffdda7;
}

/* line 155, ../sass/_colors.scss */
.clr-mrd-bg {
  background-color: #da8500;
}

/* line 159, ../sass/_colors.scss */
.clr-nick {
  color: #ff7b00;
}

/* line 160, ../sass/_colors.scss */
.clr-nickl {
  color: #ffca99;
}

/* line 161, ../sass/_colors.scss */
.clr-nick-bg {
  background-color: #ff7b00;
}

/* line 162, ../sass/_colors.scss */
.clr-nickl-bg {
  background-color: #ffca99;
}

/* line 165, ../sass/_colors.scss */
.clr-ibml {
  color: #2677c8;
}

/* -------------------------------------------------------------------
colors
-------------------------------------------------------------------- */
/*--- body colors ----*/
/*body*/
/* line 18, ../sass/_colors.scss */
.clr-body {
  color: #555555;
}

/* line 19, ../sass/_colors.scss */
.clr-body1 {
  color: #7b7b7b;
}

/* line 20, ../sass/_colors.scss */
.clr-body2 {
  color: #c8c8c8;
}

/* line 21, ../sass/_colors.scss */
.clr-body3 {
  color: #d4d4d4;
}

/* line 22, ../sass/_colors.scss */
.clr-body4 {
  color: #e1e1e1;
}

/* line 23, ../sass/_colors.scss */
.clr-body5 {
  color: #eeeeee;
}

/* line 24, ../sass/_colors.scss */
.clr-body-bg {
  background-color: #555555;
}

/* line 25, ../sass/_colors.scss */
.clr-body1-bg {
  background-color: #7b7b7b;
}

/* line 26, ../sass/_colors.scss */
.clr-body2-bg {
  background-color: #c8c8c8;
}

/* line 27, ../sass/_colors.scss */
.clr-body3-bg {
  background-color: #d4d4d4;
}

/* line 28, ../sass/_colors.scss */
.clr-body4-bg {
  background-color: #e1e1e1;
}

/* line 29, ../sass/_colors.scss */
.clr-body5-bg {
  background-color: #eeeeee;
}

/*--- color groups ---*/
/*reds*/
/* line 37, ../sass/_colors.scss */
.clr-neg1 {
  color: #ffcccc;
}

/* line 38, ../sass/_colors.scss */
.clr-neg2 {
  color: red;
}

/* line 39, ../sass/_colors.scss */
.clr-neg3 {
  color: #b30000;
}

/* line 40, ../sass/_colors.scss */
.clr-neg1-bg {
  background-color: #ffcccc;
}

/* line 41, ../sass/_colors.scss */
.clr-neg2-bg {
  background-color: red;
}

/* line 42, ../sass/_colors.scss */
.clr-neg3-bg {
  background-color: #b30000;
}

/*greens*/
/* line 48, ../sass/_colors.scss */
.clr-pos1 {
  color: #b1e8c1;
}

/* line 49, ../sass/_colors.scss */
.clr-pos2 {
  color: #4fca74;
}

/* line 50, ../sass/_colors.scss */
.clr-pos3 {
  color: #1e6232;
}

/* line 51, ../sass/_colors.scss */
.clr-pos1-bg {
  background-color: #b1e8c1;
}

/* line 52, ../sass/_colors.scss */
.clr-pos2-bg {
  background-color: #4fca74;
}

/* line 53, ../sass/_colors.scss */
.clr-pos3-bg {
  background-color: #1e6232;
}

/*yellows*/
/* line 59, ../sass/_colors.scss */
.clr-alert1 {
  color: #fff5cd;
}

/* line 60, ../sass/_colors.scss */
.clr-alert2 {
  color: #ffe167;
}

/* line 61, ../sass/_colors.scss */
.clr-alert3 {
  color: #9a7c00;
}

/* line 62, ../sass/_colors.scss */
.clr-alert1-bg {
  background-color: #fff5cd;
}

/* line 63, ../sass/_colors.scss */
.clr-alert2-bg {
  background-color: #ffe167;
}

/* line 64, ../sass/_colors.scss */
.clr-alert3-bg {
  background-color: #9a7c00;
}

/*pinks*/
/* line 70, ../sass/_colors.scss */
.clr-loud1 {
  color: #eec4dd;
}

/* line 71, ../sass/_colors.scss */
.clr-loud2 {
  color: #da7db3;
}

/* line 72, ../sass/_colors.scss */
.clr-loud3 {
  color: #a83075;
}

/* line 73, ../sass/_colors.scss */
.clr-loud1-bg {
  background-color: #eec4dd;
}

/* line 74, ../sass/_colors.scss */
.clr-loud2-bg {
  background-color: #da7db3;
}

/* line 75, ../sass/_colors.scss */
.clr-loud3-bg {
  background-color: #a83075;
}

/*blues*/
/* line 81, ../sass/_colors.scss */
.clr-cool1 {
  color: #8ddfff;
}

/* line 82, ../sass/_colors.scss */
.clr-cool2 {
  color: #00aef3;
}

/* line 83, ../sass/_colors.scss */
.clr-cool3 {
  color: #00658d;
}

/* line 84, ../sass/_colors.scss */
.clr-cool1-bg {
  background-color: #8ddfff;
}

/* line 85, ../sass/_colors.scss */
.clr-cool2-bg {
  background-color: #00aef3;
}

/* line 86, ../sass/_colors.scss */
.clr-cool3-bg {
  background-color: #00658d;
}

/*--- color groups ---*/
/*--- brands ---*/
/* line 99, ../sass/_colors.scss */
.clr-tri {
  color: #d61920;
}

/* line 100, ../sass/_colors.scss */
.clr-tril {
  color: #7b0e12;
}

/* line 101, ../sass/_colors.scss */
.clr-tri-bg {
  background-color: #d61920;
}

/* line 102, ../sass/_colors.scss */
.clr-tril-bg {
  background-color: #7b0e12;
}

/* line 107, ../sass/_colors.scss */
.clr-xperiel {
  color: #d61920;
}

/* line 108, ../sass/_colors.scss */
.clr-xperiell {
  color: #cae7f9;
}

/* line 109, ../sass/_colors.scss */
.clr-xperiel-bg {
  background-color: #d61920;
}

/* line 110, ../sass/_colors.scss */
.clr-xperiell-bg {
  background-color: #cae7f9;
}

/* line 115, ../sass/_colors.scss */
.clr-gigya {
  color: #1f5ba7;
}

/* line 116, ../sass/_colors.scss */
.clr-gigyal {
  color: #cae7f9;
}

/* line 117, ../sass/_colors.scss */
.clr-gigya-bg {
  background-color: #1f5ba7;
}

/* line 118, ../sass/_colors.scss */
.clr-gigyal-bg {
  background-color: #cae7f9;
}

/* line 123, ../sass/_colors.scss */
.clr-sc {
  color: #ff9112;
}

/* line 124, ../sass/_colors.scss */
.clr-scl {
  color: #fcc884;
}

/* line 125, ../sass/_colors.scss */
.clr-scd {
  color: salmon;
}

/* line 126, ../sass/_colors.scss */
.clr-sc-bg {
  background-color: #ff9112;
}

/* line 127, ../sass/_colors.scss */
.clr-scl-bg {
  background-color: #fcc884;
}

/* line 128, ../sass/_colors.scss */
.clr-scd-bg {
  background-color: salmon;
}

/* line 133, ../sass/_colors.scss */
.clr-moey {
  color: #00aef3;
}

/* line 134, ../sass/_colors.scss */
.clr-moeyl {
  color: #c0edff;
}

/* line 135, ../sass/_colors.scss */
.clr-moeyd {
  color: #0077a6;
}

/* line 136, ../sass/_colors.scss */
.clr-moey-bg {
  background-color: #00aef3;
}

/* line 137, ../sass/_colors.scss */
.clr-moeyl-bg {
  background-color: #c0edff;
}

/* line 138, ../sass/_colors.scss */
.clr-moeyd-bg {
  background-color: #0077a6;
}

/* line 142, ../sass/_colors.scss */
.clr-amnh {
  color: #0074bd;
}

/* line 143, ../sass/_colors.scss */
.clr-amnhl {
  color: #7ebfe9;
}

/* line 144, ../sass/_colors.scss */
.clr-amnh-bg {
  background-color: #0074bd;
}

/* line 145, ../sass/_colors.scss */
.clr-amnhl-bg {
  background-color: #7ebfe9;
}

/* line 150, ../sass/_colors.scss */
.clr-mr {
  color: #ffb541;
}

/* line 151, ../sass/_colors.scss */
.clr-mrl {
  color: #ffdda7;
}

/* line 152, ../sass/_colors.scss */
.clr-mrd {
  color: #da8500;
}

/* line 153, ../sass/_colors.scss */
.clr-mr-bg {
  background-color: #ffb541;
}

/* line 154, ../sass/_colors.scss */
.clr-mrl-bg {
  background-color: #ffdda7;
}

/* line 155, ../sass/_colors.scss */
.clr-mrd-bg {
  background-color: #da8500;
}

/* line 159, ../sass/_colors.scss */
.clr-nick {
  color: #ff7b00;
}

/* line 160, ../sass/_colors.scss */
.clr-nickl {
  color: #ffca99;
}

/* line 161, ../sass/_colors.scss */
.clr-nick-bg {
  background-color: #ff7b00;
}

/* line 162, ../sass/_colors.scss */
.clr-nickl-bg {
  background-color: #ffca99;
}

/* line 165, ../sass/_colors.scss */
.clr-ibml {
  color: #2677c8;
}

/*------- custome ----------*/
/* line 4, ../sass/xpfp.scss */
.clr-lightest {
  color: #cccccc;
}

/* line 5, ../sass/xpfp.scss */
.clr-menu1 {
  color: #125c66;
}

/* line 6, ../sass/xpfp.scss */
.clr-menu2 {
  color: #11bcd8;
}

/* line 8, ../sass/xpfp.scss */
.clr-clr-r {
  color: black;
}

/* line 9, ../sass/xpfp.scss */
.clr-clr-o {
  color: #f69213;
}

/* line 10, ../sass/xpfp.scss */
.clr-clr-o2 {
  color: #ffff4c;
}

/* line 11, ../sass/xpfp.scss */
.clr-clr-y {
  color: black;
}

/* line 12, ../sass/xpfp.scss */
.clr-clr-g {
  color: black;
}

/* line 13, ../sass/xpfp.scss */
.clr-clr-b {
  color: #00cfff;
}

/* line 14, ../sass/xpfp.scss */
.clr-clr-i {
  color: black;
}

/* line 15, ../sass/xpfp.scss */
.clr-clr-v {
  color: #ff00e1;
}

/* line 17, ../sass/xpfp.scss */
.clr-bg0 {
  color: #0a080f;
}

/* line 18, ../sass/xpfp.scss */
.clr-bg1 {
  color: #111111;
}

/* line 19, ../sass/xpfp.scss */
.clr-bg2 {
  color: #222222;
}

/* line 20, ../sass/xpfp.scss */
.clr-bg3 {
  color: #333333;
}

/* line 21, ../sass/xpfp.scss */
.clr-bg9 {
  color: #eae6e7;
}

/* line 23, ../sass/xpfp.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 27, ../sass/xpfp.scss */
body, html {
  background-color: #111111;
  width: 100%;
  height: 100%;
}

/* line 32, ../sass/xpfp.scss */
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1;
}

/* line 40, ../sass/xpfp.scss */
h1, h2 {
  font-weight: lighter;
  font-size: 48px;
  text-transform: none;
  color: #cccccc;
}
@media (max-width: 800px) {
  /* line 40, ../sass/xpfp.scss */
  h1, h2 {
    font-size: 34px;
  }
}
/* line 48, ../sass/xpfp.scss */
h1 span, h2 span {
  font-weight: 500;
  color: #cccccc;
}

/* line 54, ../sass/xpfp.scss */
h2 {
  font-size: 24px;
}

/* line 58, ../sass/xpfp.scss */
#wrapper, .footer {
  max-width: 2560px;
  background-color: #0a080f;
}

/* line 63, ../sass/xpfp.scss */
header {
  position: absolute;
  z-index: 999;
  height: 48px;
  width: 100%;
  max-width: 2560px;
  padding: 0;
  background: -moz-linear-gradient(left, rgba(255, 0, 225, 0.24) 0%, rgba(0, 207, 255, 0.12) 50%, rgba(255, 0, 225, 0.24) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 0, 225, 0.24) 0%, rgba(0, 207, 255, 0.12) 50%, rgba(255, 0, 225, 0.24) 100%);
  background: linear-gradient(to right, rgba(255, 0, 225, 0.24) 0%, rgba(0, 207, 255, 0.12) 50%, rgba(255, 0, 225, 0.24) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3dff00e1', endColorstr='#3dff00e1',GradientType=1 );
}

/* line 76, ../sass/xpfp.scss */
.scrim1 {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 0, 225, 0.12) 0%, rgba(0, 207, 255, 0.06) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 0, 225, 0.12) 0%, rgba(0, 207, 255, 0.06) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 0, 225, 0.12) 0%, rgba(0, 207, 255, 0.06) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0fff00e1', endColorstr='#0800cfff',GradientType=1 );
}

/* line 87, ../sass/xpfp.scss */
.scrim2 {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.03) 60%, black 99%, black 100%);
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.03) 60%, black 99%, black 100%);
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.03) 60%, #000000 99%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}

/* line 98, ../sass/xpfp.scss */
.contact-btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  float: right;
  height: 38px;
  padding: 0 20px;
  margin: 5px;
  color: #111111;
  border-color: #f69213;
  background: #ffff4c;
  background-image: -webkit-linear-gradient(top, #ffff4c, #f69213);
  background-image: -moz-linear-gradient(top, #ffff4c, #f69213);
  background-image: -ms-linear-gradient(top, #ffff4c, #f69213);
  background-image: -o-linear-gradient(top, #ffff4c, #f69213);
  background-image: linear-gradient(to bottom, #ffff4c, #f69213);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
}
/* line 118, ../sass/xpfp.scss */
.contact-btn:hover {
  background: #ffff4c;
  text-decoration: none;
}

/* line 124, ../sass/xpfp.scss */
.fullfade-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a080f;
  animation: fadout 		4s   ease-in  1s 1 both;
}

/* line 131, ../sass/xpfp.scss */
.prob {
  animation: fadout 		1.5s ease-out 1s 1 both;
}

/* line 132, ../sass/xpfp.scss */
.solu {
  animation: fadin 		3s ease-out 1.5s 1 both;
}

/*	animation: name duration timing-function delay iteration-count direction fill-mode animation-play-state: */
/* line 136, ../sass/xpfp.scss */
.menu-header, .menu-footer {
  position: relative;
  display: inline-block;
  top: 16px;
  float: right;
}
/* line 141, ../sass/xpfp.scss */
.menu-header li, .menu-footer li {
  padding-right: 30px;
  color: #cccccc;
  float: right;
}
/* line 145, ../sass/xpfp.scss */
.menu-header li:hover, .menu-footer li:hover {
  color: #f69213;
}

/* line 151, ../sass/xpfp.scss */
.sec-hero, .sec-contact, .sec-rww {
  position: relative;
  display: inline-block;
  background-color: #0a080f;
  width: 100%;
  height: 95vh;
  background-size: contain;
}
/* line 159, ../sass/xpfp.scss */
.sec-hero h1, .sec-hero h2, .sec-contact h1, .sec-contact h2, .sec-rww h1, .sec-rww h2 {
  position: absolute;
  width: 100%;
  bottom: 8%;
  text-shadow: 0px 0px 6px #0a080f;
}
@media (max-width: 800px) {
  /* line 159, ../sass/xpfp.scss */
  .sec-hero h1, .sec-hero h2, .sec-contact h1, .sec-contact h2, .sec-rww h1, .sec-rww h2 {
    bottom: 5%;
  }
}
/* line 168, ../sass/xpfp.scss */
.sec-hero iframe, .sec-contact iframe, .sec-rww iframe {
  position: relative;
  top: 0;
  left: 0;
}
/* line 173, ../sass/xpfp.scss */
.sec-hero .center-holder, .sec-contact .center-holder, .sec-rww .center-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 179, ../sass/xpfp.scss */
.sec-hero .hero-hex, .sec-contact .hero-hex, .sec-rww .hero-hex {
  position: absolute;
  display: inline-block;
  margin-top: 25vh;
  width: 50%;
  margin-left: 25%;
}
@media (min-width: 751px) {
  /* line 179, ../sass/xpfp.scss */
  .sec-hero .hero-hex, .sec-contact .hero-hex, .sec-rww .hero-hex {
    width: 30%;
    margin-left: 35%;
  }
}
@media (min-width: 1000px) {
  /* line 179, ../sass/xpfp.scss */
  .sec-hero .hero-hex, .sec-contact .hero-hex, .sec-rww .hero-hex {
    width: 20%;
    margin-left: 40%;
  }
}
/* line 194, ../sass/xpfp.scss */
.sec-hero .horizontal, .sec-contact .horizontal, .sec-rww .horizontal {
  display: flex;
  justify-content: center;
}
/* line 197, ../sass/xpfp.scss */
.sec-hero .horizontal .vertical, .sec-contact .horizontal .vertical, .sec-rww .horizontal .vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 202, ../sass/xpfp.scss */
.sec-hero .horizontal .fullv, .sec-contact .horizontal .fullv, .sec-rww .horizontal .fullv {
  width: 100%;
  height: 100%;
}
/* line 206, ../sass/xpfp.scss */
.sec-hero .horizontal .hexo, .sec-contact .horizontal .hexo, .sec-rww .horizontal .hexo {
  max-width: 200px;
}

/* line 212, ../sass/xpfp.scss */
.sec-contact {
  height: 570px;
}
/* line 214, ../sass/xpfp.scss */
.sec-contact h1, .sec-contact h2 {
  top: 50%;
}

/* line 220, ../sass/xpfp.scss */
.sec-showcases li {
  position: relative;
  display: inline-block;
  background-color: #111111;
  border-bottom: 1px solid #0a080f;
  width: 100%;
  height: 600px;
}
/* line 227, ../sass/xpfp.scss */
.sec-showcases li h1, .sec-showcases li h2 {
  position: absolute;
  width: 25%;
  right: 5%;
  bottom: 41%;
  text-align: center;
  line-height: 1.1;
}
@media (max-width: 800px) {
  /* line 227, ../sass/xpfp.scss */
  .sec-showcases li h1, .sec-showcases li h2 {
    bottom: 8%;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 28px;
  }
}
/* line 241, ../sass/xpfp.scss */
.sec-showcases li h1 {
  top: 35%;
  opacity: .25;
}
@media (max-width: 800px) {
  /* line 241, ../sass/xpfp.scss */
  .sec-showcases li h1 {
    opacity: 0;
  }
}
/* line 248, ../sass/xpfp.scss */
.sec-showcases li .sec-visuals {
  position: absolute;
  display: inline-block;
  top: 10%;
  left: 5%;
  width: 60%;
  height: 80%;
}
@media (max-width: 800px) {
  /* line 248, ../sass/xpfp.scss */
  .sec-showcases li .sec-visuals {
    width: 90%;
    height: 400px;
  }
}
/* line 258, ../sass/xpfp.scss */
.sec-showcases li .sec-copy {
  position: absolute;
  display: inline-block;
  top: 10%;
  right: 5%;
  width: 30%;
  height: 80%;
}
@media (max-width: 800px) {
  /* line 258, ../sass/xpfp.scss */
  .sec-showcases li .sec-copy {
    width: 90%;
    height: 400px;
  }
}

/* line 271, ../sass/xpfp.scss */
.fore-ground {
  z-index: 3;
}

/* line 272, ../sass/xpfp.scss */
.middle-ground {
  z-index: 2;
}

/* line 273, ../sass/xpfp.scss */
.back-ground {
  z-index: 4;
}

/* line 276, ../sass/xpfp.scss */
.sec-arena .back-ground {
  position: absolute;
  width: 80%;
  height: 80%;
  right: 0;
}
@media (max-width: 600px) {
  /* line 276, ../sass/xpfp.scss */
  .sec-arena .back-ground {
    width: 100%;
    height: 70%;
  }
}
/* line 283, ../sass/xpfp.scss */
.sec-arena .back-ground .img-backdrop {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 286, ../sass/xpfp.scss */
.sec-arena .back-ground .img-screen {
  position: absolute;
  top: 0;
  right: 0;
  animation: flicker .4s ease infinite;
}
/* line 292, ../sass/xpfp.scss */
.sec-arena .middle-ground {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 80%;
}
/* line 297, ../sass/xpfp.scss */
.sec-arena .middle-ground .img-prize1 {
  position: absolute;
  top: 0%;
  left: 18%;
  animation: bob-a 3.9s infinite, flicker .2s ease infinite;
}
/* line 304, ../sass/xpfp.scss */
.sec-arena .middle-ground .img-prize2 {
  position: absolute;
  top: 30%;
  right: 9%;
  max-width: 50%;
  animation: bob-b 4.1s infinite, flicker .3s ease infinite;
}
/* line 313, ../sass/xpfp.scss */
.sec-arena .fore-ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 80%;
}
@media (max-width: 600px) {
  /* line 313, ../sass/xpfp.scss */
  .sec-arena .fore-ground {
    width: 100%;
    bottom: 5%;
  }
}
/* line 321, ../sass/xpfp.scss */
.sec-arena .fore-ground .img-croud, .sec-arena .fore-ground .img-glow {
  position: absolute;
  bottom: 1%;
  left: 1%;
}
/* line 325, ../sass/xpfp.scss */
.sec-arena .fore-ground .img-glow {
  position: absolute;
  bottom: 1%;
  left: 1%;
  animation: flash 1s ease infinite;
}

/* line 335, ../sass/xpfp.scss */
.sec-fitfly .back-ground {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
}
/* line 340, ../sass/xpfp.scss */
.sec-fitfly .img-plane {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
}
/* line 345, ../sass/xpfp.scss */
.sec-fitfly .img-data {
  position: absolute;
  bottom: 35%;
  left: 45%;
  max-width: 75%;
  animation: flicker .2s ease infinite;
}
/* line 352, ../sass/xpfp.scss */
.sec-fitfly .img-runner {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 75%;
}

/* line 360, ../sass/xpfp.scss */
.sec-prefs .img-man {
  position: absolute;
  bottom: 0%;
  right: 50%;
}
/* line 365, ../sass/xpfp.scss */
.sec-prefs .back-ground .img-backLeft {
  position: absolute;
  bottom: 30px;
  left: 0;
}
/* line 368, ../sass/xpfp.scss */
.sec-prefs .back-ground .img-backMiddle {
  position: absolute;
  height: 70%;
  top: 0;
  left: 21%;
}
/* line 373, ../sass/xpfp.scss */
.sec-prefs .back-ground .img-backRight, .sec-prefs .back-ground .img-backRight2 {
  position: absolute;
  bottom: 10%;
  right: 0;
  height: 80%;
  vertical-align: middle;
}
/* line 381, ../sass/xpfp.scss */
.sec-prefs .back-ground .middle-ground {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* line 388, ../sass/xpfp.scss */
.sec-prefs .fore-ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 399, ../sass/xpfp.scss */
.sec-contact .tagline {
  position: absolute;
  top: 5%;
}

/* line 405, ../sass/xpfp.scss */
.sec-buckets {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: #222222;
}
@media (max-width: 770px) {
  /* line 405, ../sass/xpfp.scss */
  .sec-buckets {
    height: 150px;
  }
}
/* line 415, ../sass/xpfp.scss */
.sec-buckets li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 25%;
  height: 75%;
  border-right: 1px dashed #333333;
}
/* line 423, ../sass/xpfp.scss */
.sec-buckets li h2 {
  width: 100%;
  margin: 0;
}
/* line 426, ../sass/xpfp.scss */
.sec-buckets li h2:hover {
  color: #f69213;
}
@media (max-width: 770px) {
  /* line 423, ../sass/xpfp.scss */
  .sec-buckets li h2 {
    font-size: 22px;
  }
}

/* line 436, ../sass/xpfp.scss */
.footer, .push {
  overflow: hidden;
  height: 50px;
  /* '.push' must be the same height as 'footer' */
}

/* line 441, ../sass/xpfp.scss */
.footer {
  background-color: #111111;
}
/* line 443, ../sass/xpfp.scss */
.footer .menu-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  float: none;
}
@media (max-width: 800px) {
  /* line 443, ../sass/xpfp.scss */
  .footer .menu-footer {
    display: block;
  }
}
/* line 451, ../sass/xpfp.scss */
.footer .menu-footer li {
  text-align: center;
  float: left;
  padding: 0;
  margin: 0;
  width: 10%;
}
/* line 457, ../sass/xpfp.scss */
.footer .menu-footer li:hover {
  color: #f69213;
}
@media (max-width: 800px) {
  /* line 451, ../sass/xpfp.scss */
  .footer .menu-footer li {
    min-width: 100%;
    line-height: 1.5;
  }
}

@keyframes fadin {
  /* line 469, ../sass/xpfp.scss */
  0% {
    opacity: 0;
  }

  /* line 470, ../sass/xpfp.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadout {
  /* line 473, ../sass/xpfp.scss */
  0% {
    opacity: 1;
  }

  /* line 474, ../sass/xpfp.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadin-out {
  /* line 477, ../sass/xpfp.scss */
  0% {
    opacity: 0;
  }

  /* line 478, ../sass/xpfp.scss */
  20% {
    opacity: 1;
  }

  /* line 479, ../sass/xpfp.scss */
  80% {
    opacity: 1;
  }

  /* line 480, ../sass/xpfp.scss */
  100% {
    opacity: 0;
  }
}

@keyframes flicker {
  /* line 484, ../sass/xpfp.scss */
  0% {
    opacity: 0.9;
  }

  /* line 485, ../sass/xpfp.scss */
  50% {
    opacity: 1.0;
  }

  /* line 486, ../sass/xpfp.scss */
  100% {
    opacity: 0.9;
  }
}

@keyframes flash {
  /* line 490, ../sass/xpfp.scss */
  0% {
    opacity: 0.5;
  }

  /* line 491, ../sass/xpfp.scss */
  50% {
    opacity: 0.0;
  }

  /* line 492, ../sass/xpfp.scss */
  100% {
    opacity: 0.5;
  }
}

@keyframes bob-a {
  /* line 496, ../sass/xpfp.scss */
  0%, 100% {
    transform: translate(0, 0);
  }

  /* line 497, ../sass/xpfp.scss */
  0% {
    transform: translate(0, 5px);
  }

  /* line 498, ../sass/xpfp.scss */
  50% {
    transform: translate(0, -5px);
  }

  /* line 499, ../sass/xpfp.scss */
  100% {
    transform: translate(0, 5px);
  }
}

@keyframes bob-b {
  /* line 502, ../sass/xpfp.scss */
  0%, 100% {
    transform: translate(0, 0);
  }

  /* line 503, ../sass/xpfp.scss */
  0% {
    transform: translate(0, -5px);
  }

  /* line 504, ../sass/xpfp.scss */
  50% {
    transform: translate(0, 5px);
  }

  /* line 505, ../sass/xpfp.scss */
  100% {
    transform: translate(0, -5px);
  }
}

/* line 508, ../sass/xpfp.scss */
#xplogo {
  position: absolute;
  top: 15px;
  left: 15px;
}
/* line 513, ../sass/xpfp.scss */
#xplogo root {
  font-size: 400px;
}
/* line 518, ../sass/xpfp.scss */
#xplogo html,
#xplogo body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 524, ../sass/xpfp.scss */
#xplogo body {
  background: #999;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 534, ../sass/xpfp.scss */
#xplogo h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  font-size: var(--font-size);
  -webkit-filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
  position: relative;
}
/* line 548, ../sass/xpfp.scss */
#xplogo h1 > .x {
  font-size: 1.2em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #ffff4c 0%, #f69213 100%);
}
/* line 555, ../sass/xpfp.scss */
#xplogo h1:before {
  content: 'X';
  font-size: 1.2em;
  position: absolute;
  bottom: -0.2em;
}
/* line 562, ../sass/xpfp.scss */
#xplogo h1 > .hex {
  position: absolute;
  top: 21.5%;
  right: 25.15%;
  width: 0.17em;
  background-image: linear-gradient(180deg, #ffff4c 0%, #f69213 100%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
/* line 572, ../sass/xpfp.scss */
#xplogo h1 > .hex:after {
  content: '';
  display: block;
  padding-bottom: 110%;
}
