/* -------------------------------------------------------------------
colors
------------------------------------------------------------------- */
$clr-fb: 		#3b5998; 
$clr-tw: 		#00acee; 

/*--- body colors ----*/
$clr-white:		#fff;
$clr-lightest:	#fff;

/*dark blue*/
$clr-body6:		#36566F;
$clr-body7:		#91B6C7;
$clr-darkest:	darken($clr-body6, 20%);
$clr-shadow:	darken($clr-body6, 70%);

/*lightbox*/
$clr-lb2:	lighten($clr-body6, 25%); 
$clr-lb1:	lighten($clr-lb2, 25%); 
$clr-lb3:	#1D2E3C; /*darken($clr-lb2, 15%);*/

$clr-body5:		#efefef;/*#f2f2f0;*/
$clr-body4:		darken($clr-body5, 5%);
$clr-body3:		darken($clr-body5, 10%);
$clr-body2:		darken($clr-body5, 15%);
$clr-body1:		darken($clr-body5, 20%);
$clr-body:		darken($clr-body5, 50%);

/*--- color groups ---*/
/*oranges*/
$clr-brand1:	#FCC884; 
$clr-brand2:	#FF9112; 
$clr-brand3:	#FA8072; 

/*greens*/ 
$clr-pos2:		#4FCA74;			
$clr-pos1:		lighten($clr-pos2, 30%); 
$clr-pos3:		 darken($clr-pos2, 30%);

/*reds*/ 
$clr-neg2:		#ED5A5A;			
$clr-neg1:		lighten($clr-neg2, 20%); 
$clr-neg3:		 darken($clr-neg2, 35%);

/*yellows*/
$clr-alert2:	#FFE167;			
$clr-alert1:	lighten($clr-alert2, 20%); 
$clr-alert3:	 darken($clr-alert2, 40%);
	
/*pinks*/
$clr-loud2:		#DA7DB3;
$clr-loud1:		lighten($clr-loud2, 20%);
$clr-loud3:		 darken($clr-loud2, 25%);

/*blues*/
$clr-plus2: 	#00acee;
$clr-plus1:		lighten($clr-plus2, 30%);
$clr-plus3:		 darken($clr-plus2, 30%);

/* light pink */
$clr-admin1:	#FFBFFF; 			 
$clr-admin2:	#FF00FF;			
$clr-admin3:	#660066;			

/*--- color groups ---*/
$clr-active:	#da7db3;
$clr-enabled: 	#596C73;
$clr-enabledbg: #845B4E;
$clr-disabled: 	#c7cbd6;
$clr-info: 		$clr-plus3; 
	

/* -------------------------------------------------------------------
text
------------------------------------------------------------------- */
$txt-h1:		#da7db3;			
$txt-h2:		#da7db3;			
$txt-info:		darken($clr-body5, 60%);
$txt-body:		$clr-body;			
$txt-active:	$clr-active;			
$txt-enabled:	$clr-enabled;
$txt-disabled:	$clr-disabled;
$txt-mems:		$clr-plus2;
$txt-special:	$clr-plus2;
$txt-price:		#fff;
