/* -------------------------------------------------------------------
colors
------------------------------------------------------------------- */
$clr-fb: 		#3b5998; 
$clr-tw: 		#00acee; 

/*--- body colors ----*/
$clr-lightest:	#fff;

/*body*/
$clr-body5:		#efefef;
$clr-body4:		darken($clr-body5, 5%);
$clr-body3:		darken($clr-body5, 10%);
$clr-body2:		darken($clr-body5, 15%);
$clr-body1:		darken($clr-body5, 20%);
$clr-body:		darken($clr-body5, 50%);

/*--- brands ---*/
$clr-gigya:		#1F5BA7;
$clr-sc:		#1F5BA7;
$clr-moey:		#00AEF3;
$clr-amnh:		#1F5BA7;
$clr-mr:		#1F5BA7;
$clr-nick:		#1F5BA7;

/*--- color groups ---*/
/*oranges*/
$clr-brand1:	#FCC884; 
$clr-brand2:	#FF9112; 
$clr-brand3:	#FA8072; 

/*greens*/ 
$clr-pos2:		#4FCA74;			
$clr-pos1:		lighten($clr-pos2, 30%); 
$clr-pos3:		 darken($clr-pos2, 30%);

/*reds*/ 
$clr-neg2:		#ED5A5A;			
$clr-neg1:		lighten($clr-neg2, 20%); 
$clr-neg3:		 darken($clr-neg2, 35%);

/*yellows*/
$clr-alert2:	#FFE167;			
$clr-alert1:	lighten($clr-alert2, 20%); 
$clr-alert3:	 darken($clr-alert2, 40%);
	
/*pinks*/
$clr-loud2:		#DA7DB3;
$clr-loud1:		lighten($clr-loud2, 20%);
$clr-loud3:		 darken($clr-loud2, 25%);

/*blues*/
$clr-plus2: 	#00acee;
$clr-plus1:		lighten($clr-plus2, 30%);
$clr-plus3:		 darken($clr-plus2, 30%);

/* light pink */
$clr-admin1:	#FFBFFF; 			 
$clr-admin2:	#FF00FF;			
$clr-admin3:	#660066;			

/*--- color groups ---*/
$clr-active:	#da7db3;
$clr-enabled: 	#596C73;
$clr-enabledbg: #845B4E;
$clr-disabled: 	#c7cbd6;
$clr-info: 		$clr-plus3; 
