@import "colors";

@mixin border-radius ($radius: 5px) {
     -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
          border-radius: $radius;
             -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
                  background-clip: padding-box;
}

@mixin perspective($perspective) {
     -moz-perspective: $perspective;
      -ms-perspective: $perspective;
  -webkit-perspective: $perspective;
          perspective: $perspective;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*------- custome ---------*/
@mixin clearfix {
  content: ' ';
  display: block;
  clear:both;
}

@mixin sc-box-shadow { @include box-shadow(0px, 0px, 5px, rgba(0,0,0,0.5), null); }
@mixin no-box-shadow { @include box-shadow-reset; }

@mixin field-border-radius {@include border-radius(10px); }
@mixin border-radius-t {@include border-radius(5px 5px 0 0); }
@mixin border-radius-b {@include border-radius(0 0 5px 5px); }
@mixin border-radius-l {@include border-radius(5px 0 0 5px); }
@mixin border-radius-r {@include border-radius(0 5px 5px 0); }
@mixin roundit {@include border-radius(50%); }
@mixin no-radius {@include border-radius(0%); }

@mixin modal-border($size: 1em) { border: $size $clr-body6 solid; }
@mixin profile-border($size: 0.5em) { border: $size $clr-body6 solid; }

@mixin rotate($degrees) {
   -moz-transform: rotate(#{$degrees}deg);
     -o-transform: rotate(#{$degrees}deg);
-webkit-transform: rotate(#{$degrees}deg);
           filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
       -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
             zoom: 1;
}

@mixin blink ($time: 1s) {
  -webkit-animation: blink $time; -webkit-animation-iteration-count: infinite;
  -moz-animation: blink $time; -moz-animation-iteration-count: infinite;
  -o-animation: blink $time; -o-animation-iteration-count: infinite;
}
