@import "colors";
@import "mixins";

/* ----------------------------------------------
sass mixins
-----------------------------------------------*/
@mixin border-radius ($radius: 5px) {
     -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
          border-radius: $radius;
             -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
                  background-clip: padding-box;
}

/* ----------------------------------------------
colors
-----------------------------------------------*/
/*--- defaults colors ----*/
$clr-lightest:		#FFFFFF;
$clr-darkest:		#414141;
$clr-tevagreen:		#00A785;
$clr-cmibrand:		#F4B90B;
.clr-lightest		{color: $clr-lightest;}
.clr-darkest		{color: $clr-darkest;}
.clr-cmibrand		{color: $clr-cmibrand;}
.clr-cmibrand		{color: $clr-cmibrand;}
.clr-bg-lightest	{background-color: $clr-lightest;}
.clr-bg-darkest		{background-color: $clr-darkest;}
.clr-bg-cmibrand	{background-color: $clr-cmibrand;}

/*Backgrounds*/
$clr-bg-dark:		#535353;
$clr-bg-darker:		#2F2F2F;
$clr-bg-light:		#F3F3F3;
$clr-bg-lighter:	#FFFFFF;
.clr-bg-dark		{background-color: $clr-bg-dark}
.clr-bg-darker		{background-color: $clr-bg-darker}
.clr-bg-light		{background-color: $clr-bg-light}
.clr-bg-lighter		{background-color: $clr-bg-lighter}

/*body*/
$clr-body1:			#F3F3F3;
$clr-body2:			#535353;
$clr-body3:			#2A2A2A;
$clr-body4:			#303030;
$clr-link:			#b77e05;
$clr-linkl:			#F4B90B;
.clr-body1			{color: $clr-body1}
.clr-body2			{color: $clr-body2}
.clr-body3			{color: $clr-body3}
.clr-body4			{color: $clr-body4}
.clr-link			{color: $clr-link}
.clr-linkl			{color: $clr-linkl}
.clr-bg-body1		{background-color: $clr-body1}
.clr-bg-body2		{background-color: $clr-body2}
.clr-bg-body3		{background-color: $clr-body3}
.clr-bg-body4		{background-color: $clr-body4}
.clr-bg-link		{background-color: $clr-link}
.clr-bg-linkl		{background-color: $clr-linkl}

/*Warm*/
$clr-warm1:			#F4B90B;
$clr-warm2:			#F09E11;
$clr-warm3:			#E67F22;
$clr-warm4:			#D05300;
$clr-warm5:			#BF3930;
.clr-warm1			{color: $clr-warm1;}
.clr-warm2			{color: $clr-warm2;}
.clr-warm3			{color: $clr-warm3;}
.clr-warm4			{color: $clr-warm4;}
.clr-warm5			{color: $clr-warm5;}
.clr-bg-warm1		{background-color: $clr-warm1;}
.clr-bg-warm2		{background-color: $clr-warm2;}
.clr-bg-warm3		{background-color: $clr-warm3;}
.clr-bg-warm4		{background-color: $clr-warm4;}
.clr-bg-warm5		{background-color: $clr-warm5;}

/*Cool*/
$clr-cool1:			#25253A;
$clr-cool2:			#0071BC;
.clr-warm1			{color: $clr-cool1;}
.clr-warm2			{color: $clr-cool2;}

/*positive/negative*/
$clr-pos1:			#2ECC71;
$clr-pos2:			#00A785;
$clr-neg1:			#F4938B;
$clr-neg2:			#E74C3C;
.clr-pos1			{color: $clr-pos1;}
.clr-pos2			{color: $clr-pos2;}
.clr-neg1 			{color: $clr-neg1;}
.clr-neg2			{color: $clr-neg2;}
.clr-bg-pos1		{background-color: $clr-pos1;}
.clr-bg-pos2		{background-color: $clr-pos2;}
.clr-bg-neg1 		{background-color: $clr-neg1;}
.clr-bg-neg2		{background-color: $clr-neg2;}

/*spectrum*/
$clr-yellow1:		#F4B90B;
$clr-green1:		$clr-pos1;
$clr-aqua1:			#1abc9c;
$clr-purple1:		#9b59b6;
.clr-yellow1		{color: $clr-yellow1;}
.clr-green1			{color: $clr-green1;}
.clr-aqua1			{color: $clr-aqua1;}
.clr-purple1		{color: $clr-purple1;}
.clr-bg-yellow1		{background-color: $clr-yellow1;}
.clr-bg-green1		{background-color: $clr-green1;}
.clr-bg-aqua1		{background-color: $clr-aqua1;}
.clr-bg-purple1		{background-color: $clr-purple1;}

@mixin shadow1 {
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,.8));
    filter:         drop-shadow(1px 1px 1px rgba(0,0,0,.8));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#333')";
    filter:     "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#333')";
}

/* ----------------------------------------------
resets
-----------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-transform: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	line-height: 1;
	background-color: $clr-lightest;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------
containers
-----------------------------------------------*/
* {
	margin: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	background-color: $clr-lightest;
}
#wrapper {
	width: 100%;
	max-width: 1200px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */
	background-color: $clr-lightest;
}
/* ----------------------------------------------
text
-----------------------------------------------*/

h1,h2,h3,h4,h5,h6,body,.megaheadline {
	font-family:'Raleway','Open Sans',Arial,Helvetica,sans-serif;
	font-weight:600;
	color:$clr-darkest;
	margin: 0 0 1% 0;
	line-height:1.5;
	letter-spacing: normal;
	-webkit-font-smoothing: antialiased;
	@media (max-width: 700px) {line-height:1.25;}
}
.megaheadline{
	color:$clr-cmibrand;
	font-size: 75px;
	margin: 0 0 1% 0;
	line-height: 1;
	@include shadow1;
	@media (max-width: 700px) {font-size: 40px;}
}
h1 {font-size: 36px; margin: 0 0 2.5% 0; @media (max-width: 700px) {font-size: 30px;}}
h2 {font-size: 30px; margin: 0 0 2.2% 0; @media (max-width: 700px) {font-size: 25px;}}
h3 {font-size: 24px; margin: 0 0 2.0% 0; @media (max-width: 700px) {font-size: 20px;}}
h4 {font-size: 18px; margin: 0 0 1.2% 0;}
h5 {font-size: 14px; margin: 0 0 1.5% 0;}
h6 {font-size: 12px; margin: 0 0 1.5% 0; text-transform: uppercase;}

body, p{
	font-size: 14px;
	font-weight:normal;
}

a, button, .fa{
	color: $clr-link;
	&:hover{
		color: $clr-linkl;
	}
}

button, .fa{
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
}

.fa{
	font-size: 26px;
}

button {
	display: inline-block;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	line-height: 12px;
	height: 40px;
	margin: 0;
	padding: 0 1rem;
	border: none;
	color: $clr-lightest;
	background-color: $clr-link;
	border-radius: 4px;
	cursor: pointer;
	&:hover{
		color: $clr-lightest;
		background-color: $clr-linkl;
	}
}

.box{
	min-height: 10px;
	background-color: $clr-bg-light;
	outline: 1px solid $clr-body1;
}

header{
	position: relative;
	display: inline-block;
	width: 100%;
	background-color: $clr-bg-darker;
	height: 96px;
	
	.logobox{
		position: relative;
		display: inline-block;
		width: 15%;
		height: 90px;
		float: left;
	
		img{
			position: relative;
		    top: 50%;
			float: left;
			margin: 0 5%;
			transform: translate(0, -50%);
			width: 90%;
		}
	}
	.menubox{
		position: relative;
		display: inline-block;
		width: 80%;
		height: 96px;
		@media (max-width: 800px) {
			width: 90%;
			padding: 0 1% 0 5%;
		}
	}
	.username{
		position: absolute;
	    top: 50%;
	    right: 115px;
	    transform: translate(0, -50%);
		@media (max-width: 800px) {
			left: 5%;
		}
	}
	.fa{
		position: relative;
	    top: 50%;
		float: right;
		margin-left: 3%;
		transform: translate(0, -50%);
	}
	.selected{
		color: $clr-lightest;
	}
}
.footer{
	color:$clr-lightest;
	background-color: $clr-bg-darker;
	width: 100%;
	h1,h2,h3,h4,h5,h6,p,body{
		color: $clr-lightest;
	}
}

.bblock{
	position: relative;
	top: -5px;
	background-color: $clr-bg-light;
	padding: 4% 1% 1% 1%; 
}

/*************/
/* AR VIEWER */
/*************/

#arviewer{
	height: 1920px;
	width: 9600px;
	img{
		position: absolute;
		top: 0;
		left: 0;
    }
    .arcallout {
    	position: relative;
    	display: inline-block;
    	margin: 0;
		width: 50px;
		height: 50px;
		background: $clr-cmibrand;
		@include roundit;
		h2{
		    position: absolute;
			margin: 0;
		    top: 45%;
		    left: 50%;
		    margin-right: -50%;
		    transform: translate(-50%, -50%);
		    color: $clr-lightest;
		}
		&.ar1{	top:68%;	left: 1.2%;	}
		&.ar2{ 	top:67%;	left: 5%;	}
		&.ar3{	top:69%;	left: 11%;	}
		&.ar4{	top:50%;	left: 89%;  }
	}
}

/****************/
/*     Modal    */
/****************/

/* The Modal (backgrounds) */
.cmi-modalDialog {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	opacity:0;
	background: rgba(0,0,10,0.8);
	-webkit-transition: opacity 300ms ease-in;
	-moz-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in;
	pointer-events: none;
	overflow: scroll;
	z-index: 99999;
	::-webkit-scrollbar {
	    width: 0px;  /* remove scrollbar space */
	    background: transparent;  /* optional: just make scrollbar invisible */
	}
}

.cmi-modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.cmi-modalDialog > div {
	width: 90%;
	min-height: 80%;
	position: relative;
	margin: 5% auto;
	padding-bottom: 2%;
	border-radius: 1 solid $clr-cmibrand;
	background: $clr-cool2;
	@include border-radius-all;
	.title{
		background-color: $clr-bg-light;
	}
}

.ar-splashvid{
	iframe{
		width: 100%;
		height: 550px;
	}
}

ul.ar-content{
	h2, h3 {
		padding: 1rem 1rem 0 1rem;
	}
	p {
		padding: 0 1rem 1rem 1rem;
	}
	li{
		width: 96%;
		height: 700px;
		margin: 2% 2% 0% 2%;
		background-color: $clr-body1;
		&.ar-video{
			height: 367px;
			iframe{
				position: relative;
				display: inline-block;
				float: left;
				width: 70%;
				height: 100%;
			}
			.storyblock{
				position: relative;
				display: inline-block;
				width: 30%;
			}
		}
	}
}

.modalClose {
	position: absolute;
	top: -1rem;
	right: -1rem;
	width: 35px;
	height: 35px;
	margin: 0;
	color: $clr-neg1;
	background: $clr-neg2;
	@include roundit;
	&:hover { 
		color: $clr-neg2;
		background: $clr-neg1;
	}
	&.fa{
		padding-top: 4px;
		text-decoration: none;
		text-align: center;
	}
}

/*************/
/* RFID PAGE */
/*************/
#rfid-itembox, #rfid-leftovers{
	li{
		position: relative;
		display: inline-block;
		margin: 0 0 2% 0;
		width: 100%;
		height: 200px;
		background-color: $clr-body1;
		overflow: hidden;
		.textblock{
			position: relative;
			display: inline-block;
			width: 50%;
			float: left;
		}
		img{
			position: relative;
			display: inline-block;
			float: left;
			max-width: 50%;
		}
		h4, p{
			position: relative;
			display: inline-block;
			float: left;
			padding: .5rem 0 0 1rem;
			width: 50%;
		}
	}
}

#rfid-leftovers{
	li{
		width: 17.7%;
		margin-right: 2%;
		height: 312px;
		@media (max-width: 700px) {
			width: 24%;
			margin-right: 0%;
			height: 175px;
		}

		/*@include border-radius-all;*/
		img{
			display: block;
			float: left;
			max-width: 100%;
		}
		h4, p{
			display: block;
			float: left;
			width: 100%;
			@media (max-width: 700px) {
				font-size: .8rem;
			}
		}
	}
}



