@import "colors";
@import "mixins";

* {
	margin: 0;
	box-sizing: border-box;
}
html, body {
	line-height: 1.6rem;
	height: 100%;
	background-color: $clr-body5;
}
#wrapper {
	max-width: 1200px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
	background-color: $clr-lightest;
}
/*--------------------
colors
--------------------*/


/*--------------------
text
--------------------*/

h1, h2{
	text-align: center;
	clear: both;
	margin: 0 0 .5rem 0;
}
h1{
	text-transform: uppercase;
	font-family: 'Maven Pro', serif;
	font-weight: 900;
	font-size: 1.8rem;
	line-height: 2rem;
}
h2, h3{
	font-weight: 600;
	font-size: 1.4rem;

}
h3{
	display: block;
	text-align: left;
	line-height: 2rem;
}
h4{
	font-weight: 600;
	text-align: left;
}
p {
	margin-bottom: 1rem;
	max-width: 550px;
}

a{
	color: $clr-moey;
	&:hover, .active{
		color: $clr-loud2;
	}
}
.title{
	font-family: 'tall_films_fineregular';
	font-size: 5rem;
	line-height: 5rem;
	color: $clr-scd
}

.active{
	color: $clr-loud2;
}

.fa{
	font-size: 2.5rem;
}
.alert{
	color: red!important;
	background-color: $clr-neg1!important;
	padding: .5rem 2px;
}
.highlighter{
	background-color: $clr-alert1!important;
	padding: 3px 3px 1px 2px;
}

/*--------------------
containers
--------------------*/
ul.colors{
	width: 100px;
	margin: 0 1rem .5rem 0;
	float: left;
	li{
		text-align: center;
		vertical-align: center;
		line-height: 40px;
		color: $clr-lightest;
		height: 40px;
		@include border-radius;
	}
}

.bblock{
	width: 100%;
	background-color: $clr-lightest;
}

a.linkbox{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	&:hover{
	}
}

.gridbox{
	position: relative;
	display: inline-block;
	padding: 1%;
	
	.halves li, .thirds li, .fourths li{
		display: inline-block;
		position: relative;
		float: left;
		margin: 0 1% 1% 0;
		background-color: #eee;
	}
	.halves li{
		display: inline-block;
		position: relative;
		width: 48.5%;
		&:nth-child(2n+2) {
		    margin: 0 0 1% 0;
		}	
	}
	.thirds li{
		display: inline-block;
		position: relative;
		width: 32.66%;
		&:nth-child(3n+3) {
		    margin: 0 0 1% 0;
		}
	}
	.fourths li{
		display: inline-block;
		position: relative;
		width: 24.25%;
		&:nth-child(4n+4) {
		    margin: 0 0 1% 0;
		}	
	}
}

.half{width: 50%;}
.onethird{width: 33.33%;}
.twothirds{width: 66.66%;}
.forths{width: 25%;}
.fifths{width: 20%;}
.sixths{width: 18%;}

/*--------------------
header
--------------------*/
.contactbox, .leftmenu {
	position: absolute;
	top: 1.5%;
	right: 1%;
	a.fa {
		clear: right;
		margin-right: .5rem;
		@media (max-width: 650px) {
			margin-right: 0;
			padding: 5px 0;
		}
		&.active{
			color: $clr-lightest;
		}
	}
	.m-show{display: none;}

	@media (max-width: 650px) {
		position: relative;
		top: 0;
		right: 0;
		background-color: $clr-moeyl;
		a{
			float: left;
			color: $clr-moey;
			text-align: center;
			width: 16.667%;
		}
		.m-show{display: inline;}
		.m-hide{display: none;}
	}
}
.leftmenu{left: 1%;}

header{
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 4% 0;
	background-color: $clr-lightest;
	
	.profile{
		position: relative; 
		margin-top: 2%;
		max-width: 400px;
		img{
			position: relative;
			max-height: 200px;
			display: block;
			margin-left: auto;
	  		margin-right: auto;
	  		margin-bottom: 1rem;
			@include roundit;
		}
		i.fa {
			position: absolute;
			opacity: .1;
			z-index: 0;
			&.one 	{ top: 25px;  left: 60px;  font-size: 6rem; }
			&.two 	{ top: 110px; left: 75px;  font-size: 4rem; }
			&.three { top: 80px;  left: 270px; font-size: 5rem; }
		}
		h1, h2, h3 {
			color: $clr-body1;
		}
	}
	p {text-align: center;}
}


/*--------------------
home
--------------------*/
section{
}

.projectblocks{
	@media (max-width: 1250px) {
		padding: 0 2%;
	}
	li{
		height: 250px;
		width: 100%;
		position: relative;
		float: left;
		margin-bottom: 2%;
		@media (max-width: 650px) {
			height:150px;
		}
		p{
			position: absolute;
			bottom: -43px;
			left: 7px;
			span{
				display: block;
				color: $clr-lightest;
			}
		}
		h2{
			left: 20px;
		}

		img {
			position: absolute;
			top: 50%;
			width: 50%;
			margin-left: 25%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			resize: both;
			overflow: hidden;
			@media (max-width: 650px) {
				width: 80%;
				margin-left: 10%;
			}
		}
	}
	.gigya, .mediarecords{ 
		width: 32%; 
		margin-right: 2%;
	}
	.mediarecords{
		img{
			width: 30%;
			margin-left: 35%;
			@media (max-width: 650px) {
				width: 60%;
				margin-left: 20%;
			}
		}
	}
	.shuttercal, .nick{
		width: 66%;
		img{
			width: 65%;
			margin-left: 17.5%;
			@media (max-width: 650px) {
				width: 80%;
				margin-left: 10%;
			}
		}
	}
	.nick{
		img{
			width: 75%;
			margin-left: 12.5%;
			@media (max-width: 650px) {
				width: 80%;
				margin-left: 10%;
			}
		}
	}
	.moey, .amnh{
		width: 100%;
		img{
			width: 35%;
			margin-left: 32.5%;
			@media (max-width: 650px) {
				width: 55%;
				margin-left: 22.5%;
			}
		}
	}
}

.bg-gigya			{background: #eeeeff url(../images/gigya-bg.jpg) no-repeat center / 250%;}
#proj-section .bg-gigya {background: #eeeeff url(../images/gigya-bg.jpg) no-repeat center -300px / 130%;}
.bg-shuttercal		{background: orange url(../images/shuttercal-bg2.jpg) no-repeat center / 100%;}
.bg-moey			{background: skyblue url(../images/moey-bg.jpg) no-repeat center / 100%;}
.bg-amnh			{background: navy url(../images/amnh-bg.jpg) no-repeat center / 100%;}
.bg-mediarecords	{background: #333 url(../images/mediarecords-bg.png) no-repeat center / 205%;}
.projectheader.bg-mediarecords {background: #333 url(../images/mediarecords-bg2.png) no-repeat center / 110%;}
.bg-nick			{background: orange url(../images/nick-bg.jpg) no-repeat center / 100%;

}

/*--------------------
project pages
--------------------*/
.projectheader{
	height: 300px;
	width: 100%;
	position: relative;
	overflow: auto;
	@media (max-width: 900px) {
		height:230px;
	}
	img {
		position: absolute;
		top: 50%;
		width: 80%;
		margin-left: 10%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		resize: both;
		overflow: auto;
	}
	&.bg-gigya img 			{width: 40%; margin-left: 30%;}
	&.bg-shuttercal img 	{width: 56.5%; margin-left: 21.25%;}
	&.bg-moey img 			{width: 50%; margin-left: 25%;}
	&.bg-amnh img 			{width: 35%; margin-left: 32.5%;}
	&.bg-mediarecords img 	{width: 15%; margin-left: 42.5%;}
	.leftmenu{
		z-index: 2;
	}
}

.nick-tv{
	position: absolute;
	top: -135px;
	right: 0px;
	width: 100%;
	max-width: 520px;
	float: right;
	z-index: 2;
	@media (max-width: 975px) {
		display:none;}
	img{
		pointer-events: none;
	}
}
.nick-vid{
	position: absolute;
	top: 230px;
	right: 140px;
	float: right;
	z-index: -1;
}
.nick-vidfull{
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	@media (min-width: 975px) {
		display:none;
	}
}
.half.nick-intro{
	p{
		padding-right: 0!important; 
	}
	@media (max-width: 1070px) {
		width:45%;}
	@media (max-width: 975px) {
		width:100%;}	
}

.linebreak{
	display: inline-block;
	border-top: 2px dotted $clr-body;
	margin-top: 2rem;
	width: 100%;
	&.nick{border-color: $clr-nick;}
}

#proj-section{
	.proj-menu{ 
		position: absolute;
		top: 0;
		right: 0;
		a{
			float: right;
			margin: .75rem .75rem 0 0;
			color: $clr-lightest;
			&:hover
				{color: $clr-scd;}
		}
	}
	.bblock{
		padding: 4rem 2rem 2rem 2rem;
		@media (max-width: 600px) {
			padding: 2rem 1rem 1rem 1rem;}
	}
	.half, .onethird, .twothirds {
		@media (max-width: 700px) {
			width: 100%;}
		p{
			max-width: 770px;
			padding-right: 6rem; 
			@media (max-width: 700px) {
				width: 100%;
				padding-right: 0;}
		}
	}
	.title{
		text-align: left;
		float: left;
		width: 220px;
		clear: none;
		@media (max-width: 550px) {
			padding-top: 1rem;}
	}
	h2{
		display: inline-block;
		text-align: left;
		padding-bottom: .5rem;
	}
	.tools{
		padding-left: 1rem;
		float: right;
		@media (max-width: 900px) {
			padding-left: 4rem;}
		@media (max-width: 700px) {
			padding-left: 0;
			margin-bottom: 2rem;}
		ul{
			margin-top: 1rem;
			li{
				display: inline-block;
				float: left;
				width: 50%;
				padding-bottom: 5px;
				@media (max-width: 900px) {
					width: 100%;
					float: right;}
				@media (max-width: 700px) {
					width: 25%;
					float: left;}
				@media (max-width: 600px) {
					width: 12.5%;}
				span{
					display: inline-block;
	  				vertical-align: middle;
	  				@media (max-width: 600px) {
						display: none;}
				}
				img, i{
					vertical-align: middle;
					max-height: 40px;
					width: 40px;
					padding-right: 2px;
				}
				.fa{
					font-size: 2.1rem;
					text-align: center;
				}
			}
		}
	}
	&.gigya{
		.title, a{color: $clr-gigya;}
		a:hover{color: $clr-lightest;}
	}
	&.sc{
		.title, a{color: $clr-scd;}
		a:hover{color: $clr-scl;}
	}
	&.moey{
		a{color: $clr-moeyl}
		.title, a:hover{color: $clr-moey;}
	}
	&.amnh{
		.title, a{color: $clr-lightest}
		a:hover{color: $clr-amnhl;}
	}
	&.mr{
		.title, a{color: $clr-alert2}
		a:hover{color: $clr-alert1;}
	}
	&.nick{
		.title, a{color: $clr-nick}
		a:hover{color: $clr-nickl;}
	}
}

/*--------------------
footer
--------------------*/

.footer, .push {
	overflow: hidden;
	height: 50px; /* '.push' must be the same height as 'footer' */
}
.footer{
	max-width: 1200px;
	margin: 0 auto;
	p{
		text-align: center;
		line-height: 50px;
		height:50px;
		min-width: 100%;
		color: $clr-moey;
		background-color: $clr-moeyl;
	}
}
.projectnav{
	a, .blank{
		display: inline-block;
		float: left;
		text-align: center;
		height: 100px;
		width: 33.333%;
		color: $clr-moeyl;
		background-color: $clr-moey;
	}
	a{
		&:hover{
			background-color: $clr-moeyl;	
			color: $clr-moey;
			i{
				color: $clr-moey;
			}
		}
		i{
			vertical-align: middle;
			line-height: 100px;
			height: 100px;
			color: $clr-moeyl;
		}
	}
	&.hide{
		visibility: hidden;
	}
}

/*--------------------
facebook
--------------------*/
#fb{
	h2, h3, h4, p, ul{
		color: $clr-moeyd;
	}
	a{
		color: $clr-moey;
		&:hover{
			color: $clr-loud2;
		}
	}
	h1{
		margin-bottom: 2%;
	}
	.bblock{
		width:100%;
		padding: 0;
		margin-bottom: 10%;
		background-color: $clr-moeyl;
		.textblock{
			width: 46%;
			padding: 2%;
			float: left;
			@media (max-width: 650px) {
				width: 96%;
			}
		}
		.contentblock{
			width: 50%;
			float: right;
			@media (max-width: 650px) {
				width: 100%;
			}
			img{
				float: right;
				width: 100%;
			}
			iframe{
				float: right;
				max-width: 100%;
			}
			.vidhalfblock{
				float: right;
				width: 50%;
			}
			.downloadblock{
				width: 300px;
				height: 200px;
				max-width: 50%;
				float: right;
				background-color: $clr-moey;
				text-align: center;
				line-height: 50px;
				color: $clr-lightest;
			}
		}
	}
}

/*--------------------
animation
--------------------*/
.cogspinr {
	-webkit-animation: spin 8s infinite linear;
	-moz-animation: spin 8s infinite linear;
	-o-animation: spin 8s infinite linear;
	-ms-animation: spin 8s infinite linear;

		@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg);}
		100% { -webkit-transform: rotate(360deg);}
		}
		@-moz-keyframes spin {
		0% { -moz-transform: rotate(0deg);}
		100% { -moz-transform: rotate(360deg);}
		}
		@-o-keyframes spin {
		0% { -o-transform: rotate(0deg);}
		100% { -o-transform: rotate(360deg);}
		}
		@-ms-keyframes spin {
		0% { -ms-transform: rotate(0deg);}
		100% { -ms-transform: rotate(360deg);}
	}
}
.cogspinl {
	-webkit-animation: spin 8s infinite linear;
	-moz-animation: spin 8s infinite linear;
	-o-animation: spin 8s infinite linear;
	-ms-animation: spin 8s infinite linear;

		@-webkit-keyframes spin2 {
		100% { -webkit-transform: rotate(360deg);}
		0% { -webkit-transform: rotate(0deg);}
		}
		@-moz-keyframes spin2 {
		100% { -moz-transform: rotate(360deg);}
		0% { -moz-transform: rotate(0deg);}
		}
		@-o-keyframes spin2 {
		100% { -o-transform: rotate(360deg);}
		0% { -o-transform: rotate(0deg);}
		}
		@-ms-keyframes spin2 {
		100% { -ms-transform: rotate(360deg);}
		0% { -ms-transform: rotate(0deg);}
	}
}

/*--------------------
space and place
--------------------*/
.clear {clear:both;}
.cl {clear:left;}
.cr {clear:right;}
.outline {outline: 1px solid pink;}
.relbox {position: relative;}
.noclick {pointer-events: none;}

.shadow {@include shape-shadow;}
.noshadow {@include no-shadow;}

.txtc 	{text-align: center}
.txtl 	{text-align: left}
.txtr 	{text-align: right}

.bt 	{border-top: 1px $clr-body solid;}
.br 	{border-right: 1px $clr-body solid;}
.bb 	{border-bottom: 1px $clr-body solid;}
.bl 	{border-left: 1px $clr-body solid;}

.fc		{margin: 0 auto}
.fl 	{float: left;}
.fr 	{float: right;}
.fv		{vertical-align:middle;}
.fcc	{display: block; margin-left: auto; margin-right: auto; vertical-align:middle;}

/*margin rem*/
.mit 	{margin: 1rem}
.mt 	{margin-top: 1rem}
.mb 	{margin-bottom: 1rem}
.ml		{margin-left: 1rem}
.mr		{margin-right: 1rem}
.mw		{margin: 0 1rem}
.mh 	{margin: 1rem 0}
.nom	{margin: 0!important}
/*margin %*/
.mitp 	{margin: 2%}
.mtp 	{margin-top: 2%}
.mbp 	{margin-bottom: 2%}
.mlp	{margin-left: 2%}
.mrp	{margin-right: 2%}
.mwp	{margin: 0 2%}
.mhp	{margin: 2% 0}
/*pad rem*/
.pit 	{padding: 1rem}
.pt 	{padding-top: 1rem}
.pb 	{padding-bottom: 1rem}
.pl		{padding-left: 1rem}
.pr		{padding-right: 1rem}
.pw		{padding: 0 1rem}
.ph 	{padding: 1rem 0}
.nop	{padding: 0!important}
/*pad %*/
.pitp 	{padding: 2%}
.ptp 	{padding-top: 2%}
.pbp 	{padding-bottom: 2%}
.plp	{padding-left: 2%}
.prp	{padding-right: 2%}
.pwp	{padding: 0 2%}
.php 	{padding: 2% 0}

.maxw   {min-width: 100%}
.halfw	{max-width: 50%}