@import "colors";
@import "mixins";

* {
	margin: 0;
}
html, body {
	height: 100%;
}
#wrapper{
	min-height: 100%;
	margin: 0 auto -4rem; /* the bottom margin is the negative value of the footer's height */
	background-color: $clr-lightest;
}
#wrapper, .footer{
}

/*--------------------
text
--------------------*/
.txt-hand	{font-family: 'Nothing You Could Do', cursive;}
.txt-sketch	{font-family: 'Cabin Sketch', cursive; }
.txt-code	{font-family: 'Open Sans', sans-serif; }

h1, h2, h3{
	color: #999;
	text-align: center;
	clear: both;
}
h1{
	font-size: 2rem;
  	margin: .25rem 0;
}
h2{
	font-size: 1.25rem;
	margin: .5rem 0;
}
h3{
	display: block;
	text-align: left;
	margin: 0 0 .5rem 0;
}



/*--------------------
containers
--------------------*/
ul.halves{
	li{
		display: inline-block;
		float: left;
		width: 49.5%;
		margin: 0 1% 1% 0;
		background-color: pink;
		&:nth-child(2n+2) {
		    margin: 0 0 1% 0;
		}	
	}
}
ul.thirds{
	li{
		display: inline-block;
		float: left;
		width: 32.66%;
		margin: 0 1% 1% 0;
		background-color: pink;
		&:nth-child(3n+3) {
		    margin: 0 0 1% 0;
		}
	}
}
ul.fourths{
	li{
		display: inline-block;
		float: left;
		width: 24.25%;
		margin: 0 1% 1% 0;
		background-color: pink;
		&:nth-child(4n+4) {
		    margin: 0 0 1% 0;
		}	
	}
}

/*--------------------
header
--------------------*/
header{
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	max-height: 300px;
	padding: 1rem;
	background-color: $clr-lightest;

	img{
		max-height: 200px;
		display: block;
		margin-left: auto;
  		margin-right: auto;
		@include roundit;
	}

	ul.nav{
		padding: 10%;
		h3{
			color: $clr-plus1; 
		}
		li, li a{
			color: $clr-lightest;
			display: block;
			clear: both;
		}
	}
}

/*--------------------
sections
--------------------*/
section{
	position: relative;
	display: inline-block;
	width: 75%;
}

.bblock{
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	background: $clr-plus3;
	height: 400px; 
	
	h1, h2, h3{
		z-index: 3;
		text-align: left;
		margin-left: 1rem;
	}

	img.bg, img.logo{
	    position: absolute;
	    top: 50%;
	    left: 50%;
		margin: 0;
	    margin-right: -50%;
	    transform: translate(-50%, -50%)
	}
	img.logo{
		z-index: 2;
		max-width: 75%;
		max-height: 150px;
	}
	img.bg{
		z-index: 1;
		width: 100%;
		height: auto;
		opacity: .25;
	}
}

/*--------------------
footer
--------------------*/

.footer, .push {
	height: 4rem; /* '.push' must be the same height as 'footer' */
}
.footer{
	margin: 0 auto;
	background-color: $clr-lightest;
	p{
		padding-top: 1.5rem;
		text-align: center;
	}	
}

/*--------------------
space and place
--------------------*/
.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix {display:block;}
.clear {clear:both;}
.outline{outline: 1px solid pink;}

.txtc 	{text-align: center}
.txtl 	{text-align: left}
.txtr 	{text-align: right}

.fc		{margin: 0 auto}
.fcc	{display: block; margin-left: auto; margin-right: auto;}
.fl 	{float: left;}
.fr 	{float: right;}
.fv		{vertical-align:middle;}

.mit 	{margin: 1rem}
.ml		{margin-left: 1rem}
.mr		{margin-right: 1rem}
.mw		{margin: 0 1rem}
.mh 	{margin: 1rem 0}

.pit 	{padding: 1rem}
.pl		{padding-left: 1rem}
.pr		{padding-right: 1rem}
.pw		{padding: 0 1rem}
.ph 	{padding: 1rem 0}
