@import "colors";
@import "mixins";
	
$clr-lily: 		#F3B91E;		.clr-lily		{color: $clr-lily;}
$clr-lilyl:		#FFECCA;		.clr-lilyl		{color: $clr-lilyl;}
$clr-simon: 	#00AEEF;		.clr-simon		{color: $clr-simon;}
$clr-simonl: 	#A4DEF9;		.clr-simonl		{color: $clr-simonl;}
$clr-joanne:	#E9AF7F;		.clr-joanne		{color: $clr-joanne;}
$clr-joannel:	#E9AF7F;		.clr-joanne		{color: $clr-joannel;}
$clr-manuel:	#C3BC85;		.clr-manuel		{color: $clr-manuel;}
$clr-manuell:	#C3BC85;		.clr-manuell	{color: $clr-manuell;}
$clr-hannah:	#92445A;		.clr-hannah		{color: $clr-hannah;}
$clr-hannahl:	#92445A;		.clr-hannahl	{color: $clr-hannahl;}

h2, h3{
	font-size: 1.15rem;
	line-height: 1.45rem;
}

.maxwidth{
	width: 100% !important;
}

#proj-section h3 {
  display: inline-block;
  margin-bottom: 0;
}

.persona-nav{
	z-index: 2;
	position: absolute;
	background-color: #E6E7E8;
	width: 8%;
	min-width: 50px;
	height: 100%;
	li{
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		margin: 0 auto;
		width: 100%;
		padding-left: 5%;
		height: 16%;
		a.fa{
			padding-top: 1rem;
			height: 1rem;
		}
	}
}

.time-nav{
	z-index: 1;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 92.1%;
	height: 5%;
	background-color: white;

	li{
		display: inline-block;
		text-align: center;
		color: #00AEEF;
		width: 16.6%;
		height: 35px;
		float: left;
		line-height: 35px;
	}
	&.lily li{
		width: 6.66%;
	}
	&.simon li{
		width: 8.33%;
	}
}

.visited {
	background-color: #00AEEF;
}

.profilebox{
	position: relative;
	display: inline-block;
	float: right;
	width: 92%;
	min-height: 100%;
	background-color: white;

	h1, h2 {
		color: white;
	}
	@media (min-width: 650px) {
		&.joanne 	{background-color: $clr-joanne;}
		&.manuel	{background-color: $clr-manuel;}
		&.simon 	{background-color: $clr-simon;}
		&.lily 		{background-color: $clr-lily;}
		&.hannah 	{background-color: $clr-hannah;}
	}
}

.chapterbox{
	position: relative;
	display: inline-block;
	float: right;
	width: 92%;
	min-height: 100%;
	background-color: #ffffff;

	.chapter-bg{
		position: fixed;
		top: 0;
	}
	.fa-align-justify{
		position: fixed;
		left: 1rem;
		top: 1rem;
	}
	.fa-volume-up{
		position: fixed;
		left: 5rem;
		top: 1rem;
	}
}

.proj-menu {
	position: fixed;
	top: 43%;
	right: 0;
	width: 100%;

	.fa{
		position: relative;
		float: right;
		margin: 1rem 1rem 1rem 0;
	}
}

.profile-image{
	position: relative;
	display: inline-block;
	float: left;
	padding: 2% 5%;
	width: 40%;
}
.profile-text{
	position: relative;
	display: inline-block;
	float: left;
	width: 50%;
	padding: 3% 5%;
	color: white;
	h3{
		margin-bottom: 0;
	}
	h1, h2, h3, p{
		clear: none;
		padding: 0;
		color: white;

		@media (max-width: 650px) {
			color: $clr-body;
		}
	}
	@media (max-width: 650px) {
		float: right;
		width: 100%;
		padding: 2% 10%;

		h1{font-size: 1.15rem;}
		h2, {font-size: .75rem; font-weight: normal;}
		h2, h3{font-size: 1rem;}
	}
}

.test-pic{
	float: right;
	width: 25%;
	padding: 4%;
	@media (max-width: 600px) {
		width: 100%;
	}

}

.fc{
  position: absolute;
  top: 40%;
  left: 40%;
}

.chapter-text{
	position: absolute;
	top: 0;
	right: 0;
	margin: 2.5%;
	padding: 1% 1% 0 1%;
	z-index: 999;
	background-color: white;
	p{
		color: black;
	}
}

#lily{
	.profilebox .fa{color: $clr-lilyl;}
	.fa {color: $clr-lily;}
	.chapter-text {background-color: $clr-lily;}	
}
#simon{
	.profilebox .fa{color: $clr-simonl;}
	.fa {color: $clr-simon;}
	.chapter-text {background-color: $clr-simonl;}	
}

ul.circlemenu{
	li{
		display: inline-block;
		float: left;
		width: 20%;
		margin-top: 1rem;
		.full {
			width: 100%;
		}
		.half {
			width: 50%;
		}
		.forth {
			width: 25%;
		}
	}
}

.circle {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: $clr-simonl;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	overflow: hidden;

	&.joanne 	{background: $clr-joanne 	url(../images/pvd/pvd_icon-joanne.png) no-repeat center / 100%;}
	&.manuel	{background: $clr-manuel 	url(../images/pvd/pvd_icon-manuel.png) no-repeat center / 100%;}
	&.simon 	{background: $clr-simon 	url(../images/pvd/pvd_icon-simon.png) no-repeat center / 100%;}
	&.lily 		{background: $clr-lily 		url(../images/pvd/pvd_icon-lily.png) no-repeat center / 100%;}
	&.hannah 	{background: $clr-hannah 	url(../images/pvd/pvd_icon-hannah.png) no-repeat center / 100%;}

	&.joanne h2 	{background-color: $clr-joanne;}
	&.manuel h2		{background-color: $clr-manuel;}
	&.simon h2 		{background-color: $clr-simon;}
	&.lily h2 		{background-color: $clr-lily;}
	&.hannah h2 	{background-color: $clr-hannah;}

	h2{
		position: relative;
		top: 78%;
		padding: 4%;
		color: white;
	}
}



