@import "colors";
@import "mixins";

/* ----------------------------------------------
resets
-----------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-transform: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------------------------------
colors
-----------------------------------------------*/
/*--- defaults colors ----*/
$clr-lightest:		#FFFFFF;
$clr-darkest:		#000000;
$clr-tevagreen:		#00A785;
.clr-lightest		{color: $clr-lightest;}
.clr-darkest		{color: $clr-darkest;}
.clr-tevagreen		{color: pink;}
.clr-bg-lightest	{background-color: $clr-lightest;}
.clr-bg-darkest		{background-color: $clr-darkest;}
.clr-bg-tevagreen	{background-color: $clr-tevagreen;}

/*Backgrounds*/
$clr-bg-dark:		#34495E;
$clr-bg-darker:		#2D3E50;
$clr-bg-light:		#F0F4F5;
$clr-bg-lighter:	#FFFFFF;
.clr-bg-dark		{background-color: $clr-bg-dark}
.clr-bg-darker		{background-color: $clr-bg-darker}
.clr-bg-light		{background-color: $clr-bg-light}
.clr-bg-lighter		{background-color: $clr-bg-lighter}

/*body*/
$clr-body1:			#BDC3C8;
$clr-body2:			#9A9A9A;
$clr-body3:			#676767;
$clr-body4:			#3D3D3D;
$clr-link:			#3498DB;
$clr-linkl:			#D7EAF7;
.clr-body1			{color: $clr-body1}
.clr-body2			{color: $clr-body2}
.clr-body3			{color: $clr-body3}
.clr-body4			{color: $clr-body4}
.clr-link			{color: $clr-link}
.clr-linkl			{color: $clr-linkl}
.clr-bg-body1		{background-color: $clr-body1}
.clr-bg-body2		{background-color: $clr-body2}
.clr-bg-body3		{background-color: $clr-body3}
.clr-bg-body4		{background-color: $clr-body4}
.clr-bg-link		{background-color: $clr-link}
.clr-bg-linkl		{background-color: $clr-linkl}

/*Warm*/
$clr-warm1:			#EEC417;
$clr-warm2:			#F09E11;
$clr-warm3:			#E67F22;
$clr-warm4:			#D05300;
$clr-warm5:			#BF3930;
.clr-warm1			{color: $clr-warm1;}
.clr-warm2			{color: $clr-warm2;}
.clr-warm3			{color: $clr-warm3;}
.clr-warm4			{color: $clr-warm4;}
.clr-warm5			{color: $clr-warm5;}
.clr-bg-warm1		{background-color: $clr-warm1;}
.clr-bg-warm2		{background-color: $clr-warm2;}
.clr-bg-warm3		{background-color: $clr-warm3;}
.clr-bg-warm4		{background-color: $clr-warm4;}
.clr-bg-warm5		{background-color: $clr-warm5;}

/*positive/negative*/
$clr-pos1:			#2ECC71;
$clr-pos2:			$clr-tevagreen;
$clr-neg1:			#F4938B;
$clr-neg2:			#E74C3C;
.clr-pos1			{color: $clr-pos1;}
.clr-pos2			{color: $clr-pos2;}
.clr-neg1 			{color: $clr-neg1;}
.clr-neg2			{color: $clr-neg2;}
.clr-bg-pos1		{background-color: $clr-pos1;}
.clr-bg-pos2		{background-color: $clr-pos2;}
.clr-bg-neg1 		{background-color: $clr-neg1;}
.clr-bg-neg2		{background-color: $clr-neg2;}

/*spectrum*/
$clr-yellow1:		#f1c40f;
$clr-green1:		$clr-pos1;
$clr-aqua1:			#1abc9c;
$clr-purple1:		#9b59b6;
.clr-yellow1		{color: $clr-yellow1;}
.clr-green1			{color: $clr-green1;}
.clr-aqua1			{color: $clr-aqua1;}
.clr-purple1		{color: $clr-purple1;}
.clr-bg-yellow1		{background-color: $clr-yellow1;}
.clr-bg-green1		{background-color: $clr-green1;}
.clr-bg-aqua1		{background-color: $clr-aqua1;}
.clr-bg-purple1		{background-color: $clr-purple1;}

/* ----------------------------------------------
containers
-----------------------------------------------*/
* {
	margin: 0;
	box-sizing: border-box;
}
html, body {
	line-height: 1.6rem;
	height: 100%;
	background-color: $clr-body5;
}
#wrapper {
	max-width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */
	background-color: $clr-body5;
}
/* ----------------------------------------------
text
-----------------------------------------------*/
body{font-size: 12px;}

body, h1, h2, h3, h4, h5, h6, p, a, button{
	font-family: "ProximaNova-Regular", Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: left;
	color: $clr-body4;
}
h1{
	font-size: 24px;
	font-weight: lighter;
}
h2{
	font-size: 18px;
	color: $clr-body3;
	font-weight: lighter;
}
h3{
	font-size: 16px;
	color: $clr-body2;
	font-weight: lighter;
}
h4{
	font-size: 12.75px;
	font-weight: normal;
}
h5{
}
h6, a, button{
	font-size: 12px;
	color: $clr-link;
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
	&:hover{
		color: $clr-link;
	}
}

p{
	font-size: 12px;
}

.fa{
	font-size: 26px;
	color: $clr-link;
}


button {
	display: inline-block;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	line-height: 12px;
	height: 40px;
	margin: 0;
	padding: 0 1rem;
	border: none;
	color: $clr-lightest;
	background-color: $clr-link;
	border-radius: 4px;
	cursor: pointer;
	&:hover{
		color: $clr-lightest;
	}
}

.box{
	min-height: 10px;
	background-color: $clr-bg-light;
	outline: 1px solid $clr-body1;
}

header{
	position: relative;
	display: inline-block;
	width: 100%;
	background-color: $clr-bg-darker;
	height: 70px;
	
	.logobox{
		position: relative;
		display: inline-block;
		width: 10%;
		height: 70px;
		float: left;
	
		img{
			position: relative;
		    top: 50%;
			float: left;
			margin: 0 5%;
			transform: translate(0, -50%);
			width: 90%;
			max-width: 70px;
		}
	}
	.menubox{
		position: relative;
		display: inline-block;
		width: 80%;
		height: 70px;
		@media (max-width: 800px) {
			width: 90%;
			padding: 0 1% 0 5%;
		}
	}
	.username{
		position: absolute;
	    top: 50%;
	    left: 0;
	    transform: translate(0, -50%);
		color: $clr-lightest;
		@media (max-width: 800px) {
			left: 5%;
		}
	}
	.fa{
		position: relative;
	    top: 50%;
		float: right;
		margin-left: 3%;
		transform: translate(0, -50%);
		&:hover{
			color: $clr-linkl;
		}
	}
	.selected{
		color: $clr-lightest;
	}
}

.dose{
	width: 12px;
	height: 12px;
	background-color: $clr-link;
	border-radius: 50% 50%;
}
.taken			{background-color: $clr-link;}
.missed 		{background-color: $clr-body1;}
.invalid		{background-color: $clr-darkest;}
.morning		{background-color: $clr-warm1;}
.noon			{background-color: $clr-warm2;}
.evening		{background-color: $clr-warm4;}
.night 			{background-color: $clr-bg-dark;}
.coached 		{background-color: $clr-pos1;}

.listcontainer{
	position: relative;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
	min-width: 600px;
	margin-top: 2rem;
	@media (max-width: 800px) {
			width: 98%;
	}
	
	.listheader{
		position: relative;
		display: block;
		width: 100%;
		height: 60px;
		padding: 0 1rem;
		background-color: $clr-bg-dark;
		color: $clr-lightest;
		p{
			color: $clr-lightest;
		}
	}
	.siteheader{
		position: relative;
		display: block;
		height: 30px;
		padding: 0 1rem;
		background-color: $clr-bg-darker;
		h2{
			color: $clr-lightest;
			clear: none;
		}
	}
	.listitem{
		position: relative;
		display: block;
		height: 30px;
		padding: 0 1rem;
		margin: 0 1px;
		top: -1px;
		background-color: $clr-bg-light;
		outline: 1px solid $clr-body1;
		&:nth-child(even){
			background-color: $clr-bg-lighter;
		}
		.fa{
			color: $clr-body1;
			float: left;
		}
		&:hover, &.selected{
			background-color: $clr-linkl;
			outline: 1px solid $clr-link;
			z-index: 2;
			.fa{
				color: $clr-link;
			}
		}
	}
	.patientprofile{
		position: relative;
		display: block;
		top: -1rem;
		.contactbar{
			padding-top: 2rem;
			width: 100%
		}
		.leftstack{
			position: relative;
			display: inline-block;
			float: left;
			clear: none;
			width: 66%;

			.calbox{
				width: 100%;
				margin-bottom: 1rem; 
				.datebar{
					display: inline-block;
					width: 100%;
					height: 72px;
					button{
						float: right;
					}
					h1, .fa{
						float: left;
						clear: none;
						padding-right: .5rem;
					}
				}
				.weekbar{
					position: relative;
					display: block;
					top: 9px;
					li{
						float: left;
						position: relative;
						width: 14.285%;
						text-align: center;
					}
				}
				.monthbox{
					position: relative;
					display: inline-block;
					width: 100%;
					top: 9px;

				}
				.daybox{
					position: relative;
					width: 14.285%;
					min-height: 88px;
					float: left;
					background-color: $clr-bg-light;
					outline: 1px solid $clr-body1;
					&:hover{
						background-color: $clr-linkl;
						outline: 1px solid $clr-link;
						z-index: 2;
					}
					h1{
						position: relative;
						top: 1rem;
						color: $clr-neg2;
						text-align: center;
					}
					h6{
						position: absolute;
						top: 0;
						right: 0;
						padding: 0 .25rem;
					}
					.dayfeeling{
						position: relative;
						top: 1rem;
						height: 5px;
						width: 100%;
						background-color: $clr-warm1;
					}
					.d2{background-color: $clr-warm2;}
					.d3{background-color: $clr-warm3;}
					.d4{background-color: $clr-warm4;}
					.d5{background-color: $clr-warm5;}
					.doses{
						position: relative;
						display: inline-block;
						top: 1rem;
						width: 100%;
						padding-top: 5px;
						.dose{
							width: 12px;
							height: 12px;
							margin-right: auto;
							margin-left: auto;
							border-radius: 50% 50%;
						}
					}
				}
			}
		}
		.rightstack{
			position: relative;
			display: inline-block;
			float: right;
			clear: right;
			width: 32.5%;
			.maintbox, .rescuebox, .coachbox{
				padding: 1rem;
				margin-bottom: 1rem;
				h1{
					padding-bottom: .33rem;
				}
				h2{
					padding-top: 1rem;
				}
				h4{
					position: relative;
					display: inline-block;
					clear: none;
					padding: 0 .5rem;
					top: -3px;
				}
				.medstats{
					position: relative;
					display: inline-block;
					float: right;
					padding-top: 1rem;
					width: 100px;
					.dose{
						position: relative;
						display: inline-block;
					}	
					li h4{
						top: -1px;
					}
					span{
						padding: 0 .33rem;
						color: $clr-darkest;
					}
				}
				.fa-moon-o{color: $clr-bg-dark}
				.fa-sun-o{color: $clr-warm1}
			}
			.rescuebox .fa{color: $clr-neg2;}
			.coachbox .fa{color: $clr-pos1;}
		}
	}
}